@use 'sass:map';
@use '../../themes/schemas';
@use '../../themes/mixins' as *;
@use '../../themes/functions' as *;
@use '../mixins' as * with (
    $theme-schemas: (
        light: schemas.$light-indigo-schema,
        dark: schemas.$dark-indigo-schema,
    )
);
@use 'common' as *;

// Common tailwind utilites
@include tailwind-themes();

// Theme specific utilities
// Slider
@include tailwind-theme(
    $component: slider,
    $props: (
        track-color,
        base-track-color,
    )
);

// Switch
@include tailwind-theme(
    $component: switch,
    $props: (
        thumb-off-color,
        track-on-color,
    )
);
