/* stylelint-disable scss/operator-no-unspaced */
/* stylelint-disable scss/at-rule-no-unknown */
@theme {
  --color-primary-50: var(--ig-primary-50);
  --color-primary-100: var(--ig-primary-100);
  --color-primary-200: var(--ig-primary-200);
  --color-primary-300: var(--ig-primary-300);
  --color-primary-400: var(--ig-primary-400);
  --color-primary-500: var(--ig-primary-500);
  --color-primary-600: var(--ig-primary-600);
  --color-primary-700: var(--ig-primary-700);
  --color-primary-800: var(--ig-primary-800);
  --color-primary-900: var(--ig-primary-900);
  --color-primary-A100: var(--ig-primary-A100);
  --color-primary-A200: var(--ig-primary-A200);
  --color-primary-A400: var(--ig-primary-A400);
  --color-primary-A700: var(--ig-primary-A700);
  --color-secondary-50: var(--ig-secondary-50);
  --color-secondary-100: var(--ig-secondary-100);
  --color-secondary-200: var(--ig-secondary-200);
  --color-secondary-300: var(--ig-secondary-300);
  --color-secondary-400: var(--ig-secondary-400);
  --color-secondary-500: var(--ig-secondary-500);
  --color-secondary-600: var(--ig-secondary-600);
  --color-secondary-700: var(--ig-secondary-700);
  --color-secondary-800: var(--ig-secondary-800);
  --color-secondary-900: var(--ig-secondary-900);
  --color-secondary-A100: var(--ig-secondary-A100);
  --color-secondary-A200: var(--ig-secondary-A200);
  --color-secondary-A400: var(--ig-secondary-A400);
  --color-secondary-A700: var(--ig-secondary-A700);
  --color-gray-50: var(--ig-gray-50);
  --color-gray-100: var(--ig-gray-100);
  --color-gray-200: var(--ig-gray-200);
  --color-gray-300: var(--ig-gray-300);
  --color-gray-400: var(--ig-gray-400);
  --color-gray-500: var(--ig-gray-500);
  --color-gray-600: var(--ig-gray-600);
  --color-gray-700: var(--ig-gray-700);
  --color-gray-800: var(--ig-gray-800);
  --color-gray-900: var(--ig-gray-900);
  --color-surface-50: var(--ig-surface-50);
  --color-surface-100: var(--ig-surface-100);
  --color-surface-200: var(--ig-surface-200);
  --color-surface-300: var(--ig-surface-300);
  --color-surface-400: var(--ig-surface-400);
  --color-surface-500: var(--ig-surface-500);
  --color-surface-600: var(--ig-surface-600);
  --color-surface-700: var(--ig-surface-700);
  --color-surface-800: var(--ig-surface-800);
  --color-surface-900: var(--ig-surface-900);
  --color-surface-A100: var(--ig-surface-A100);
  --color-surface-A200: var(--ig-surface-A200);
  --color-surface-A400: var(--ig-surface-A400);
  --color-surface-A700: var(--ig-surface-A700);
  --color-info-50: var(--ig-info-50);
  --color-info-100: var(--ig-info-100);
  --color-info-200: var(--ig-info-200);
  --color-info-300: var(--ig-info-300);
  --color-info-400: var(--ig-info-400);
  --color-info-500: var(--ig-info-500);
  --color-info-600: var(--ig-info-600);
  --color-info-700: var(--ig-info-700);
  --color-info-800: var(--ig-info-800);
  --color-info-900: var(--ig-info-900);
  --color-info-A100: var(--ig-info-A100);
  --color-info-A200: var(--ig-info-A200);
  --color-info-A400: var(--ig-info-A400);
  --color-info-A700: var(--ig-info-A700);
  --color-success-50: var(--ig-success-50);
  --color-success-100: var(--ig-success-100);
  --color-success-200: var(--ig-success-200);
  --color-success-300: var(--ig-success-300);
  --color-success-400: var(--ig-success-400);
  --color-success-500: var(--ig-success-500);
  --color-success-600: var(--ig-success-600);
  --color-success-700: var(--ig-success-700);
  --color-success-800: var(--ig-success-800);
  --color-success-900: var(--ig-success-900);
  --color-success-A100: var(--ig-success-A100);
  --color-success-A200: var(--ig-success-A200);
  --color-success-A400: var(--ig-success-A400);
  --color-success-A700: var(--ig-success-A700);
  --color-warn-50: var(--ig-warn-50);
  --color-warn-100: var(--ig-warn-100);
  --color-warn-200: var(--ig-warn-200);
  --color-warn-300: var(--ig-warn-300);
  --color-warn-400: var(--ig-warn-400);
  --color-warn-500: var(--ig-warn-500);
  --color-warn-600: var(--ig-warn-600);
  --color-warn-700: var(--ig-warn-700);
  --color-warn-800: var(--ig-warn-800);
  --color-warn-900: var(--ig-warn-900);
  --color-warn-A100: var(--ig-warn-A100);
  --color-warn-A200: var(--ig-warn-A200);
  --color-warn-A400: var(--ig-warn-A400);
  --color-warn-A700: var(--ig-warn-A700);
  --color-error-50: var(--ig-error-50);
  --color-error-100: var(--ig-error-100);
  --color-error-200: var(--ig-error-200);
  --color-error-300: var(--ig-error-300);
  --color-error-400: var(--ig-error-400);
  --color-error-500: var(--ig-error-500);
  --color-error-600: var(--ig-error-600);
  --color-error-700: var(--ig-error-700);
  --color-error-800: var(--ig-error-800);
  --color-error-900: var(--ig-error-900);
  --color-error-A100: var(--ig-error-A100);
  --color-error-A200: var(--ig-error-A200);
  --color-error-A400: var(--ig-error-A400);
  --color-error-A700: var(--ig-error-A700);
  --shadow-elevation-0: var(--ig-elevation-0);
  --shadow-elevation-1: var(--ig-elevation-1);
  --shadow-elevation-2: var(--ig-elevation-2);
  --shadow-elevation-3: var(--ig-elevation-3);
  --shadow-elevation-4: var(--ig-elevation-4);
  --shadow-elevation-5: var(--ig-elevation-5);
  --shadow-elevation-6: var(--ig-elevation-6);
  --shadow-elevation-7: var(--ig-elevation-7);
  --shadow-elevation-8: var(--ig-elevation-8);
  --shadow-elevation-9: var(--ig-elevation-9);
  --shadow-elevation-10: var(--ig-elevation-10);
  --shadow-elevation-11: var(--ig-elevation-11);
  --shadow-elevation-12: var(--ig-elevation-12);
  --shadow-elevation-13: var(--ig-elevation-13);
  --shadow-elevation-14: var(--ig-elevation-14);
  --shadow-elevation-15: var(--ig-elevation-15);
  --shadow-elevation-16: var(--ig-elevation-16);
  --shadow-elevation-17: var(--ig-elevation-17);
  --shadow-elevation-18: var(--ig-elevation-18);
  --shadow-elevation-19: var(--ig-elevation-19);
  --shadow-elevation-20: var(--ig-elevation-20);
  --shadow-elevation-21: var(--ig-elevation-21);
  --shadow-elevation-22: var(--ig-elevation-22);
  --shadow-elevation-23: var(--ig-elevation-23);
  --shadow-elevation-24: var(--ig-elevation-24);
  --text-h1: var(--ig-h1-font-size);
  --font-weight-h1: var(--ig-h1-font-weight);
  --text-h2: var(--ig-h2-font-size);
  --font-weight-h2: var(--ig-h2-font-weight);
  --text-h3: var(--ig-h3-font-size);
  --font-weight-h3: var(--ig-h3-font-weight);
  --text-h4: var(--ig-h4-font-size);
  --font-weight-h4: var(--ig-h4-font-weight);
  --text-h5: var(--ig-h5-font-size);
  --font-weight-h5: var(--ig-h5-font-weight);
  --text-h6: var(--ig-h6-font-size);
  --font-weight-h6: var(--ig-h6-font-weight);
  --text-subtitle-1: var(--ig-subtitle-1-font-size);
  --font-weight-subtitle-1: var(--ig-subtitle-1-font-weight);
  --text-subtitle-2: var(--ig-subtitle-2-font-size);
  --font-weight-subtitle-2: var(--ig-subtitle-2-font-weight);
  --text-body-1: var(--ig-body-1-font-size);
  --font-weight-body-1: var(--ig-body-1-font-weight);
  --text-body-2: var(--ig-body-2-font-size);
  --font-weight-body-2: var(--ig-body-2-font-weight);
  --text-button: var(--ig-button-font-size);
  --font-weight-button: var(--ig-button-font-weight);
  --text-caption: var(--ig-caption-font-size);
  --font-weight-caption: var(--ig-caption-font-weight);
  --text-overline: var(--ig-overline-font-size);
  --font-weight-overline: var(--ig-overline-font-weight);
  --font-ig: var(--ig-font-family);
  --text-base: var(--ig-base-font-size);
}
@utility styles-h1 {
  font-family: var(--ig-h1-font-family);
  font-size: var(--ig-h1-font-size);
  font-weight: var(--ig-h1-font-weight);
  font-style: var(--ig-h1-font-style);
  line-height: var(--ig-h1-line-height);
  letter-spacing: var(--ig-h1-letter-spacing);
  text-transform: var(--ig-h1-text-transform);
  margin-top: var(--ig-h1-margin-top);
  margin-bottom: var(--ig-h1-margin-bottom);
}
@utility styles-h2 {
  font-family: var(--ig-h2-font-family);
  font-size: var(--ig-h2-font-size);
  font-weight: var(--ig-h2-font-weight);
  font-style: var(--ig-h2-font-style);
  line-height: var(--ig-h2-line-height);
  letter-spacing: var(--ig-h2-letter-spacing);
  text-transform: var(--ig-h2-text-transform);
  margin-top: var(--ig-h2-margin-top);
  margin-bottom: var(--ig-h2-margin-bottom);
}
@utility styles-h3 {
  font-family: var(--ig-h3-font-family);
  font-size: var(--ig-h3-font-size);
  font-weight: var(--ig-h3-font-weight);
  font-style: var(--ig-h3-font-style);
  line-height: var(--ig-h3-line-height);
  letter-spacing: var(--ig-h3-letter-spacing);
  text-transform: var(--ig-h3-text-transform);
  margin-top: var(--ig-h3-margin-top);
  margin-bottom: var(--ig-h3-margin-bottom);
}
@utility styles-h4 {
  font-family: var(--ig-h4-font-family);
  font-size: var(--ig-h4-font-size);
  font-weight: var(--ig-h4-font-weight);
  font-style: var(--ig-h4-font-style);
  line-height: var(--ig-h4-line-height);
  letter-spacing: var(--ig-h4-letter-spacing);
  text-transform: var(--ig-h4-text-transform);
  margin-top: var(--ig-h4-margin-top);
  margin-bottom: var(--ig-h4-margin-bottom);
}
@utility styles-h5 {
  font-family: var(--ig-h5-font-family);
  font-size: var(--ig-h5-font-size);
  font-weight: var(--ig-h5-font-weight);
  font-style: var(--ig-h5-font-style);
  line-height: var(--ig-h5-line-height);
  letter-spacing: var(--ig-h5-letter-spacing);
  text-transform: var(--ig-h5-text-transform);
  margin-top: var(--ig-h5-margin-top);
  margin-bottom: var(--ig-h5-margin-bottom);
}
@utility styles-h6 {
  font-family: var(--ig-h6-font-family);
  font-size: var(--ig-h6-font-size);
  font-weight: var(--ig-h6-font-weight);
  font-style: var(--ig-h6-font-style);
  line-height: var(--ig-h6-line-height);
  letter-spacing: var(--ig-h6-letter-spacing);
  text-transform: var(--ig-h6-text-transform);
  margin-top: var(--ig-h6-margin-top);
  margin-bottom: var(--ig-h6-margin-bottom);
}
@utility styles-subtitle-1 {
  font-family: var(--ig-subtitle-1-font-family);
  font-size: var(--ig-subtitle-1-font-size);
  font-weight: var(--ig-subtitle-1-font-weight);
  font-style: var(--ig-subtitle-1-font-style);
  line-height: var(--ig-subtitle-1-line-height);
  letter-spacing: var(--ig-subtitle-1-letter-spacing);
  text-transform: var(--ig-subtitle-1-text-transform);
  margin-top: var(--ig-subtitle-1-margin-top);
  margin-bottom: var(--ig-subtitle-1-margin-bottom);
}
@utility styles-subtitle-2 {
  font-family: var(--ig-subtitle-2-font-family);
  font-size: var(--ig-subtitle-2-font-size);
  font-weight: var(--ig-subtitle-2-font-weight);
  font-style: var(--ig-subtitle-2-font-style);
  line-height: var(--ig-subtitle-2-line-height);
  letter-spacing: var(--ig-subtitle-2-letter-spacing);
  text-transform: var(--ig-subtitle-2-text-transform);
  margin-top: var(--ig-subtitle-2-margin-top);
  margin-bottom: var(--ig-subtitle-2-margin-bottom);
}
@utility styles-body-1 {
  font-family: var(--ig-body-1-font-family);
  font-size: var(--ig-body-1-font-size);
  font-weight: var(--ig-body-1-font-weight);
  font-style: var(--ig-body-1-font-style);
  line-height: var(--ig-body-1-line-height);
  letter-spacing: var(--ig-body-1-letter-spacing);
  text-transform: var(--ig-body-1-text-transform);
  margin-top: var(--ig-body-1-margin-top);
  margin-bottom: var(--ig-body-1-margin-bottom);
}
@utility styles-body-2 {
  font-family: var(--ig-body-2-font-family);
  font-size: var(--ig-body-2-font-size);
  font-weight: var(--ig-body-2-font-weight);
  font-style: var(--ig-body-2-font-style);
  line-height: var(--ig-body-2-line-height);
  letter-spacing: var(--ig-body-2-letter-spacing);
  text-transform: var(--ig-body-2-text-transform);
  margin-top: var(--ig-body-2-margin-top);
  margin-bottom: var(--ig-body-2-margin-bottom);
}
@utility styles-button {
  font-family: var(--ig-button-font-family);
  font-size: var(--ig-button-font-size);
  font-weight: var(--ig-button-font-weight);
  font-style: var(--ig-button-font-style);
  line-height: var(--ig-button-line-height);
  letter-spacing: var(--ig-button-letter-spacing);
  text-transform: var(--ig-button-text-transform);
  margin-top: var(--ig-button-margin-top);
  margin-bottom: var(--ig-button-margin-bottom);
}
@utility styles-caption {
  font-family: var(--ig-caption-font-family);
  font-size: var(--ig-caption-font-size);
  font-weight: var(--ig-caption-font-weight);
  font-style: var(--ig-caption-font-style);
  line-height: var(--ig-caption-line-height);
  letter-spacing: var(--ig-caption-letter-spacing);
  text-transform: var(--ig-caption-text-transform);
  margin-top: var(--ig-caption-margin-top);
  margin-bottom: var(--ig-caption-margin-bottom);
}
@utility styles-overline {
  font-family: var(--ig-overline-font-family);
  font-size: var(--ig-overline-font-size);
  font-weight: var(--ig-overline-font-weight);
  font-style: var(--ig-overline-font-style);
  line-height: var(--ig-overline-line-height);
  letter-spacing: var(--ig-overline-letter-spacing);
  text-transform: var(--ig-overline-text-transform);
  margin-top: var(--ig-overline-margin-top);
  margin-bottom: var(--ig-overline-margin-bottom);
}