@use 'sass:map';
@use '../../config';
@use '../../functions' as *;
@use '../../schemas/' as *;
@use '../../../utils/map' as *;
@use '../../../color/functions' as *;
@use '../../../elevations/' as *;

////
/// @package theming
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// If only header background color is specified, that color will be
/// used as the leading color for all accented elements, such as:
/// - current date color
/// - selected date background
/// - picker elements hover colors
/// - year/month hover/selected colors
/// If only background colors are specified, text/icon colors
/// will be assigned automatically to a contrasting color.
/// @param {Map} $schema [$light-material-schema] - The schema used as basis for styling the component.
///
/// @param {Number} $size [null] - Size of days, months, and years views.
/// @param {Number} $inner-size [null] - Inner size for calendar elements.
/// @param {Color} $weekday-color [null] - Color for weekday labels.
/// @param {Color} $actions-divider-color [null] - Divider color for date-picker actions.
/// @param {List} $border-radius [null] - Border radius for calendar container.
/// @param {Color} $content-background [null] - Background color for calendar.
/// @param {Color} $border-color [null] - Border color for calendar container.
/// @param {Color} $header-background [null] - Header background color.
/// @param {Color} $header-foreground [null] - Header foreground color.
/// @param {Color} $picker-foreground [null] - Foreground for the calendar picker.
/// @param {Color} $picker-background [null] - Background for the calendar picker.
/// @param {Color} $picker-hover-foreground [null] - :Hover foreground for the calendar picker.
/// @param {Color} $picker-focus-foreground [null] - :Focus foreground for the calendar picker.
/// @param {Color} $navigation-color [null] - Icon color for month navigation.
/// @param {Color} $navigation-hover-color [null] - :Hover color for navigation icons.
/// @param {Color} $navigation-focus-color [null] - :Focus color for navigation icons.
/// @param {List} $ym-border-radius [null] - Border radius for year/month views.
/// @param {Color} $ym-hover-foreground [null] - :Hover foreground for year/month.
/// @param {Color} $ym-hover-background [null] - :Hover background for year/month.
/// @param {Color} $ym-current-outline-color [null] - Outline color for current year/month.
/// @param {Color} $ym-current-outline-hover-color [null] - :Hover outline color for current year/month.
/// @param {Color} $ym-current-outline-focus-color [null] - :Focus outline color for current year/month.
/// @param {Color} $ym-current-background [null] - Background for current year/month.
/// @param {Color} $ym-current-foreground [null] - Foreground for current year/month.
/// @param {Color} $ym-current-hover-foreground [null] - :Hover foreground for current year/month.
/// @param {Color} $ym-current-hover-background [null] - :Hover background for current year/month.
/// @param {Color} $ym-selected-outline-color [null] - Outline color for selected year/month.
/// @param {Color} $ym-selected-hover-outline-color [null] - :Hover outline color for selected year/month.
/// @param {Color} $ym-selected-focus-outline-color [null] - :Focus outline color for selected year/month.
/// @param {Color} $ym-selected-foreground [null] - Foreground for selected year/month.
/// @param {Color} $ym-selected-background [null] - Background for selected year/month.
/// @param {Color} $ym-selected-hover-foreground [null] - :Hover foreground for selected year/month.
/// @param {Color} $ym-selected-hover-background [null] - :Hover background for selected year/month.
/// @param {Color} $ym-selected-current-outline-color [null] - Outline color for selected current year/month.
/// @param {Color} $ym-selected-current-outline-hover-color [null] - :Hover outline color for selected current year/month.
/// @param {Color} $ym-selected-current-outline-focus-color [null] - :Focus outline color for selected current year/month.
/// @param {Color} $ym-selected-current-foreground [null] - Foreground for selected current year/month.
/// @param {Color} $ym-selected-current-background [null] - Background for selected current year/month.
/// @param {Color} $ym-selected-current-hover-foreground [null] - :Hover foreground for selected current year/month.
/// @param {Color} $ym-selected-current-hover-background [null] - :Hover background for selected current year/month.
/// @param {List} $week-number-border-radius [null] - Border radius for week number column.
/// @param {Color} $week-number-foreground [null] - Foreground for week number column.
/// @param {Color} $week-number-background [null] - Background for week number column.
/// @param {Color} $content-foreground [null] - The foreground color for idle dates.
/// @param {Color} $weekend-color [null] - Color for weekend days.
/// @param {Color} $inactive-color [null] - Color for inactive dates (outside current month).
/// @param {List} $date-border-radius [null] - Border radius for date cells.
/// @param {Color} $date-border-color [null] - Border color for date cells.
/// @param {Color} $date-hover-border-color [null] - :Hover border color for date cells.
/// @param {Color} $date-focus-border-color [null] - :Focus border color for date cells.
/// @param {Color} $date-hover-background [null] - :Hover background for date cells.
/// @param {Color} $date-focus-background [null] - :Focus background for date cells.
/// @param {Color} $date-hover-foreground [null] - :Hover foreground for date cells.
/// @param {Color} $date-focus-foreground [null] - :Focus foreground for date cells.
/// @param {Color} $date-selected-border-color [null] - Border color for selected date.
/// @param {Color} $date-selected-hover-border-color [null] - :Hover border color for selected date.
/// @param {Color} $date-selected-focus-border-color [null] - :Focus border color for selected date.
/// @param {Color} $date-selected-background [null] - Background for selected date.
/// @param {Color} $date-selected-foreground [null] - Foreground for selected date.
/// @param {Color} $date-selected-hover-background [null] - :Hover background for selected date.
/// @param {Color} $date-selected-focus-background [null] - :Focus background for selected date.
/// @param {Color} $date-selected-hover-foreground [null] - :Hover foreground for selected date.
/// @param {Color} $date-selected-focus-foreground [null] - :Focus foreground for selected date.
/// @param {Color} $date-selected-special-border-color [null] - Border color for selected special date.
/// @param {Color} $date-selected-special-hover-border-color [null] - :Hover border color for selected special date.
/// @param {Color} $date-selected-special-focus-border-color [null] - :Focus border color for selected special date.
/// @param {Color} $date-selected-special-background [null] - Background for selected special date.
/// @param {Color} $date-selected-special-foreground [null] - Foreground for selected special date.
/// @param {Color} $date-selected-special-hover-background [null] - :Hover background for selected special date.
/// @param {Color} $date-selected-special-focus-background [null] - :Focus background for selected special date.
/// @param {Color} $date-selected-special-hover-foreground [null] - :Hover foreground for selected special date.
/// @param {Color} $date-selected-special-focus-foreground [null] - :Focus foreground for selected special date.
/// @param {List} $date-range-border-radius [null] - Border radius for date range selection.
/// @param {Color} $date-range-border-color [null] - Border color for date range selection.
/// @param {Color} $date-range-preview-border-color [null] - Preview border color for date range selection.
/// @param {Color} $date-selected-range-foreground [null] - Foreground for dates in selected range.
/// @param {Color} $date-selected-range-background [null] - Background for dates in selected range.
/// @param {Color} $date-selected-range-hover-foreground [null] - :Hover foreground for dates in selected range.
/// @param {Color} $date-selected-range-hover-background [null] - :Hover background for dates in selected range.
/// @param {Color} $date-selected-range-focus-foreground [null] - :Focus foreground for dates in selected range.
/// @param {Color} $date-selected-range-focus-background [null] - :Focus background for dates in selected range.
/// @param {Color} $date-selected-current-range-foreground [null] - Foreground for current date in selected range.
/// @param {Color} $date-selected-current-range-background [null] - Background for current date in selected range.
/// @param {Color} $date-selected-current-range-hover-foreground [null] - :Hover foreground for current date in selected range.
/// @param {Color} $date-selected-current-range-hover-background [null] - :Hover background for current date in selected range.
/// @param {Color} $date-selected-current-range-focus-foreground [null] - :Focus foreground for current date in selected range.
/// @param {Color} $date-selected-current-range-focus-background [null] - :Focus background for current date in selected range.
/// @param {List} $date-current-border-radius [null] - Border radius for current date.
/// @param {Color} $date-current-border-color [null] - Border color for current date.
/// @param {Color} $date-current-hover-border-color [null] - :Hover border color for current date.
/// @param {Color} $date-current-focus-border-color [null] - :Focus border color for current date.
/// @param {Color} $date-current-background [null] - Background for current date.
/// @param {Color} $date-current-foreground [null] - Foreground for current date.
/// @param {Color} $date-current-hover-background [null] - :Hover background for current date.
/// @param {Color} $date-current-focus-background [null] - :Focus background for current date.
/// @param {Color} $date-current-hover-foreground [null] - :Hover foreground for current date.
/// @param {Color} $date-current-focus-foreground [null] - :Focus foreground for current date.
/// @param {Color} $date-selected-current-border-color [null] - Border color for selected current date.
/// @param {Color} $date-selected-current-hover-border-color [null] - :Hover border color for selected current date.
/// @param {Color} $date-selected-current-focus-border-color [null] - :Focus border color for selected current date.
/// @param {Color} $date-selected-current-background [null] - Background for selected current date.
/// @param {Color} $date-selected-current-hover-background [null] - :Hover background for selected current date.
/// @param {Color} $date-selected-current-focus-background [null] - :Focus background for selected current date.
/// @param {Color} $date-selected-current-foreground [null] - Foreground for selected current date.
/// @param {Color} $date-selected-current-hover-foreground [null] - :Hover foreground for selected current date.
/// @param {Color} $date-selected-current-focus-foreground [null] - :Focus foreground for selected current date.
/// @param {List} $date-special-border-radius [null] - Border radius for special date.
/// @param {Color} $date-special-border-color [null] - Border color for special date.
/// @param {Color} $date-special-hover-border-color [null] - :Hover border color for special date.
/// @param {Color} $date-special-focus-border-color [null] - :Focus border color for special date.
/// @param {Color} $date-special-foreground [null] - Foreground for special date.
/// @param {Color} $date-special-background [null] - Background for special date.
/// @param {Color} $date-special-hover-foreground [null] - :Hover foreground for special date.
/// @param {Color} $date-special-hover-background [null] - :Hover background for special date.
/// @param {Color} $date-special-focus-foreground [null] - :Focus foreground for special date.
/// @param {Color} $date-special-focus-background [null] - :Focus background for special date.
/// @param {Color} $date-special-range-border-color [null] - Border color for special date in range.
/// @param {Color} $date-special-range-hover-border-color [null] - :Hover border color for special date in range.
/// @param {Color} $date-special-range-focus-border-color [null] - :Focus border color for special date in range.
/// @param {Color} $date-special-range-foreground [null] - Foreground for special date in range.
/// @param {Color} $date-special-range-hover-foreground [null] - :Hover foreground for special date in range.
/// @param {Color} $date-special-range-focus-foreground [null] - :Focus foreground for special date in range.
/// @param {Color} $date-special-range-background [null] - Background for special date in range.
/// @param {Color} $date-special-range-hover-background [null] - :Hover background for special date in range.
/// @param {Color} $date-special-range-focus-background [null] - :Focus background for special date in range.
/// @param {Color} $date-disabled-foreground [null] - Foreground for disabled dates.
/// @param {Color} $date-disabled-range-foreground [null] - Foreground for disabled dates in selected range.
/// @requires $light-material-schema
///
/// @example scss Change the header and content background colors
///   $my-calendar-theme: calendar-theme(
///     $header-background: purple,
///     $content-background: black
///   );
///   // Pass the theme to the css-vars() mixin
///   @include css-vars($my-calendar-theme);
@function calendar-theme(
    $schema: $light-material-schema,

    $size: null,
    $inner-size: null,

    $weekday-color: null,
    $actions-divider-color: null,

    // CALENDAR container
    $border-radius: null,
    $content-background: null,
    $border-color: null,

    // HEADER section
    $header-background: null,
    $header-foreground: null,

    // PICKER sections
    $picker-foreground: null,
    $picker-background: null,
    $picker-hover-foreground: null,
    $picker-focus-foreground: null,

    // NAVIGATION (icons)
    $navigation-color: null,
    $navigation-hover-color: null,
    $navigation-focus-color: null,

    // YEARS & MONTH
    $ym-border-radius: null,

    $ym-hover-foreground: null,
    $ym-hover-background: null,

    // current state
    $ym-current-outline-color: null,
    $ym-current-outline-hover-color: null,
    $ym-current-outline-focus-color: null,

    $ym-current-background: null,
    $ym-current-foreground: null,
    $ym-current-hover-foreground: null,
    $ym-current-hover-background: null,

    // selected state
    $ym-selected-outline-color: null,
    $ym-selected-hover-outline-color: null,
    $ym-selected-focus-outline-color: null,

    $ym-selected-foreground: null,
    $ym-selected-background: null,
    $ym-selected-hover-foreground: null,
    $ym-selected-hover-background: null,

    // selected + current state
    $ym-selected-current-outline-color: null,
    $ym-selected-current-outline-hover-color: null,
    $ym-selected-current-outline-focus-color: null,

    $ym-selected-current-foreground: null,
    $ym-selected-current-background: null,
    $ym-selected-current-hover-foreground: null,
    $ym-selected-current-hover-background: null,

    // WEEK NUMBERS COLUMN
    $week-number-border-radius: null,
    $week-number-foreground: null,
    $week-number-background: null,

    // DATES
    // content foreground is used as default date foreground
    $content-foreground: null,

    // weekend is Saturday & Sunday
    $weekend-color: null,

    // inactive dates are from previous or next month
    $inactive-color: null,

    // idle state
    $date-border-radius: null,

    $date-border-color: null,
    $date-hover-border-color: null,
    $date-focus-border-color: null,

    $date-hover-background: null,
    $date-focus-background: null,
    $date-hover-foreground: null,
    $date-focus-foreground: null,

    // selected state
    $date-selected-border-color: null,
    $date-selected-hover-border-color: null,
    $date-selected-focus-border-color: null,

    $date-selected-background: null,
    $date-selected-foreground: null,
    $date-selected-hover-background: null,
    $date-selected-focus-background: null,
    $date-selected-hover-foreground: null,
    $date-selected-focus-foreground: null,

    // selected + special state
    $date-selected-special-border-color: null,
    $date-selected-special-hover-border-color: null,
    $date-selected-special-focus-border-color: null,

    $date-selected-special-background: null,
    $date-selected-special-foreground: null,
    $date-selected-special-hover-background: null,
    $date-selected-special-focus-background: null,
    $date-selected-special-hover-foreground: null,
    $date-selected-special-focus-foreground: null,

    $date-range-border-radius: null,
    $date-range-border-color: null,
    $date-range-preview-border-color: null,

    // date selected + range state
    $date-selected-range-foreground: null,
    $date-selected-range-background: null,
    $date-selected-range-hover-foreground: null,
    $date-selected-range-hover-background: null,
    $date-selected-range-focus-foreground: null,
    $date-selected-range-focus-background: null,

    // date selected + current + range state
    $date-selected-current-range-foreground: null,
    $date-selected-current-range-background: null,
    $date-selected-current-range-hover-foreground: null,
    $date-selected-current-range-hover-background: null,
    $date-selected-current-range-focus-foreground: null,
    $date-selected-current-range-focus-background: null,

    // current state
    $date-current-border-radius: null,

    $date-current-border-color: null,
    $date-current-hover-border-color: null,
    $date-current-focus-border-color: null,

    $date-current-background: null,
    $date-current-foreground: null,
    $date-current-hover-background: null,
    $date-current-focus-background: null,
    $date-current-hover-foreground: null,
    $date-current-focus-foreground: null,

    // date selected + state
    $date-selected-current-border-color: null,
    $date-selected-current-hover-border-color: null,
    $date-selected-current-focus-border-color: null,

    $date-selected-current-background: null,
    $date-selected-current-hover-background: null,
    $date-selected-current-focus-background: null,
    $date-selected-current-foreground: null,
    $date-selected-current-hover-foreground: null,
    $date-selected-current-focus-foreground: null,

    // date special state
    $date-special-border-radius: null,

    $date-special-border-color: null,
    $date-special-hover-border-color: null,
    $date-special-focus-border-color: null,

    $date-special-foreground: null,
    $date-special-background: null,
    $date-special-hover-foreground: null,
    $date-special-hover-background: null,
    $date-special-focus-foreground: null,
    $date-special-focus-background: null,

    // date special + range state
    $date-special-range-border-color: null,
    $date-special-range-hover-border-color: null,
    $date-special-range-focus-border-color: null,

    $date-special-range-foreground: null,
    $date-special-range-hover-foreground: null,
    $date-special-range-focus-foreground: null,
    $date-special-range-background: null,
    $date-special-range-hover-background: null,
    $date-special-range-focus-background: null,

    // disabled dates
    // date-disabled-foreground is used for idle date
    $date-disabled-foreground: null,

    // date-disabled-range-foreground is used for idle date in selected range
    $date-disabled-range-foreground: null
) {
    $name: #{config.variable-prefix() + '-' + 'calendar'};
    $selector: (
        #{config.element-prefix() + '-' + 'calendar'},
        #{config.element-prefix() + '-' + 'date-picker'},
        #{config.element-prefix() + '-' + 'month-picker'},
        '.igx-days-view--standalone',
        '.igx-calendar-view--standalone'
    );
    $calendar-schema: ();

    @if map.has-key($schema, 'calendar') {
        $calendar-schema: map.get($schema, 'calendar');
    } @else {
        $calendar-schema: $schema;
    }

    $theme: digest-schema($calendar-schema);
    $variant: map.get($schema, '_meta', 'theme');

    @return extend(
        $theme,
        (
            name: $name,
            selector: $selector,

            size: $size,
            inner-size: $inner-size,

            weekday-color: $weekday-color,
            actions-divider-color: $actions-divider-color,

            // CALENDAR container
            border-radius: $border-radius,
            content-background: $content-background,
            border-color: $border-color,

            // HEADER section
            header-background: $header-background,
            header-foreground: $header-foreground,

            // PICKER sections
            picker-foreground: $picker-foreground,
            picker-background: $picker-background,
            picker-hover-foreground: $picker-hover-foreground,
            picker-focus-foreground: $picker-focus-foreground,

            // NAVIGATION (icons)
            navigation-color: $navigation-color,
            navigation-hover-color: $navigation-hover-color,
            navigation-focus-color: $navigation-focus-color,

            // YEARS & MONTH
            ym-border-radius: $ym-border-radius,

            ym-hover-foreground: $ym-hover-foreground,
            ym-hover-background: $ym-hover-background,

            // current state
            ym-current-outline-color: $ym-current-outline-color,
            ym-current-outline-hover-color: $ym-current-outline-hover-color,
            ym-current-outline-focus-color: $ym-current-outline-focus-color,

            ym-current-background: $ym-current-background,
            ym-current-foreground: $ym-current-foreground,
            ym-current-hover-foreground: $ym-current-hover-foreground,
            ym-current-hover-background: $ym-current-hover-background,

            // selected state
            ym-selected-outline-color: $ym-selected-outline-color,
            ym-selected-hover-outline-color: $ym-selected-hover-outline-color,
            ym-selected-focus-outline-color: $ym-selected-focus-outline-color,

            ym-selected-foreground: $ym-selected-foreground,
            ym-selected-background: $ym-selected-background,
            ym-selected-hover-foreground: $ym-selected-hover-foreground,
            ym-selected-hover-background: $ym-selected-hover-background,

            // selected + current state
            ym-selected-current-outline-color: $ym-selected-current-outline-color,
            ym-selected-current-outline-hover-color: $ym-selected-current-outline-hover-color,
            ym-selected-current-outline-focus-color: $ym-selected-current-outline-focus-color,

            ym-selected-current-foreground: $ym-selected-current-foreground,
            ym-selected-current-background: $ym-selected-current-background,
            ym-selected-current-hover-foreground: $ym-selected-current-hover-foreground,
            ym-selected-current-hover-background: $ym-selected-current-hover-background,

            // WEEK NUMBERS COLUMN
            week-number-border-radius: $week-number-border-radius,
            week-number-foreground: $week-number-foreground,
            week-number-background: $week-number-background,

            // DATES
            // content foreground is used as default date foreground
            content-foreground: $content-foreground,

            // weekend is Saturday & Sunday
            weekend-color: $weekend-color,

            // inactive dates are from previous or next month
            inactive-color: $inactive-color,

            // idle state
            date-border-radius: $date-border-radius,

            date-border-color: $date-border-color,
            date-hover-border-color: $date-hover-border-color,
            date-focus-border-color: $date-focus-border-color,

            date-hover-background: $date-hover-background,
            date-focus-background: $date-focus-background,
            date-hover-foreground: $date-hover-foreground,
            date-focus-foreground: $date-focus-foreground,

            // selected state
            date-selected-border-color: $date-selected-border-color,
            date-selected-hover-border-color: $date-selected-hover-border-color,
            date-selected-focus-border-color: $date-selected-focus-border-color,

            date-selected-background: $date-selected-background,
            date-selected-foreground: $date-selected-foreground,
            date-selected-hover-background: $date-selected-hover-background,
            date-selected-focus-background: $date-selected-focus-background,
            date-selected-hover-foreground: $date-selected-hover-foreground,
            date-selected-focus-foreground: $date-selected-focus-foreground,

            // selected + special state
            date-selected-special-border-color: $date-selected-special-border-color,
            date-selected-special-hover-border-color: $date-selected-special-hover-border-color,
            date-selected-special-focus-border-color: $date-selected-special-focus-border-color,

            date-selected-special-background: $date-selected-special-background,
            date-selected-special-foreground: $date-selected-special-foreground,
            date-selected-special-hover-background: $date-selected-special-hover-background,
            date-selected-special-focus-background: $date-selected-special-focus-background,
            date-selected-special-hover-foreground: $date-selected-special-hover-foreground,
            date-selected-special-focus-foreground: $date-selected-special-focus-foreground,

            // date selected + range state
            date-range-border-radius: $date-range-border-radius,
            date-range-border-color: $date-range-border-color,
            date-range-preview-border-color: $date-range-preview-border-color,

            date-selected-range-foreground: $date-selected-range-foreground,
            date-selected-range-background: $date-selected-range-background,
            date-selected-range-hover-foreground: $date-selected-range-hover-foreground,
            date-selected-range-hover-background: $date-selected-range-hover-background,
            date-selected-range-focus-foreground: $date-selected-range-focus-foreground,
            date-selected-range-focus-background: $date-selected-range-focus-background,

            // date selected + current + range state
            date-selected-current-range-foreground: $date-selected-current-range-foreground,
            date-selected-current-range-background: $date-selected-current-range-background,
            date-selected-current-range-hover-foreground: $date-selected-current-range-hover-foreground,
            date-selected-current-range-hover-background: $date-selected-current-range-hover-background,
            date-selected-current-range-focus-foreground: $date-selected-current-range-focus-foreground,
            date-selected-current-range-focus-background: $date-selected-current-range-focus-background,

            // current state
            date-current-border-radius: $date-current-border-radius,

            date-current-border-color: $date-current-border-color,
            date-current-hover-border-color: $date-current-hover-border-color,
            date-current-focus-border-color: $date-current-focus-border-color,

            date-current-background: $date-current-background,
            date-current-foreground: $date-current-foreground,
            date-current-hover-background: $date-current-hover-background,
            date-current-focus-background: $date-current-focus-background,
            date-current-hover-foreground: $date-current-hover-foreground,
            date-current-focus-foreground: $date-current-focus-foreground,

            // date selected + state
            date-selected-current-border-color: $date-selected-current-border-color,
            date-selected-current-hover-border-color: $date-selected-current-hover-border-color,
            date-selected-current-focus-border-color: $date-selected-current-focus-border-color,

            date-selected-current-background: $date-selected-current-background,
            date-selected-current-hover-background: $date-selected-current-hover-background,
            date-selected-current-focus-background: $date-selected-current-focus-background,
            date-selected-current-foreground: $date-selected-current-foreground,
            date-selected-current-hover-foreground: $date-selected-current-hover-foreground,
            date-selected-current-focus-foreground: $date-selected-current-focus-foreground,

            // date special state
            date-special-border-radius: $date-special-border-radius,

            date-special-border-color: $date-special-border-color,
            date-special-hover-border-color: $date-special-hover-border-color,
            date-special-focus-border-color: $date-special-focus-border-color,

            date-special-foreground: $date-special-foreground,
            date-special-background: $date-special-background,
            date-special-hover-foreground: $date-special-hover-foreground,
            date-special-hover-background: $date-special-hover-background,
            date-special-focus-foreground: $date-special-focus-foreground,
            date-special-focus-background: $date-special-focus-background,

            // date special + range state
            date-special-range-border-color: $date-special-range-border-color,
            date-special-range-hover-border-color: $date-special-range-hover-border-color,
            date-special-range-focus-border-color: $date-special-range-focus-border-color,

            date-special-range-foreground: $date-special-range-foreground,
            date-special-range-hover-foreground: $date-special-range-hover-foreground,
            date-special-range-focus-foreground: $date-special-range-focus-foreground,
            date-special-range-background: $date-special-range-background,
            date-special-range-hover-background: $date-special-range-hover-background,
            date-special-range-focus-background: $date-special-range-focus-background,

            // disabled dates
            // date-disabled-foreground is used for idle date
            date-disabled-foreground: $date-disabled-foreground,

            // date-disabled-range-foreground is used for idle date in selected range
            date-disabled-range-foreground: $date-disabled-range-foreground,
        )
    );
}
