////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} elevation [1] - The elevation level, between 0-24, to be used for the badge shadow.
$default-elevation-badge: (
    elevation: 1,
);

/// @type Map
/// @prop {Number} elevation [0] - The elevation level, between 0-24, to be used for the badge shadow.
$indigo-elevation-badge: (
    elevation: 0,
);
