////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} button-elevation [1] - The elevation level, between 0-24, to be used for the carousel buttons.
$default-elevation-carousel: (
    button-elevation: 1,
);

/// @type Map
/// @prop {Number} button-elevation [0] - The elevation level, between 0-24, to be used for the carousel buttons.
$flat-carousel: (
    button-elevation: 0,
);

/// @type Map
/// @requires {Map} $flat-carousel
$bootstrap-elevation-carousel: $flat-carousel;

/// @type Map
/// @requires {Map} $flat-carousel
$indigo-elevation-carousel: $flat-carousel;
