////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} elevation [24] - The elevation level, between 0-24, to be used for the dialog.
$default-elevation-dialog: (
    elevation: 24,
);

/// @type Map
/// @prop {Number} elevation [0] - The elevation level, between 0-24, to be used for the dialog.
$bootstrap-elevation-dialog: (
    elevation: 0,
);

/// @type Map
/// @prop {Number} elevation [23] - The elevation level, between 0-24, to be used for the dialog.
$dark-indigo-elevation-dialog: (
    elevation: 23,
);
