////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {number} grid-elevation [2] - The elevation level, between 0-24, to be used for the grid.
/// @prop {number} drag-elevation [5] - The elevation level, between 0-24, to be used for movable elements (ex. column header).
$default-elevation-grid: (
    grid-elevation: 2,
    drag-elevation: 5,
);

/// @type Map
/// @prop {number} grid-elevation [0] - The elevation level, between 0-24, to be used for the grid.
/// @prop {number} drag-elevation [1] - The elevation level, between 0-24, to be used for movable elements (ex. column header).
$fluent-elevation-grid: (
    grid-elevation: 0,
    drag-elevation: 1,
);

/// @type Map
/// @prop {number} grid-elevation [0] - The elevation level, between 0-24, to be used for the grid.
$indigo-elevation-grid: (
    grid-elevation: 0,
);
