////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Map} elevation [16] - The elevation level, between 0-24, to be used for the drawer.
$default-elevation-navdrawer: (
    elevation: 0,
);
