////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} elevation [4] - The elevation level, between 0-24, to be used in the snackbar.
$default-elevation-snackbar: (
    elevation: 4,
);

/// @type Map
/// @prop {Number} elevation [10] - The elevation level, between 0-24, to be used in the bootstrap snackbar.
$bootstrap-elevation-snackbar: (
    elevation: 10,
);

/// @type Map
/// @prop {Number} elevation [10] - The elevation level, between 0-24, to be used in the indigo snackbar.
$indigo-elevation-snackbar: (
    elevation: 10,
);

/// @type Map
/// @prop {Number} elevation [11] - The elevation level, between 0-24, to be used in the dark indigo snackbar.
$dark-indigo-elevation-snackbar: (
    elevation: 11,
);
