@use '../../functions' as *;

////
/// @package theming
/// @group palettes
/// @access public
////

/**
 * @sass-export-section="dark-indigo"
 */
/// Generates the dark indigo palette.
/// @type Map
/// @name dark-indigo-palette
/// @prop {Color} primary [#3f51b5] - The primary color
/// @prop {Color} secondary [#3f51b5] - The secondary color
/// @prop {Color} gray [hsl(262deg 8% 98%)] - The gray color
/// @prop {Color} surface [#2a2b2f] - The surface color
/// @prop {Color} info [#9208bc] - The info color
/// @prop {Color} success [#689f38] - The success color
/// @prop {Color} warn [#ff9800] - The warn color
/// @prop {Color} error [#cf1a2b] - The error color
$palette: palette(
    $primary: #3f51b5,
    $secondary: #3f51b5,
    $gray: hsl(262deg 8% 98%),
    $surface: #2a2b2f,
    $info: #9208bc,
    $success: #689f38,
    $warn: #ff9800,
    $error: #cf1a2b,
    $variant: 'indigo',
);
