@use '../../../../utils/map' as *;
@use '../light/calendar' as *;
@use '../dark/calendar/base' as *;
@use '../dark/calendar/picker' as *;
@use '../dark/calendar/days-view' as *;
@use '../dark/calendar/year-month-view' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material calendar schema.
/// @type Map
/// @requires $material-calendar
/// @requires $dark-material-base
/// @requires $dark-material-picker
/// @requires $dark-material-days-view
/// @requires $dark-material-year-month
$dark-material-calendar: extend(
    $material-calendar,
    $dark-material-picker,
    $dark-material-days-view,
    $dark-material-year-month,
    $dark-material-base
);

/// Generates a dark fluent calendar schema.
/// @type Map
/// @requires $fluent-calendar
/// @requires $dark-fluent-base
/// @requires $dark-fluent-picker
/// @requires $dark-fluent-days-view
/// @requires $dark-fluent-year-month
$dark-fluent-calendar: extend(
    $fluent-calendar,
    $dark-fluent-picker,
    $dark-fluent-days-view,
    $dark-fluent-year-month,
    $dark-fluent-base
);

/// Generates a dark bootstrap calendar schema.
/// @type Map
/// @requires $bootstrap-calendar
/// @requires $dark-bootstrap-base
/// @requires $dark-bootstrap-picker
/// @requires $dark-bootstrap-days-view
/// @requires $dark-bootstrap-year-month
$dark-bootstrap-calendar: extend(
    $bootstrap-calendar,
    $dark-bootstrap-picker,
    $dark-bootstrap-days-view,
    $dark-bootstrap-year-month,
    $dark-bootstrap-base
);

/// Generates a dark indigo calendar schema.
/// @type Map
/// @requires $indigo-calendar
/// @requires $dark-indigo-base
/// @requires $dark-indigo-picker
/// @requires $dark-indigo-days-view
/// @requires $dark-indigo-year-month
$dark-indigo-calendar: extend(
    $indigo-calendar,
    $dark-indigo-picker,
    $dark-indigo-days-view,
    $dark-indigo-year-month,
    $dark-indigo-base
);
