@use 'sass:map';
@use '../mixins' as *;
@use '../../color/functions' as color;
@use './category-chart-theme' as *;
@use './data-chart-theme' as *;
@use './doughnut-chart-theme' as *;
@use './financial-chart-theme' as *;
@use './funnel-chart-theme' as *;
@use './gauge-theme' as *;
@use './geo-map-theme' as *;
@use './graph-theme' as *;
@use './pie-chart-theme' as *;
@use './shape-chart-theme' as *;
@use './sparkline-theme' as *;

@mixin chart-themes($schema, $target: 'angular') {
    :root {
        --chart-brushes: var(--ig-chart-brushes, #{color.chart-brushes()});
    }

    @include tokens(category-chart-theme($schema: $schema));
    @include tokens(data-chart-theme($schema: $schema));
    @include tokens(doughnut-chart-theme($schema: $schema));
    @include tokens(financial-chart-theme($schema: $schema));
    @include tokens(funnel-chart-theme($schema: $schema));
    @include tokens(linear-gauge-theme($schema: $schema));
    @include tokens(radial-gauge-theme($schema: $schema));
    @include tokens(geo-map-theme($schema: $schema));
    @include tokens(bullet-graph-theme($schema: $schema));
    @include tokens(pie-chart-theme($schema: $schema));
    @include tokens(shape-chart-theme($schema: $schema));
    @include tokens(sparkline-theme($schema: $schema));
}
