@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../elevation/color-picker' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

// stylelint-disable max-line-length
/// Generates a light color picker schema.
/// @type Map
/// @prop {Map} label-color [color: ('gray', 900)] - The color of the color picker label.
/// @prop {Map} label-color-disabled [color: ('gray', 500)] - The color of the color picker label in disabled state.
/// @prop {Map} label-color-invalid [color: ('error', 800)] - The color of the color picker label in disabled state.
/// @prop {Color} anchor-background [transparent] - The background color of the color picker trigger.
/// @prop {Map} anchor-background-hover [color: ('gray', 500, .2)] - The background color of the color picker trigger on hover.
/// @prop {Map} anchor-background-focus [color: ('gray', 500, .16)] - The background color of the color picker trigger on focus-visible.
/// @prop {Map} anchor-background-focus-hover [color: ('gray', 500, .24)] - The background color of the color picker trigger in focus-visible + hover state.
/// @prop {Map} anchor-background-active [color: ('gray', 500, .16)] - The background color of the color picker trigger in active state.
/// @prop {Map} anchor-background-focus-active [color: ('gray', 500, .32)] - The background color of the color picker trigger in focus-visible + active state.
/// @prop {Color} anchor-background-disabled [transparent] - The background color of the color picker trigger in disabled state.
/// @prop {Map} anchor-border-color [color: ('gray', 600)] - The border color of the color picker trigger.
/// @prop {Map} anchor-border-color-disabled [color: ('gray', 600)] - The border color of the color picker trigger in disabled state.
/// @prop {Color} anchor-outline-color [transparent] - The outline color of the color picker trigger in focus-visible state.
/// @prop {Number} anchor-border-radius [rem(4px)] - The border radius of the color picker trigger.
/// @prop {Map} swatch-preview-border-color [color: ('gray', 300)] - The border color of the color preview inside the trigger.
/// @prop {Number} swatch-preview-border-radius [rem(2px)] - The border radius of the color preview inside the trigger.
/// @prop {Map} picker-canvas-border-color [color: ('gray', 600)] - The border color of the color picker canvas.
/// @prop {Map} picker-background [color: 'surface'] - The background color of the color picker dropdown.
/// @prop {Color} picker-border-color [transparent] - The border color of the color picker dropdown.
/// @prop {Number} picker-border-radius [rem(4px)] - The border radius of the color picker dropdown.
/// @prop {Map} slider-track-border-color [color: ('gray', 600)] - The border color of the hue and alpha slider tracks.
/// @prop {Number} slider-track-border-radius [rem(10px)] - The border radius of the hue and alpha slider tracks.
/// @prop {Map} slider-thumb-border-color [contrast-color: ('gray', 900)] - The border color of the hue and alpha slider thumbs.
/// @prop {Map} swatch-border-color [color: 'gray', 600] - The border color of the predefined color swatches.
/// @prop {Map} swatch-separator-color [color: 'gray', 300] - The color of the separator above the swatches.
/// @prop {List} swatch-border-radius [(rem(4px), rem(0), rem(8px))] - The border radius of the predefined color swatches.
/// @prop {Number} swatch-size [rem(28px)] - The size of the predefined color swatches.
/// @prop {Map} invalid-color [color: 'error', 800] - The color used for invalid states.
/// @prop {Number} marker-size [rem(16px)] - The size of the color picker canvas marker.
/// @prop {Number} marker-elevation [1] - The elevation of the color picker canvas marker.
/// @prop {Map} marker-color [contrast-color: ('gray', 900)] - The color of the color picker canvas marker.
/// @prop {Number} default-size [2] - The default size used for the color picker component.
/// @prop {Map} typography [label: (value: 'subtitle-1')] - The typography styles used for the component.
/// @requires $default-elevation-color-picker
$light-color-picker: extend(
    (
        label-color: (
            color: (
                'gray',
                900,
            ),
        ),
        label-color-invalid: (
            color: (
                'error',
                800,
            ),
        ),
        label-color-disabled: (
            color: (
                'gray',
                500,
            ),
        ),
        anchor-background: transparent,
        anchor-background-hover: (
            color: (
                'gray',
                500,
                0.2,
            ),
        ),
        anchor-background-focus: (
            color: (
                'gray',
                500,
                0.16,
            ),
        ),
        anchor-background-focus-hover: (
            color: (
                'gray',
                500,
                0.24,
            ),
        ),
        anchor-background-focus-active: (
            color: (
                'gray',
                500,
                0.32,
            ),
        ),
        anchor-background-active: (
            color: (
                'gray',
                500,
                0.32,
            ),
        ),
        anchor-background-disabled: transparent,
        anchor-outline-color: (
            color: transparent,
        ),
        anchor-border-color: (
            color: (
                'gray',
                600,
            ),
        ),
        anchor-border-color-disabled: (
            color: (
                'gray',
                300,
            ),
        ),
        anchor-border-radius: (
            border-radius: rem(4px),
        ),
        swatch-preview-border-color: (
            color: (
                'gray',
                300,
            ),
        ),
        swatch-preview-border-radius: (
            border-radius: rem(2px),
        ),
        picker-background: (
            color: 'surface',
        ),
        picker-border-color: transparent,
        picker-border-radius: (
            border-radius: rem(4px),
        ),
        picker-canvas-border-color: (
            color: (
                'gray',
                600,
            ),
        ),
        slider-track-border-radius: (
            border-radius: rem(10px),
        ),
        slider-thumb-border-color: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        slider-track-border-color: (
            color: (
                'gray',
                600,
            ),
        ),
        swatch-separator-color: (
            color: (
                'gray',
                300,
            ),
        ),
        swatch-border-color: (
            color: (
                'gray',
                600,
            ),
        ),
        swatch-border-radius: (
            border-radius: rem(4px),
        ),
        swatch-size: rem(28px),
        transparency-grid-color: (
            color: (
                'gray',
                400,
            ),
        ),
        transparency-grid-background: (
            color: 'surface',
        ),
        invalid-color: (
            color: (
                'error',
                800,
            ),
        ),
        marker-size: rem(16px),
        marker-elevation: 1,
        marker-color: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        default-size: 2,
        _meta: (
            name: 'color-picker',
            variant: 'light',
        ),
    )
);

/// Generates a material color picker schema.
/// @type Map
/// @prop {List} trigger-size  [(rem(24px), rem(30px), rem(36px))] - The size used for the color picker trigger.
/// @prop {Map} typography [label: (value: 'subtitle-1')] - The typography styles used for the component.
/// @requires $light-color-picker
$material-color-picker: extend(
    $light-color-picker,
    $material-elevation-color-picker,
    (
        trigger-size: (
            sizable: (
                rem(24px),
                rem(30px),
                rem(36px),
            ),
        ),
        typography: (
            label: (
                value: 'subtitle-1',
            ),
        ),
        _meta: (
            theme: 'material',
        ),
    )
);

/// Generates a fluent color picker schema.
/// @type Map
/// @prop {Number} anchor-border-radius [(rem(2px)] - The border radius of the color picker trigger.
/// @prop {Number} swatch-border-radius [(rem(2px)] - The border radius of the predefined color swatches.
/// @prop {List} trigger-size  [(rem(24px), rem(32px), rem(38px))] - The size used for the color picker trigger.
/// @prop {Color} picker-border-color [transparent] - The border color of the color picker dropdown.
/// @prop {Map} typography [label: (value: 'body-2')] - The typography styles used for the component.
/// @prop {Map} anchor-outline-color [color: ('gray', 700)] - The outline color of the color picker trigger in focus-visible state.
/// @prop {Number} picker-border-radius [rem(2px)] - The border radius of the color picker dropdown.
/// @prop {Color} anchor-background [transparent] - The background color of the color picker trigger.
/// @prop {Map} anchor-background-hover [color: ('gray', 200)] - The background color of the color picker trigger on hover.
/// @prop {Color} anchor-background-focus [transparent] - The background color of the color picker trigger on focus-visible.
/// @prop {Map} anchor-background-focus-hover [color: ('gray', 200)] - The background color of the color picker trigger in focus-visible + hover state.
/// @prop {Map} anchor-background-active [color: ('gray', 300)] - The background color of the color picker trigger in active state.
/// @prop {Map} anchor-background-focus-active [color: ('gray', 300)] - The background color of the color picker trigger in focus-visible + active state.
/// @prop {Color} anchor-background-disabled [color: ('gray', 100)] - The background color of the color picker trigger in disabled state.
/// @prop {Map} label-color-invalid [color: ('error', 500)] - The color of the color picker label in disabled state.
/// @prop {Map} invalid-color [color: 'error', 500] - The color used for invalid states.
/// @requires $light-color-picker
$fluent-color-picker: extend(
    $light-color-picker,
    $fluent-elevation-color-picker,
    (
        invalid-color: (
            color: (
                'error',
                500,
            ),
        ),
        label-color-invalid: (
            color: (
                'error',
                500,
            ),
        ),
        anchor-border-radius: (
            border-radius: rem(2px),
        ),
        swatch-border-radius: (
            border-radius: rem(2px),
        ),
        anchor-outline-color: (
            color: (
                'gray',
                700,
            ),
        ),
        picker-border-color: transparent,
        picker-border-radius: rem(2px),
        anchor-background: transparent,
        anchor-background-hover: (
            color: (
                'gray',
                200,
            ),
        ),
        anchor-background-focus: transparent,
        anchor-background-focus-hover: (
            color: (
                'gray',
                200,
            ),
        ),
        anchor-background-active: (
            color: (
                'gray',
                300,
            ),
        ),
        anchor-background-focus-active: (
            color: (
                'gray',
                300,
            ),
        ),
        anchor-background-disabled: (
            color: (
                'gray',
                100,
            ),
        ),
        trigger-size: (
            sizable: (
                rem(24px),
                rem(32px),
                rem(38px),
            ),
        ),
        typography: (
            label: (
                value: 'body-2',
            ),
        ),
        _meta: (
            theme: 'fluent',
        ),
    )
);

/// Generates a bootstrap color picker schema.
/// @type Map
/// @prop {Number} picker-elevation [0] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
/// @prop {List} trigger-size  [(rem(32px), rem(38px), rem(48px))] - The size used for the color picker trigger.
/// @prop {Map} typography [label: (value: 'body-1')] - The typography styles used for the component.
/// @prop {Map} anchor-outline-color [color: ('primary', 600, .5)] - The outline color of the color picker trigger in focus-visible state.
/// @prop {Color} anchor-background [transparent] - The background color of the color picker trigger.
/// @prop {Map} picker-border-color [color: ('gray', 300)] - The border color of the color picker dropdown.
/// @prop {Map} anchor-background-hover [color: ('gray', 200)] - The background color of the color picker trigger on hover.
/// @prop {Color} anchor-background-focus [transparent] - The background color of the color picker trigger on focus-visible.
/// @prop {Map} anchor-background-focus-hover [color: ('gray', 200)] - The background color of the color picker trigger in focus-visible + hover state.
/// @prop {Map} anchor-background-active [color: ('gray', 300)] - The background color of the color picker trigger in active state.
/// @prop {Map} anchor-background-focus-active [color: ('gray', 300)] - The background color of the color picker trigger in focus-visible + active state.
/// @requires $light-color-picker
/// @requires $bootstrap-elevation-color-picker
$bootstrap-color-picker: extend(
    $light-color-picker,
    $bootstrap-elevation-color-picker,
    (
        trigger-size: (
            sizable: (
                rem(32px),
                rem(38px),
                rem(48px),
            ),
        ),
        anchor-outline-color: (
            color: (
                'primary',
                600,
                0.5,
            ),
        ),
        picker-border-color: (
            color: (
                'gray',
                300,
            ),
        ),
        anchor-background: transparent,
        anchor-background-hover: (
            color: (
                'gray',
                200,
            ),
        ),
        anchor-background-focus: transparent,
        anchor-background-focus-hover: (
            color: (
                'gray',
                200,
            ),
        ),
        anchor-background-active: (
            color: (
                'gray',
                300,
            ),
        ),
        anchor-background-focus-active: (
            color: (
                'gray',
                300,
            ),
        ),
        typography: (
            label: (
                value: 'body-1',
            ),
        ),
        _meta: (
            theme: 'bootstrap',
        ),
    )
);

/// Generates an indigo color picker schema.
/// @type Map
/// @prop {Map} label-color-invalid [color: ('gray', 800)] - The color of the color picker label in disabled state.
/// @prop {Map} invalid-color [color: 'error', 500] - The color used for invalid states.
/// @prop {Map} label-color [color: ('gray', 800)] - The color of the color picker label.
/// @prop {Map} label-color-disabled [color: ('gray', 900, .2)] - The color of the color picker label in disabled state.
/// @prop {Map} anchor-border-color [color: ('gray', 400)] - The border color of the color picker trigger.
/// @prop {Map} anchor-border-color-disabled [color: ('gray', 900, .15)] - The border color of the color picker trigger in disabled state.
/// @prop {Map} anchor-outline-color [color: ('gray', 900, .15)] - The outline color of the color picker trigger in focus-visible state.
/// @prop {Map} anchor-background-hover [color: ('gray', 900, .5)] - The background color of the color picker trigger on hover.
/// @prop {Color} anchor-background-focus [color: (transparent] - The background color of the color picker trigger on focus-visible.
/// @prop {Map} anchor-background-focus-hover [color: ('gray', 900, .5)] - The background color of the color picker trigger on hover.
/// @prop {Map} anchor-background-active [color: ('gray', 900, .5)] - The background color of the color picker trigger in active state.
/// @prop {Map} anchor-background-focus-active [color: ('gray', 900, .5)] - The background color of the color picker trigger in focus-visible + active state.
/// @prop {Map} swatch-border-color [color: ('gray', 600)] - The border color of the predefined color swatches.
/// @prop {Color} swatch-separator-color [transparent] - The color of the separator above the swatches.
/// @prop {List} trigger-size  [(rem(20px), rem(24px), rem(28px))] - The size used for the color picker trigger.
/// @prop {Number} default-size [2] - The default size used for the color picker component.
/// @prop {Map} typography [label: (value: 'body-2')] - The typography styles used for the component.
/// @prop {Number} picker-border-radius [rem(10px)] - The border radius of the color picker dropdown.
/// @prop {Number} picker-elevation [2] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
/// @requires $light-color-picker
/// @requires $indigo-elevation-color-picker
$indigo-color-picker: extend(
    $light-color-picker,
    $indigo-elevation-color-picker,
    (
        invalid-color: (
            color: (
                'error',
                800,
            ),
        ),
        label-color: (
            color: (
                'gray',
                700,
            ),
        ),
        label-color-invalid: (
            color: (
                'gray',
                800,
            ),
        ),
        label-color-disabled: (
            color: (
                'gray',
                900,
                0.2,
            ),
        ),
        anchor-border-color: (
            color: (
                'gray',
                400,
            ),
        ),
        anchor-border-color-disabled: (
            color: (
                'gray',
                900,
                0.15,
            ),
        ),
        anchor-outline-color: (
            color: (
                'gray',
                900,
                0.15,
            ),
        ),
        anchor-background-hover: (
            color: (
                'gray',
                900,
                0.05,
            ),
        ),
        anchor-background-focus: (
            color: transparent,
        ),
        anchor-background-active: (
            color: (
                'gray',
                900,
                0.05,
            ),
        ),
        anchor-background-focus-active: (
            color: (
                'gray',
                900,
                0.05,
            ),
        ),
        swatch-border-color: (
            color: (
                'gray',
                600,
            ),
        ),
        swatch-separator-color: transparent,
        picker-border-radius: rem(10px),
        trigger-size: (
            sizable: (
                rem(24px),
                rem(28px),
                rem(32px),
            ),
        ),
        picker-elevation: 2,
        default-size: 2,
        typography: (
            label: (
                value: 'body-2',
            ),
        ),
        _meta: (
            theme: 'indigo',
        ),
    )
);
