$ITypeScale: (
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    subtitle-1,
    subtitle-2,
    body-1,
    body-2,
    button,
    caption,
    overline
);
$ITypeStyle: (
    font-family: var(--ig-font-family),
    font-size: null,
    font-weight: normal,
    font-style: normal,
    line-height: normal,
    letter-spacing: normal,
    text-transform: none,
    margin-top: 0,
    margin-bottom: 0
);
$IElementCategories: (
    h1: 'h1',
    h2: 'h2',
    h3: 'h3',
    h4: 'h4',
    h5: 'h5',
    h6: 'h6',
    body-1: 'p',
);
