@use '../../../../utils/map' as *;
@use '../light/action-strip' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark action-strip schema.
/// @access private
/// @type {Map}
$dark-base-action-strip: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material action-strip schema.
/// @type {Map}
/// @requires $material-action-strip
$dark-material-action-strip: extend($material-action-strip, $dark-base-action-strip);

/// Generates a dark fluent action strip schema.
/// @type {Map}
/// @prop {Map} actions-background [color: ('gray', 600)] - The color used for actions background.
/// @requires $fluent-action-strip
$dark-fluent-action-strip: extend(
    $fluent-action-strip,
    $dark-base-action-strip,
    (
        actions-background: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);

/// Generates a dark bootstrap action strip schema.
/// @type {Map}
/// @prop {Map} actions-background [color: ('gray', 100)] - The color used for actions background.
/// @requires $bootstrap-action-strip
$dark-bootstrap-action-strip: extend(
    $bootstrap-action-strip,
    $dark-base-action-strip,
    (
        actions-background: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark indigo action strip schema.
/// @type {Map}
/// @requires $indigo-action-strip
$dark-indigo-action-strip: extend($indigo-action-strip, $dark-base-action-strip);
