@use '../../../../utils/map' as *;
@use '../light/avatar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material avatar schema.
/// @type {Map}
/// @requires $material-avatar
$dark-material-avatar: $material-avatar;

/// Generates a dark fluent avatar schema.
/// @type {Map}
/// @requires $fluent-avatar
$dark-fluent-avatar: $fluent-avatar;

/// Generates a dark bootstrap avatar schema.
/// @type {Map}
/// @requires $bootstrap-avatar
$dark-bootstrap-avatar: $bootstrap-avatar;

/// Generates a dark indigo avatar schema.
/// @type {Map}
/// @prop {Map} color [contrast-color: ('gray', 300)] - The text color of the avatar.
/// @prop {Map} icon-color [contrast-color: ('gray', 300)] - The icon color of the avatar.
/// @requires $indigo-avatar
$dark-indigo-avatar: extend(
    $indigo-avatar,
    (
        color: (
            contrast-color: (
                'gray',
                300,
            ),
        ),
        icon-color: (
            contrast-color: (
                'gray',
                300,
            ),
        ),
    )
);
