@use '../../../../utils/map' as *;
@use '../light/badge' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material badge schema.
/// @type {Map}
/// @requires $material-badge
$dark-material-badge: $material-badge;

/// Generates a dark fluent badge schema.
/// @type {Map}
/// @requires $fluent-badge
$dark-fluent-badge: $fluent-badge;

/// Generates a dark bootstrap badge schema.
/// @type {Map}
/// @prop {Map} border-color [contrast-color: ('gray', 50)] - The border color used.
/// @requires $bootstrap-badge
$dark-bootstrap-badge: extend(
    $bootstrap-badge,
    (
        border-color: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
    )
);

/// Generates a dark indigo badge schema.
/// @type {Map}
/// @requires $indigo-badge
$dark-indigo-badge: $indigo-badge;
