@use '../../../../utils/map' as *;
@use '../light/badge' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark badge schema.
/// @access private
/// @type {Map}
$dark-base-badge: (
    _meta: (
        name: 'badge',
        variant: 'dark',
    ),
);

/// Generates a dark material badge schema.
/// @type {Map}
/// @requires $material-badge
$dark-material-badge: extend($material-badge, $dark-base-badge);

/// Generates a dark fluent badge schema.
/// @type {Map}
/// @requires $fluent-badge
$dark-fluent-badge: extend($fluent-badge, $dark-base-badge);

/// Generates a dark bootstrap badge schema.
/// @type {Map}
/// @requires $bootstrap-badge
$dark-bootstrap-badge: extend($bootstrap-badge, $dark-base-badge);

/// Generates a dark indigo badge schema.
/// @type {Map}
/// @prop {Map} background-color [color: ('primary', 400)] - The background color used for the badge component.
/// @prop {Map} border-color [contrast-color: ('gray', 900)] - The border color used for the badge component.
/// @requires $indigo-badge
$dark-indigo-badge: extend(
    $indigo-badge,
    $dark-base-badge,
    (
        background-color: (
            color: (
                'primary',
                400,
            ),
        ),

        border-color: (
            contrast-color: (
                'gray',
                900,
            ),
        ),

        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
