@use '../../../../utils/map' as *;
@use '../light/banner' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material banner schema.
/// @type {Map}
/// @requires $material-banner
$dark-material-banner: $material-banner;

/// Generates a dark fluent banner schema.
/// @type {Map}
/// @requires $fluent-banner
$dark-fluent-banner: $fluent-banner;

/// Generates a dark bootstrap banner schema.
/// @type {Map}
/// @requires $bootstrap-banner
$dark-bootstrap-banner: $bootstrap-banner;

/// Generates a dark indigo banner schema.
/// @type {Map}
/// @prop {Map} banner-background [color: ('gray', 50)] - The color used for the banner background.
/// @prop {Map} banner-border-color [color: ('gray', 100)] - The color used for the banner border.
/// @requires $indigo-banner
$dark-indigo-banner: extend(
    $indigo-banner,
    (
        banner-background: (
            color: (
                'gray',
                50,
            ),
        ),

        banner-border-color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);
