@use '../../../../utils/map' as *;
@use '../light/bottom-nav' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material bottom-nav schema.
/// @type {Map}
/// @requires $material-bottom-nav
$dark-material-bottom-nav: $material-bottom-nav;

/// Generates a dark fluent bottom-nav schema.
/// @type {Map}
/// @requires $fluent-bottom-nav
$dark-fluent-bottom-nav: $fluent-bottom-nav;

/// Generates a dark bootstrap bottom-nav schema.
/// @type {Map}
/// @requires $bootstrap-bottom-nav
$dark-bootstrap-bottom-nav: $bootstrap-bottom-nav;

/// Generates a dark indigo bottom-nav schema.
/// @type {Map}
/// @prop {Map} background [color: 'surface'] - The background color used for the bottom-nav.
/// @prop {Color} active-item-color [color: ('gray', 700)] - The text-color used for the active color.
/// @prop {Map} idle-item-color [color: ('gray', 400)] - The text-color used for the idle color.
/// @requires $indigo-bottom-nav
$dark-indigo-bottom-nav: extend(
    $indigo-bottom-nav,
    (
        background: (
            color: 'surface',
        ),

        active-item-color: (
            color: (
                'gray',
                700,
            ),
        ),

        idle-item-color: (
            color: (
                'gray',
                400,
            ),
        ),
    )
);
