@use '../../../../utils/map' as *;
@use '../light/bottom-nav' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material bottom-nav schema.
/// @type {Map}
/// @prop {Map} icon-selected-color [color: ('primary', 500)] - The icon color used for the selected item.
/// @prop {Map} label-selected-color [color: ('primary', 500)] - The label color used for the selected item.
/// @requires $material-bottom-nav
$dark-material-bottom-nav: extend(
    $material-bottom-nav,
    (
        icon-selected-color: (
            color: (
                'primary',
                500,
            ),
        ),
        label-selected-color: (
            color: (
                'primary',
                500,
            ),
        ),
        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent bottom-nav schema.
/// @type {Map}
/// @prop {Map} label-selected-color [color: ('primary', 300)] - The label color used for the selected item.
/// @prop {Map} icon-selected-color [color: ('primary', 300)] - The icon color used for the selected item.
/// @requires $fluent-bottom-nav
$dark-fluent-bottom-nav: extend(
    $fluent-bottom-nav,
    (
        label-selected-color: (
            color: (
                'primary',
                300,
            ),
        ),
        icon-selected-color: (
            color: (
                'primary',
                300,
            ),
        ),
        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap bottom-nav schema.
/// @type {Map}
/// @requires $bootstrap-bottom-nav
$dark-bootstrap-bottom-nav: extend(
    $bootstrap-bottom-nav,
    (
        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo bottom-nav schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 100)] - The border color of the bottom navigation.
/// @prop {Map} icon-color [contrast-color: ('gray', 50, .6)] - The icon color in idle state.
/// @prop {Map} icon-selected-color [color: ('primary', 200)] - The icon color used for the selected item.
/// @prop {Map} label-color [contrast-color: ('gray', 50, .8)] - The label color in idle state.
/// @prop {Map} label-selected-color [color: ('primary', 200)] - The label color used for the selected item.
/// @prop {Map} icon-disabled-color [contrast-color: ('gray', 50, .2)] - The disabled color of the icon.
/// @prop {Map} label-disabled-color [contrast-color: ('gray', 50, .2)] - The disabled color of the label.
/// @requires $indigo-bottom-nav
$dark-indigo-bottom-nav: extend(
    $indigo-bottom-nav,
    (
        border-color: (
            color: (
                'gray',
                100,
            ),
        ),
        icon-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        icon-selected-color: (
            color: (
                'primary',
                200,
            ),
        ),
        label-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        label-selected-color: (
            color: (
                'primary',
                200,
            ),
        ),
        icon-disabled-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        label-disabled-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
