@use '../../../../utils/map' as *;
@use '../light/calendar' as *;
@use '../dark/calendar/base' as *;
@use '../dark/calendar/picker' as *;
@use '../dark/calendar/days-view' as *;
@use '../dark/calendar/year-mont-view' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material calendar schema.
/// @type {Map}
/// @requires {Map} $material-calendar
/// @requires {Map} $dark-material-base
/// @requires {Map} $dark-material-picker
/// @requires {Map} $dark-material-days-view
/// @requires {Map} $dark-material-year-month
$dark-material-calendar: extend(
    $material-calendar,
    $dark-material-picker,
    $dark-material-days-view,
    $dark-material-year-month,
    $dark-material-base
);

/// Generates a dark fluent calendar schema.
/// @type {Map}
/// @requires {Map} $fluent-calendar
/// @requires {Map} $dark-fluent-base
/// @requires {Map} $dark-fluent-picker
/// @requires {Map} $dark-fluent-days-view
/// @requires {Map} $dark-fluent-year-month
$dark-fluent-calendar: extend(
    $fluent-calendar,
    $dark-fluent-picker,
    $dark-fluent-days-view,
    $dark-fluent-year-month,
    $dark-fluent-base
);

/// Generates a dark bootstrap calendar schema.
/// @type {Map}
/// @requires {Map} $bootstrap-calendar
/// @requires {Map} $dark-bootstrap-base
/// @requires {Map} $dark-bootstrap-picker
/// @requires {Map} $dark-bootstrap-days-view
/// @requires {Map} $dark-bootstrap-year-month
$dark-bootstrap-calendar: extend(
    $bootstrap-calendar,
    $dark-bootstrap-picker,
    $dark-bootstrap-days-view,
    $dark-bootstrap-year-month,
    $dark-bootstrap-base
);

/// Generates a dark indigo calendar schema.
/// @type {Map}
/// @requires {Map} $indigo-calendar
/// @requires {Map} $dark-indigo-base
/// @requires {Map} $dark-indigo-picker
/// @requires {Map} $dark-indigo-days-view
/// @requires {Map} $dark-indigo-year-month
$dark-indigo-calendar: extend(
    $indigo-calendar,
    $dark-indigo-picker,
    $dark-indigo-days-view,
    $dark-indigo-year-month,
    $dark-indigo-base
);
