@use '../../../../utils/map' as *;
@use '../light/calendar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material calendar schema.
/// @prop {Map} navigation-hover-color [color: ('secondary', 200)] - The :hover color of the icon button responsible for month navigation.
/// @prop {Map} navigation-focus-color [color: ('secondary', 200)] - The :focus color of the icon button responsible for month navigation.
/// @prop {Map} date-special-foreground [color: ('secondary', 200)] - The foreground color of a special date.
/// @prop {Map} date-special-hover-foreground [color: ('secondary', 100)] - The :hover foreground color of a special date.
/// @prop {Map} date-special-focus-foreground [color: ('secondary', 100)] - The :focus foreground color of a special date.
/// @prop {Map} date-special-range-foreground [color: ('secondary', 200)] - The foreground color of a special date in a range selection.
/// @prop {Map} date-special-border-color [color: ('secondary', 200)] - The outline color around a special date.
/// @prop {Map} date-special-hover-border-color [color: ('secondary', 100)] - The outline color around a special date.
/// @prop {Map} date-special-range-border-color [color: ('secondary', 200)] - The outline color around a special date in a range selection.
/// @prop {Map} date-selected-range-focus-foreground [contrast-color: ('secondary', 900)] - The :focus foreground color of the selected range.
/// @prop {Map} date-selected-range-hover-foreground [contrast-color: ('secondary', 900)] - The :hover foreground color of the selected range.
/// @prop {Map} picker-hover-foreground [color: 'secondary' 200] - The :hover foreground color of the month and year pickers.
/// @prop {Map} picker-focus-foreground [color: 'secondary' 200] - The :focus foreground color of the month and year pickers.
/// @prop {Map} actions-divider-color [color: ('gray', 100)] - The border color used for the date-picker actions divider.
/// @type {Map}
/// @requires $material-calendar
$dark-material-calendar: extend(
    $material-calendar,
    (
        navigation-hover-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        navigation-focus-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-special-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-special-hover-foreground: (
            color: (
                'secondary',
                100,
            ),
        ),
        date-special-focus-foreground: (
            color: (
                'secondary',
                100,
            ),
        ),
        date-special-range-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-special-border-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-special-hover-border-color: (
            color: (
                'secondary',
                100,
            ),
        ),
        date-special-range-border-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-selected-range-background: (
            color: (
                'secondary',
                500,
                0.24,
            ),
        ),
        date-selected-range-hover-foreground: (
            contrast-color: (
                'secondary',
                900,
            ),
        ),
        date-selected-range-focus-foreground: (
            contrast-color: (
                'secondary',
                900,
            ),
        ),
        picker-hover-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        picker-focus-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        actions-divider-color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark fluent calendar schema.
/// @type {Map}
/// @prop {Map} picker-hover-foreground [color: 'primary' 200] - The :hover foreground color of the month and year pickers.
/// @prop {Map} picker-focus-foreground [color: 'primary' 200] - The :focus foreground color of the month and year pickers.
/// @prop {Map} navigation-hover-color [color: ('primary', 200)] - The :hover color of the buttons responsible for navigation.
/// @prop {Map} navigation-focus-color [color: ('primary', 200)] - The :focus color of the buttons responsible for navigation.
/// @prop {Map} year-selected-background [color: ('primary', 800)]- The background color of the selected year in years view.
/// @prop {Map} year-selected-hover-foreground [contrast-color: ('primary', 600)] - The :hover foreground color of the selected year in years view.
/// @prop {Map} year-selected-hover-background [color: ('primary' 600)] - The :hover background color of the selected year in years view.
/// @prop {Map} year-selected-current-foreground [contrast-color: ('primary', 800)] - The foreground color of the current/selected year.
/// @prop {Map} year-selected-current-background [color: ('primary', 800)] - The foreground color of the current/selected year.
/// @prop {Map} year-selected-current-hover-foreground [contrast-color: ('primary', 600)] - The :hover foreground color of the current/selected year.
/// @prop {Map} year-selected-current-hover-background [color: ('primary', 600)] - The :hover background color of the current/selected year.
/// @prop {Map} month-selected-foreground [contrast-color: ('primary', 800)] - The foreground color of the selected month in month view.
/// @prop {Map} month-selected-background [color: ('primary', 800)] - The background color of the selected month in month view.
/// @prop {Map} month-selected-hover-foreground [contrast-color: ('primary', 600)]- The :hover foreground color of the selected month in month view.
/// @prop {Map} month-selected-hover-background [color: ('primary', 600)]- The :hover background color of the selected month in month view.
/// @prop {Map} month-selected-current-foreground [contrast-color: ('primary', 800)] - The foreground color of the current/selected month in month view.
/// @prop {Map} month-selected-current-background [color: ('primary', 800)]- The background color of the current/selected month in month view.
/// @prop {Map} month-selected-current-hover-foreground [contrast-color: ('primary', 600)] - The :hover foreground color of the current/selected month in month view.
/// @prop {Map} month-selected-current-hover-background [color: ('primary', 600)] - The :hover background color of the current/selected month in month view.
/// @prop {Map} date-current-foreground [contrast-color: ('gray', 900)] - The foreground color of the current date.
/// @prop {Map} date-current-background [color: ('primary', 200)] - The background color of the current date.
/// @prop {Map} date-current-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the current date.
/// @prop {Map} date-current-focus-foreground [contrast-color: ('gray', 900)] - The :focus foreground color of the current date.
/// @prop {Map} date-selected-current-foreground [contrast-color: ('gray', 900)] - The foreground color of the selected current date.
/// @prop {Map} date-selected-current-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the selected current date.
/// @prop {Map} date-selected-current-focus-foreground [contrast-color: ('gray', 900)] - The :focus foreground color of the selected current date.
/// @prop {Map} date-selected-current-range-foreground [contrast-color: ('gray', 900)] - The foreground color of the current date in the selected range.
/// @prop {Map} date-selected-current-range-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the current date in the selected range.
/// @prop {Map} date-selected-current-range-focus-foreground [contrast-color: ('gray', 900)] - The :focus foreground color of the current date in the selected range.
/// @prop {Map} date-hover-foreground [contrast-color: 'gray', 50] - The :hover foreground color of a date.
/// @prop {Map} date-focus-foreground [contrast-color: 'gray', 50] - The :focus foreground color of a date.
/// @prop {Map} date-selected-foreground [contrast-color: ('gray', 50)] - The foreground color of the selected date.
/// @prop {Map} date-selected-hover-foreground [contrast-color: ('gray', 50)] - The :hover foreground color of the selected date.
/// @prop {Map} date-selected-focus-foreground [contrast-color: ('gray', 50)] - The :focus foreground color of the selected date.
/// @prop {Map} date-selected-range-hover-foreground [contrast-color: ('gray', 50)] - The :hover foreground color of the selected range.
/// @prop {Map} date-selected-range-focus-foreground [contrast-color: ('gray', 50)] - The :focus foreground color of the selected range.
/// @prop {Map} date-special-border-color [color: ('primary', 50)] - The outline color around a special date.
/// @prop {Map} date-special-hover-border-color [color: ('primary', 50)] - The outline color around a special date.
/// @prop {Map} date-special-range-border-color [color: ('primary', 50)] - The outline color around a special date in a range selection.
/// @prop {Map} header-foreground [contrast-color: ('primary', 200)] - The header foreground color.
/// @prop {Map} header-background [color: ('primary', 200)] - The background color of the month and year pickers.
/// @prop {Мap} actions-divider-color [color: ('gray', 100)] - The border color used for the date-picker actions divider.
/// @requires $fluent-calendar
$dark-fluent-calendar: extend(
    $fluent-calendar,
    (
        picker-hover-foreground: (
            color: (
                'primary',
                200,
            ),
        ),
        picker-focus-foreground: (
            color: (
                'primary',
                200,
            ),
        ),
        navigation-hover-color: (
            color: (
                'primary',
                200,
            ),
        ),
        navigation-focus-color: (
            color: (
                'primary',
                200,
            ),
        ),
        header-foreground: (
            contrast-color: (
                'primary',
                200,
            ),
        ),
        header-background: (
            color: (
                'primary',
                200,
            ),
        ),

        year-selected-foreground: (
            contrast-color: (
                'primary',
                800,
            ),
        ),
        year-selected-background: (
            color: (
                'primary',
                800,
            ),
        ),
        year-selected-hover-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        year-selected-hover-background: (
            color: (
                'primary',
                600,
            ),
        ),
        year-selected-current-foreground: (
            contrast-color: (
                'primary',
                800,
            ),
        ),
        year-selected-current-background: (
            color: (
                'primary',
                800,
            ),
        ),
        year-selected-current-hover-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        year-selected-current-hover-background: (
            color: (
                'primary',
                600,
            ),
        ),
        month-selected-foreground: (
            contrast-color: (
                'primary',
                800,
            ),
        ),
        month-selected-background: (
            color: (
                'primary',
                800,
            ),
        ),
        month-selected-hover-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        month-selected-hover-background: (
            color: (
                'primary',
                600,
            ),
        ),
        month-selected-current-foreground: (
            contrast-color: (
                'primary',
                800,
            ),
        ),
        month-selected-current-background: (
            color: (
                'primary',
                800,
            ),
        ),
        month-selected-current-hover-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        month-selected-current-hover-background: (
            color: (
                'primary',
                600,
            ),
        ),
        date-special-border-color: (
            color: (
                'primary',
                50,
            ),
        ),
        date-special-hover-border-color: (
            color: (
                'primary',
                50,
            ),
        ),
        date-special-range-border-color: (
            color: (
                'primary',
                50,
            ),
        ),
        date-current-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-current-background: (
            color: (
                'primary',
                200,
            ),
        ),
        date-current-hover-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-current-focus-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-hover-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-focus-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-range-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-range-hover-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        date-selected-current-range-focus-foreground: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        actions-divider-color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark bootstrap calendar schema.
/// @type {Map}
/// @prop {Map} year-hover-background [color: ('grey', 100)]- The :hover background color of the year in years view.
/// @prop {Map} year-current-hover-background [color: ('gray' 100)] - The :hover background color of the current year in years view.
/// @prop {Map} month-hover-background [color: ('grey', 100)]- The :hover background color of the month in months view.
/// @prop {Map} month-current-hover-background [color: ('gray', 100)] - The :hover background color of the current month in months view.
/// @prop {Map} date-special-hover-background [color: ('gray', 100)] - The background color of a special date.
/// @prop {Map} date-special-focus-background [color: ('gray', 100)] - The background color of a special date.
/// @prop {Map} date-hover-background [color: 'gray', 100] - The :hover background color of a date.
/// @prop {Map} date-focus-background [color: 'gray', 100] - The :focus background color of a date.
/// @prop {Map} picker-hover-foreground [color: ('secondary', 200)]- The :hover foreground color of the month and year pickers.
/// @prop {Map} picker-focus-foreground [color: ('secondary', 200)]- The :focus foreground color of the month and year pickers.
/// @prop {Map} navigation-hover-color [color: ('secondary', 200)] - The :hover color of the buttons responsible for navigation.
/// @prop {Map} navigation-focus-color [color: ('secondary', 200)] - The :focus color of the buttons responsible for navigation.
/// @prop {Map} date-special-border-color [color: ('primary', 200)] - The outline color around a special date.
/// @prop {Map} date-special-hover-border-color [color: ('primary', 200)] - The outline color around a special date.
/// @prop {Map} date-special-range-border-color [color: ('primary', 200)] - The outline color around a special date in a range selection.
/// @prop {Map} date-current-hover-background [color: ('gray', 100)] - The :hover background color of the current date.
/// @prop {Map} date-current-focus-background [color: ('gray', 100)] - The :focus background color of the current date.
/// @prop {Map} date-selected-range-hover-background [color: ('gray', 100)] - The :hover background color of the selected range.
/// @prop {Map} date-selected-range-focus-background [color: ('gray', 100)] - The :focus background color of the selected range.
/// @prop {Map} date-selected-current-range-focus-background [color: ('gray', 100)] - The :focus background color of the current date in the selected range.
/// @prop {Map} date-selected-current-range-hover-background [color: ('gray', 100)] - The :hover background color of the current date in the selected range.
/// @requires $bootstrap-calendar
$dark-bootstrap-calendar: extend(
    $bootstrap-calendar,
    (
        year-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        year-current-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        month-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        month-current-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-special-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-special-focus-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-focus-background: (
            color: (
                'gray',
                100,
            ),
        ),
        picker-hover-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        picker-focus-foreground: (
            color: (
                'secondary',
                200,
            ),
        ),
        navigation-hover-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        navigation-focus-color: (
            color: (
                'secondary',
                200,
            ),
        ),
        date-special-border-color: (
            color: (
                'primary',
                200,
            ),
        ),
        date-special-hover-border-color: (
            color: (
                'primary',
                200,
            ),
        ),
        date-special-range-border-color: (
            color: (
                'primary',
                200,
            ),
        ),
        date-current-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-current-focus-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-selected-range-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-selected-range-focus-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-selected-current-range-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),
        date-selected-current-range-focus-background: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark indigo calendar schema.
/// @type {Map}
/// @prop {Map} date-special-range-foreground [contrast-color: 'gray', 50] - The foreground color of a special date in rage selection.
/// @prop {Map} date-hover-foreground [contrast-color: 'gray', 900] - The :hover foreground color of a date.
/// @prop {Map} date-focus-foreground [contrast-color: 'gray', 900] - The :focus foreground color of a date.
/// @prop {Map} date-current-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the current date.
/// @prop {Map} date-current-focus-foreground [contrast-color: ('gray', 900)] - The :focus foreground color of the current date.
/// @prop {Map} month-hover-foreground [contrast-color: ('gray', 900)] -  The :hover foreground color of the month inside the months view.
/// @prop {Map} month-hover-background [contrast-color: ('gray', 900, .1)] - The :hover background color of the month inside the months view.
/// @prop {Map} month-current-hover-foreground [contrast-color: ('gray', 900)]- The :hover foreground color of the current month in month view.
/// @prop {Map} month-current-hover-background [contrast-color: ('gray', 900, .1)]- The :hover background color of the current month in month view.
/// @prop {Map} year-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the year in years view.
/// @prop {Map} year-hover-background [contrast-color: ('grey', 900, .1)]- The :hover background color of the year in years view.
/// @prop {Map} year-current-hover-foreground [contrast-color: ('gray', 900)] - The :hover foreground color of the current year in years view.
/// @prop {Map} date-selected-current-range-hover-background [contrast-color: ('gray', 900, .1)] - The :hover background color of the current date in the selected range.
/// @prop {Map} header-background [(color: 'gray', 50)] - The header background color.
/// @prop {Map} content-background [(color: 'gray', 50)] - The background color of the days, months and years views.
/// @prop {Map} picker-background [(color: 'gray', 50)] - The background color of the month and year pickers.
/// @prop {Map} border-color [color: ('gray', 100)] - The calendar border color.
/// @prop {Map} date-hover-background [contrast-color: ('gray', 900, .1)] - The :hover background color of a date.
/// @prop {Map} date-focus-background [contrast-color: ('gray', 900, .1)] - The :focus background color of date.
/// @prop {Map} date-current-foreground [color: ('gray', 900)] - The foreground color of the current date.
/// @prop {Map} date-disabled-foreground [color: ('gray', 500)] - The foreground color of disabled dates.
/// @prop {Map} date-disabled-range-foreground [color: ('gray', 500)] - The foreground color of disabled dates.
/// @prop {Map} date-current-border-color [color: ('primary', 400)] - The border color of the current date.
/// @prop {Map} date-current-hover-border-color [color: ('primary', 300)] - The :hover border color of the current date.
/// @prop {Map} date-current-focus-border-color [color: ('primary', 300)] - The :focus border color of the current date.
/// @prop {Map} date-special-foreground [color: ('primary', 600)] - The foreground color of a special date.
/// @prop {Map} date-special-background [color: ('primary', 600, .4)] - The background color of a special date.
/// @prop {Map} date-special-hover-foreground [contrast-color: ('primary', 600)] - The foreground color of a special date.
/// @prop {Map} date-special-hover-background [color: ('primary', 400, .7)] - The background color of a special date.
/// @prop {Map} date-special-focus-foreground [contrast-color: ('primary', 600)] - The foreground color of a special date.
/// @prop {Map} date-special-focus-background [color: ('primary', 600)] - The background color of a special date.
/// @prop {Map} navigation-hover-color [color: ('primary', 300)] - The :hover color of the icon button responsible for month navigation.
/// @prop {Map} navigation-focus-color [color: ('primary', 300)] - The :focus color of the icon button responsible for month navigation.
/// @prop {Мап} actions-divider-color [color: ('gray', 100)] - The border color used for the date-picker actions divider.
/// @prop {Map} picker-hover-foreground [color: 'primary' 300] - The :hover foreground color of the month and year pickers.
/// @prop {Map} picker-focus-foreground [color: 'primary' 300] - The :focus foreground color of the month and year pickers.
/// @prop {Map} week-number-foreground [color: ('gray', 500)] - The foreground color of the week number column.
/// @prop {Map} week-number-background [color: ('gray', 900, .05)] - The background color of the week number column.
/// @prop {Map} date-selected-range-background [color: ('primary', 400, .2)] - The background color of the selected range.
/// @requires $indigo-calendar
$dark-indigo-calendar: extend(
    $indigo-calendar,
    (
        date-special-range-foreground: (
            color: (
                'primary',
                50,
            ),
        ),
        date-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        date-focus-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),

        date-current-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        date-current-focus-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        month-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        month-hover-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),
        month-current-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        month-current-hover-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),

        year-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        year-hover-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),

        year-current-hover-foreground: (
            contrast-color: (
                'gray',
                50,
            ),
        ),

        date-selected-current-range-hover-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),

        header-background: (
            color: (
                'gray',
                50,
            ),
        ),
        picker-background: (
            color: (
                'gray',
                50,
            ),
        ),
        content-background: (
            color: (
                'gray',
                50,
            ),
        ),
        border-color: (
            color: (
                'gray',
                100,
            ),
        ),
        date-hover-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),
        date-focus-background: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),
        date-current-foreground: (
            color: (
                'gray',
                900,
            ),
        ),
        date-disabled-foreground: (
            color: (
                'gray',
                500,
            ),
        ),
        date-disabled-range-foreground: (
            color: (
                'gray',
                500,
            ),
        ),
        date-current-border-color: (
            color: (
                'primary',
                400,
            ),
        ),
        date-current-hover-border-color: (
            color: (
                'primary',
                300,
            ),
        ),
        date-current-focus-border-color: (
            color: (
                'primary',
                300,
            ),
        ),
        date-special-foreground: (
            color: (
                'primary',
                50,
            ),
        ),
        date-special-background: (
            color: (
                'primary',
                600,
                0.4,
            ),
        ),
        date-special-hover-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        date-special-hover-background: (
            color: (
                'primary',
                400,
                0.7,
            ),
        ),
        date-special-focus-foreground: (
            contrast-color: (
                'primary',
                600,
            ),
        ),
        date-special-focus-background: (
            color: (
                'primary',
                600,
            ),
        ),
        navigation-hover-color: (
            color: (
                'primary',
                300,
            ),
        ),
        navigation-focus-color: (
            color: (
                'primary',
                300,
            ),
        ),
        actions-divider-color: (
            color: (
                'gray',
                100,
            ),
        ),
        picker-hover-foreground: (
            color: (
                'primary',
                300,
            ),
        ),
        picker-focus-foreground: (
            color: (
                'primary',
                300,
            ),
        ),
        week-number-foreground: (
            color: (
                'gray',
                500,
            ),
        ),
        week-number-background: (
            contrast-color: (
                'gray',
                50,
                0.05,
            ),
        ),
        date-selected-range-background: (
            color: (
                'primary',
                400,
                0.2,
            ),
        ),
    )
);
