@use '../../../../utils/map' as *;
@use '../light/carousel' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates the base dark carousel schema.
/// @prop {Map} button-arrow-color [color: ('gray', 400)] - The previous/next buttons idle arrow color.
/// @prop {Map} button-hover-arrow-color [color: ('gray', 700)] - The previous/next buttons hover arrow color.
/// @prop {Color} indicator-border-color [color: ('gray', 600)] - The idle indicator border color.
/// @prop {Color} indicator-active-dot-color [color: ('gray', 600)] - The active indicator dot color.
/// @prop {Color} indicator-active-border-color [color: ('gray', 600)] - The active indicator border color.
/// @prop {Map} indicator-active-hover-dot-color [color: ('gray', 600)] - The active indicator dot color on hover.
/// @type {Map}
$base-dark-carousel: extend(
    $light-carousel,
    (
        button-arrow-color: (
            color: (
                'gray',
                400,
            ),
        ),

        button-hover-arrow-color: (
            color: (
                'gray',
                700,
            ),
        ),

        indicator-border-color: (
            color: (
                'gray',
                600,
            ),
        ),

        indicator-active-dot-color: (
            color: (
                'gray',
                600,
            ),
        ),

        indicator-active-border-color: (
            color: (
                'gray',
                600,
            ),
        ),

        indicator-active-hover-dot-color: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);

/// Generates a dark material carousel schema based on a mix of $material-carousel and $base-dark-carousel
/// @type {Map}
/// @requires $material-carousel
/// @requires $base-dark-carousel
$dark-material-carousel: extend($material-carousel, $base-dark-carousel);

/// Generates a dark fluent carousel schema based on a mix of $fluent-carousel and $base-dark-carousel
/// @type {Map}
/// @requires $fluent-carousel
/// @requires $base-dark-carousel
$dark-fluent-carousel: extend($fluent-carousel, $base-dark-carousel);

/// Generates a dark bootstrap carousel schema based on a mix of $bootstrap-carousel and $base-dark-carousel
/// @type {Map}
/// @requires $bootstrap-carousel
/// @requires $base-dark-carousel
$dark-bootstrap-carousel: extend($bootstrap-carousel, $base-dark-carousel);

/// Generates a dark indigo carousel schema based on a mix of $indigo-carousel and $base-dark-carousel
/// @type {Map}
/// @prop {Map} button-hover-background [color: ('gray', 100)] - The previous/next buttons hover background color.
/// @prop {Map} button-arrow-color [contrast-color: ('gray', 50, .8)] - The previous/next buttons idle arrow color.
/// @prop {Map} button-hover-arrow-color [color: ('gray', 50)] - The previous/next buttons hover arrow color.
/// @prop {Map} button-border-color [color: ('gray', 200)] - The previous/next buttons idle border color.
/// @prop {Map} button-hover-border-color [color: ('gray', 300)] - The previous/next buttons hover border color.
/// @prop {Map} button-disabled-border-color [color: ('gray', 100)] - The previous/next buttons disabled border color.
/// @prop {Map} button-disabled-arrow-color [contrast-color: ('gray' 50, .2)] - The previous/next buttons disabled color.
/// @prop {Map} indicator-dot-color [color: ('gray', 400)] - The idle indicator dot color.
/// @prop {Map} indicator-hover-dot-color [color: ('gray', 500)] - The hover indicator dot color.
/// @prop {Map} indicator-active-dot-color [color: ('primary', 400)] - The active indicator dot color.
/// @prop {Map} indicator-active-hover-dot-color [color: ('primary', 300)] - The active indicator dot color on hover.
/// @requires $indigo-carousel
$dark-indigo-carousel: extend(
    $indigo-carousel,
    (
        button-hover-background: (
            color: (
                'gray',
                100,
            ),
        ),

        button-arrow-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),

        button-hover-arrow-color: (
            contrast-color: (
                'gray',
                50,
            ),
        ),

        button-disabled-arrow-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),

        button-border-color: (
            color: (
                'gray',
                200,
            ),
        ),

        button-hover-border-color: (
            color: (
                'gray',
                300,
            ),
        ),

        button-disabled-border-color: (
            color: (
                'gray',
                100,
            ),
        ),

        indicator-dot-color: (
            color: (
                'gray',
                400,
            ),
        ),

        indicator-hover-dot-color: (
            color: (
                'gray',
                500,
            ),
        ),

        indicator-active-dot-color: (
            color: (
                'primary',
                400,
            ),
        ),

        indicator-active-hover-dot-color: (
            color: (
                'primary',
                300,
            ),
        ),
    )
);
