@use '../../../../utils/map' as *;
@use '../light/checkbox' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a dark material checkbox schema.
/// @type {Map}
/// @requires $material-checkbox
$dark-material-checkbox: $material-checkbox;

/// Generates a dark fluent checkbox schema.
/// @type {Map}
/// @prop {Map} tick-color-hover [color: ('gray', 400)] - The checked mark color on hover when the control in unchecked.
/// @prop {Map} focus-outline-color [color: ('gray', 400)] - The focus outlined color.
/// @prop {Map} fill-color [color: ('primary', 300)] - The checked border and fill colors.
/// @prop {Map} fill-color-hover [color: ('primary', 100)] - The checked border and fill colors on hover.
/// @prop {Map} disabled-color [color: ('gray', 100)] - The disabled border and fill colors.
/// @prop {Map} disabled-color-label [color: ('gray', 300)] - The disabled color of the label.
/// @prop {Map} error-color [color: ('error', 100)] - The border and fill colors in invalid state.
/// @prop {Map} error-color-hover [color: ('error', 50)] - The border and fill colors in invalid state on hover.
/// @requires $fluent-checkbox
$dark-fluent-checkbox: extend(
    $fluent-checkbox,
    (
        tick-color-hover: (
            color: (
                'gray',
                400,
            ),
        ),
        focus-outline-color: (
            color: (
                'gray',
                400,
            ),
        ),
        fill-color: (
            color: (
                'primary',
                300,
            ),
        ),
        fill-color-hover: (
            color: (
                'primary',
                100,
            ),
        ),
        disabled-color: (
            color: (
                'gray',
                100,
            ),
        ),
        disabled-color-label: (
            color: (
                'gray',
                300,
            ),
        ),
        error-color: (
            color: (
                'error',
                100,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                50,
            ),
        ),
    )
);

/// Generates a dark bootstrap checkbox schema.
/// @type {Map}
/// @prop {Map} focus-outline-color [color: ('primary', 900, 0.5)] - The focus outlined color.
/// @prop {Map} focus-outline-color-error [color: ('error', 900, 0.5)] - The focus outlined color for focused invalid state.
/// @prop {Map} disabled-color [color: ('gray', 100)] - The disabled border color.
/// @prop {Map} disabled-color-label [color: ('gray', 300)] - The disabled color of the label.
/// @prop {Map} error-color [color: ('error', 300)] - The border and fill colors in invalid state.
/// @prop {Map} error-color-hover [color: ('error', 400)] - The border and fill colors in invalid state on hover.
/// @requires $bootstrap-checkbox
$dark-bootstrap-checkbox: extend(
    $bootstrap-checkbox,
    (
        focus-outline-color: (
            color: (
                'primary',
                900,
                0.5,
            ),
        ),
        focus-outline-color-error: (
            color: (
                'error',
                900,
                0.5,
            ),
        ),
        disabled-color: (
            color: (
                'gray',
                100,
            ),
        ),
        disabled-color-label: (
            color: (
                'gray',
                300,
            ),
        ),
        error-color: (
            color: (
                'error',
                300,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                400,
            ),
        ),
    )
);

/// Generates a dark indigo checkbox schema.
/// @type {Map}
/// @prop {Map} label-color [color: ('gray', 900, .8)]- The text color used for the label text.
/// @prop {Map} label-color-hover [color: ('gray', 900)]- The text color used for the label text on hover.
/// @prop {Map} focus-outline-color [color: ('gray', 900, .2)] - The focus outlined color.
/// @prop {Map} empty-color [color: ('gray', 900, .6)] - The unchecked border color.
/// @prop {Map} empty-color-hover [color: ('gray', 900, .8)] - The unchecked border color on hover.
/// @prop {Map} error-color [color: ('error', 400)] - The border and fill colors in invalid state.
/// @prop {Map} error-color-hover [color: ('error', 300)] - The border and fill colors in invalid state on hover.
/// @prop {Map} disabled-color [color: ('gray', 900, .2)] - The disabled border and fill colors.
/// @prop {Map} disabled-color-label [color: ('gray', 900, .2)] - The disabled label color.
/// @requires $indigo-checkbox
$dark-indigo-checkbox: extend(
    $indigo-checkbox,
    (
        label-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        label-color-hover: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
        focus-outline-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        empty-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        empty-color-hover: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        error-color: (
            color: (
                'error',
                400,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                300,
            ),
        ),
        disabled-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        disabled-color-label: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
    )
);
