@use '../../../../utils/map' as *;
@use '../light/chip' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material chip schema.
/// @type {Map}
/// @requires $material-chip
$dark-material-chip: $material-chip;

/// Generates a dark fluent chip schema.
/// @type {Map}
/// @requires $fluent-chip
$dark-fluent-chip: $fluent-chip;

/// Generates a dark bootstrap chip schema.
/// @type {Map}
/// @requires $bootstrap-chip
$dark-bootstrap-chip: $bootstrap-chip;

/// Generates a dark indigo chip schema.
/// @type {Map}
/// @prop {Map} text-color [color: ('gray', 700)] - The chip text color.
/// @prop {Map} hover-text-color [color: ('gray', 700)] - The chip text hover color.
/// @prop {Map} focus-text-color [color: ('gray', 700)] The focused chip text color.
/// @prop {Map} background [color: ('surface')] - The chip background color.
/// @prop {Map} hover-background [color: ('gray', 200] - The chip hover background color.
/// @prop {Map} focus-background [color: ('surface')] The focused chip background color.
/// @prop {Map} ghost-background [color: ('gray', 200)] - The chip ghost background color.
/// @prop {Map} border-color [color: ('gray', 400)] - The chip border color.
/// @prop {Map} hover-border-color [color: ('gray', 400)] - The chip hover border color.
/// @prop {Color} focus-border-color [color: ('gray', 400)] - The chip focus border color.
/// @requires $indigo-chip
$dark-indigo-chip: extend(
    $indigo-chip,
    (
        text-color: (
            color: (
                'gray',
                700,
            ),
        ),

        hover-text-color: (
            color: (
                'gray',
                700,
            ),
        ),

        focus-text-color: (
            color: (
                'gray',
                700,
            ),
        ),

        background: (
            color: (
                'surface',
            ),
        ),

        hover-background: (
            color: (
                'gray',
                200,
            ),
        ),

        focus-background: (
            color: (
                'surface',
            ),
        ),

        ghost-background: (
            color: (
                'gray',
                200,
            ),
        ),

        border-color: (
            color: (
                'gray',
                400,
            ),
        ),

        hover-border-color: (
            color: (
                'gray',
                400,
            ),
        ),

        focus-border-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
