@use '../../../../utils/map' as *;
@use '../light/column-actions' as *;

////
/// @package theming
/// @group schemas
/// @access private
////

/// Generates a dark material column actions schema.
/// @type {Map}
/// @requires $material-column-actions
$dark-material-column-actions: $material-column-actions;

/// Generates a dark fluent column actions schema.
/// @type {Map}
/// @requires $fluent-column-actions
$dark-fluent-column-actions: $fluent-column-actions;

/// Generates a dark bootstrap column actions schema.
/// @type {Map}
/// @requires $bootstrap-column-actions
$dark-bootstrap-column-actions: $bootstrap-column-actions;

/// Generates a dark indigo column actions schema.
/// @type {Map}
/// @requires $indigo-column-actions
$dark-indigo-column-actions: $indigo-column-actions;
