// stylelint-disable max-line-length
@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../light/combo' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark combo schema.
/// @access private
/// @type {Map}
$dark-base-combo: (
    _meta: (
        name: 'combo',
        variant: 'dark',
    ),
);

/// Generates a dark material combo schema.
/// @type {Map}
/// @prop {Map} toggle-button-background [color: ('gray', 100)] - The combo toggle button background color.
/// @prop {Map} toggle-button-background-focus [color: ('gray', 200)] - The combo toggle button background color when the combo is focused.
/// @prop {Map} toggle-button-background-focus--border [color: ('gray', 100)] The combo toggle button background color when the combo is focused in border and line variants.
/// @requires $material-combo
/// @requires $dark-base-combo
$dark-material-combo: extend(
    $material-combo,
    $dark-base-combo,
    (
        toggle-button-background: (
            color: (
                'gray',
                100,
            ),
        ),
        toggle-button-background-focus: (
            color: (
                'gray',
                200,
            ),
        ),
        toggle-button-background-focus--border: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark fluent combo schema.
/// @type {Map}
/// @prop {Map} clear-button-background [color: ('gray', 50)] - The combo clear button background color.
/// @prop {Map} clear-button-background-focus [color: ('gray', 50)] - The combo clear button background color when the combo is focused.
/// @prop {Map} clear-button-foreground [color: ('gray', 400)] - The combo toggle clear foreground color.
/// @prop {Map} clear-button-foreground-focus [color: ('gray', 400)] - The combo clear button foreground color when the combo is focused.
/// @prop {Map} toggle-button-background [color: ('gray', 50)] - The combo toggle button background color.
/// @prop {Map} toggle-button-background-focus [color: ('gray', 50)] - The combo toggle button background color when the combo is focused.
/// @prop {Map} toggle-button-foreground [color: ('gray', 400)] - The combo toggle button foreground color.
/// @prop {Map} toggle-button-foreground-focus [color: ('gray', 400)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-filled [color: ('gray', 400)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-disabled [color: ('gray', 300)] - The select toggle button foreground color when the select is disabled.
/// @requires $fluent-combo
/// @requires $dark-base-combo
$dark-fluent-combo: extend(
    $fluent-combo,
    $dark-base-combo,
    (
        clear-button-background: (
            color: (
                'gray',
                50,
            ),
        ),
        clear-button-background-focus: (
            color: (
                'gray',
                50,
            ),
        ),
        clear-button-foreground: (
            color: (
                'gray',
                400,
            ),
        ),
        clear-button-foreground-focus: (
            color: (
                'gray',
                400,
            ),
        ),
        toggle-button-background: (
            color: (
                'gray',
                50,
            ),
        ),
        toggle-button-background-focus: (
            color: (
                'gray',
                50,
            ),
        ),
        toggle-button-foreground: (
            color: (
                'gray',
                400,
            ),
        ),
        toggle-button-foreground-focus: (
            color: (
                'gray',
                400,
            ),
        ),
        toggle-button-foreground-filled: (
            color: (
                'gray',
                400,
            ),
        ),
        toggle-button-foreground-disabled: (
            color: (
                'gray',
                300,
            ),
        ),
    )
);

/// Generates a dark bootstrap combo schema.
/// @type {Map}
/// @requires $bootstrap-combo
/// @requires $dark-base-combo
$dark-bootstrap-combo: extend($bootstrap-combo, $dark-base-combo);

/// Generates a dark indigo combo schema.
/// @prop {Map} clear-button-foreground [contrast-color: ('gray', 100, .6)] - The combo toggle clear foreground color.
/// @prop {Map} clear-button-foreground-focus [contrast-color: ('gray', 100, .6)] - The combo clear button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground [contrast-color: ('gray', 100, .6)] - The combo toggle button foreground color.
/// @prop {Map} toggle-button-foreground-focus [contrast-color: ('gray', 100, .8)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-filled [contrast-color: ('gray', 100, .6)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-disabled [contrast-color: ('gray', 100, .2)] - The combo toggle button foreground color when the combo is disabled.
/// @type {Map}
/// @requires $indigo-combo
/// @requires $dark-base-combo
$dark-indigo-combo: extend(
    $indigo-combo,
    $dark-base-combo,
    (
        clear-button-foreground: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        clear-button-foreground-focus: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-filled: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-focus: (
            contrast-color: (
                'gray',
                100,
                0.8,
            ),
        ),
        toggle-button-foreground-disabled: (
            contrast-color: (
                'gray',
                100,
                0.2,
            ),
        ),
    )
);
