@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../light/combo' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

// stylelint-disable max-line-length

/// Generates a dark material combo schema.
/// @type {Map}
/// @requires $material-combo
$dark-material-combo: $material-combo;

/// Generates a dark fluent combo schema.
/// @type {Map}
/// @requires $fluent-combo
$dark-fluent-combo: $fluent-combo;

/// Generates a dark bootstrap combo schema.
/// @type {Map}
/// @requires $bootstrap-combo
$dark-bootstrap-combo: $bootstrap-combo;

/// Generates a dark indigo combo schema.
/// @prop {Map} clear-button-foreground [contrast-color: ('gray', 100, .6)] - The combo toggle clear foreground color.
/// @prop {Map} clear-button-foreground-focus [contrast-color: ('gray', 100, .6)] - The combo clear button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground [contrast-color: ('gray', 100, .6)] - The combo toggle button foreground color.
/// @prop {Map} toggle-button-foreground-focus [contrast-color: ('gray', 100, .8)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-filled [contrast-color: ('gray', 100, .6)] - The combo toggle button foreground color when the combo is focused.
/// @prop {Map} toggle-button-foreground-disabled [contrast-color: ('gray', 100, .2)] - The combo toggle button foreground color when the combo is disabled.
/// @type {Map}
/// @requires $indigo-combo
$dark-indigo-combo: extend(
    $indigo-combo,
    (
        clear-button-foreground: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        clear-button-foreground-focus: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-filled: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-focus: (
            contrast-color: (
                'gray',
                100,
                0.8,
            ),
        ),
        toggle-button-foreground-disabled: (
            contrast-color: (
                'gray',
                100,
                0.2,
            ),
        ),
    )
);
