@use '../../../../utils/map' as *;
@use '../light/date-range-picker' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark date-range-picker schema.
/// @access private
/// @type {Map}
$dark-base-date-range-picker: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material date-range-picker schema.
/// @type {Map}
/// @prop {Map} ranges-border [color: ('gray', 100)] - The border color for the predefined ranges area.
/// @requires $material-date-range-picker
/// @requires $dark-base-date-range-picker
$dark-material-date-range-picker: extend(
    $material-date-range-picker,
    $dark-base-date-range-picker,
    (
        ranges-border: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark fluent date-range-picker schema.
/// @type {Map}
/// @prop {Map} ranges-border [color: ('gray', 100)] - The border color for the predefined ranges area.
/// @requires $fluent-date-range-picker
/// @requires $dark-base-date-range-picker
$dark-fluent-date-range-picker: extend(
    $fluent-date-range-picker,
    $dark-base-date-range-picker,
    (
        ranges-border: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark bootstrap date-range-picker schema.
/// @type {Map}
/// @requires $bootstrap-date-range-picker
/// @requires $dark-base-date-range-picker
$dark-bootstrap-date-range-picker: extend($bootstrap-date-range-picker, $dark-base-date-range-picker);

/// Generates a dark indigo date-range-picker schema.
/// @type {Map}
/// @prop {Map} label-color [contrast-color: ('primary', 500, 0.6)] - The color for date range separator label.
/// @prop {Map} ranges-background [color: ('gray', 50)] - The background color for the predefined ranges area.
/// @prop {Map} ranges-border [color: ('gray', 100)] - The border color for the predefined ranges area.
/// @requires $indigo-date-range-picker
/// @requires $dark-base-date-range-picker
$dark-indigo-date-range-picker: extend(
    $indigo-date-range-picker,
    $dark-base-date-range-picker,
    (
        label-color: (
            contrast-color: (
                'primary',
                500,
                0.6,
            ),
        ),

        ranges-background: (
            color: (
                'gray',
                50,
            ),
        ),

        ranges-border: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);
