@use '../../../../utils/map' as *;
@use '../light/date-range-picker' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material date-range-picker schema.
/// @type {Map}
/// @requires $material-date-range-picker
$dark-material-date-range-picker: $material-date-range-picker;

/// Generates a dark fluent date-range-picker schema.
/// @type {Map}
/// @requires $fluent-date-range-picker
$dark-fluent-date-range-picker: $fluent-date-range-picker;

/// Generates a dark bootstrap date-range-picker schema.
/// @type {Map}
/// @requires $bootstrap-date-range-picker
$dark-bootstrap-date-range-picker: $bootstrap-date-range-picker;

/// Generates a dark indigo date-range-picker schema.
/// @type {Map}
/// @requires $indigo-date-range-picker
$dark-indigo-date-range-picker: $indigo-date-range-picker;
