@use '../../../../utils/map' as *;
@use '../light/divider' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material divider schema.
/// @type {Map}
/// @requires $material-divider
$dark-material-divider: $material-divider;

/// Generates a dark fluent divider schema.
/// @type {Map}
/// @requires $fluent-divider
$dark-fluent-divider: $fluent-divider;

/// Generates a dark bootstrap divider schema.
/// @type {Map}
/// @requires $bootstrap-divider
$dark-bootstrap-divider: $bootstrap-divider;

/// Generates a dark indigo divider schema.
/// @type {Map}
/// @prop {Map} color [color: ('gray', 100)] - The color used for the divider.
/// @requires $indigo-divider
$dark-indigo-divider: extend(
    $indigo-divider,
    (
        color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);
