@use '../../../../utils/map' as *;
@use '../light/divider' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark divider schema.
/// @access private
/// @type {Map}
$dark-base-divider: (
    _meta: (
        name: 'divider',
        variant: 'dark',
    ),
);

/// Generates a dark material divider schema.
/// @type {Map}
/// @requires $material-divider
/// @requires $dark-base-divider
$dark-material-divider: extend($material-divider, $dark-base-divider);

/// Generates a dark fluent divider schema.
/// @type {Map}
/// @requires $fluent-divider
/// @requires $dark-base-divider
$dark-fluent-divider: extend($fluent-divider, $dark-base-divider);

/// Generates a dark bootstrap divider schema.
/// @type {Map}
/// @requires $bootstrap-divider
/// @requires $dark-base-divider
$dark-bootstrap-divider: extend($bootstrap-divider, $dark-base-divider);

/// Generates a dark indigo divider schema.
/// @type {Map}
/// @prop {Map} color [color: ('gray', 100)] - The color used for the divider.
/// @requires $indigo-divider
/// @requires $dark-base-divider
$dark-indigo-divider: extend(
    $indigo-divider,
    $dark-base-divider,
    (
        color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);
