@use '../../../../utils/map' as *;
@use '../light/grid-toolbar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark grid-toolbar schema based on a mix of $light-grid-toolbar and $base-dark-grid-toolbar.
/// @type {Map}
/// @requires $light-grid-toolbar
$dark-grid-toolbar: $light-grid-toolbar;

/// Generates a dark fluent grid-toolbar schema based on a mix of $fluent-grid-toolbar and $base-dark-grid-toolbar..
/// @type {Map}
/// @requires $fluent-grid-toolbar
$dark-fluent-grid-toolbar: $fluent-grid-toolbar;

/// Generates a dark bootstrap grid-toolbar schema based on a mix of $bootstrap-grid-toolbar and $base-dark-grid-toolbar..
/// @type {Map}
/// @requires $bootstrap-grid-toolbar
$dark-bootstrap-grid-toolbar: $bootstrap-grid-toolbar;

/// Generates a dark indigo grid-toolbar schema.
/// @type {Map}
/// @property {Map} background-color [color: 'surface'] - The toolbar background color.
/// @requires $indigo-grid-toolbar
$dark-indigo-grid-toolbar: extend(
    $indigo-grid-toolbar,
    (
        background-color: (
            color: 'surface',
        ),
    )
);
