@use '../../../../utils/map' as *;
@use '../light/grid-toolbar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $material-grid-toolbar
$dark-material-grid-toolbar: extend(
    $material-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),
        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $fluent-grid-toolbar
$dark-fluent-grid-toolbar: extend(
    $fluent-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),

        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $bootstrap-grid-toolbar
$dark-bootstrap-grid-toolbar: extend(
    $bootstrap-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),

        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo grid-toolbar schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 200)] - The toolbar border-bottom color.
/// @requires $indigo-grid-toolbar
$dark-indigo-grid-toolbar: extend(
    $indigo-grid-toolbar,
    (
        border-color: (
            color: (
                'gray',
                200,
            ),
        ),
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
