@use '../../../../utils/map' as *;
@use '../light/grid-summary' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material grid-summary schema.
/// @type {Map}
/// @requires $material-grid-summary
$dark-material-grid-summary: $material-grid-summary;

/// Generates a dark fluent grid-summary schema.
/// @type {Map}
/// @requires $fluent-grid-summary
$dark-fluent-grid-summary: $fluent-grid-summary;

/// Generates a dark bootstrap grid-summary schema.
/// @type {Map}
/// @requires $bootstrap-grid-summary
$dark-bootstrap-grid-summary: extend(
    $bootstrap-grid-summary,
    (
        background-color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark indigo grid-summary schema.
/// @type {Map}
/// @prop {Map} focus-background-color [color: ('gray', 100)] - The background color when a summary item is on focus.
/// @prop {Map} label-color [color: ('primary', 200)] - The summaries label color.
/// @prop {Map} label-hover-color [color: ('primary', 200)] - The summaries hover label color.
/// @prop {Map} result-color [contrast-color: 'surface'] - The summaries value/result color.
/// @prop {Map} border-color [color: ('gray', 200)] - The summaries border color.
/// @prop {Map} pinned-border-color [color: ('gray', 200)] - The border color of the summary panel.
/// @requires $indigo-grid-summary
$dark-indigo-grid-summary: extend(
    $indigo-grid-summary,
    (
        focus-background-color: (
            color: (
                'gray',
                100,
            ),
        ),

        label-color: (
            color: (
                'primary',
                200,
            ),
        ),

        label-hover-color: (
            color: (
                'primary',
                200,
            ),
        ),

        result-color: (
            contrast-color: 'surface',
        ),

        border-color: (
            color: (
                'gray',
                200,
            ),
        ),

        pinned-border-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
