@use '../../../../utils/map' as *;
@use '../light/grid-summary' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material grid-summary schema.
/// @type {Map}
/// @prop {Map} label-color [color: ('primary', 500)] - The summaries label color.
/// @prop {Map} label-hover-color [color: ('primary', 500)] - The summaries hover label color.
/// @prop {Map} background-color [color: ('gray', 50)] - The summaries background color.
/// @prop {Map} result-color [contrast-color: ('gray', 50)] - The summaries value/result color.
/// @requires {Map} $material-grid-summary
$dark-material-grid-summary: extend(
    $material-grid-summary,
    (
        label-color: (
            color: (
                'primary',
                500,
            ),
        ),

        label-hover-color: (
            color: (
                'primary',
                500,
            ),
        ),

        background-color: (
            color: (
                'gray',
                50,
            ),
        ),

        result-color: (
            contrast-color: (
                'gray',
                50,
            ),
        ),

        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent grid-summary schema.
/// @type {Map}
/// @prop {Map} label-color [color: ('primary', 300)] - The summaries label color.
/// @requires {Map} $fluent-grid-summary
$dark-fluent-grid-summary: extend(
    $fluent-grid-summary,
    (
        label-color: (
            color: (
                'primary',
                300,
            ),
        ),

        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap grid-summary schema.
/// @type {Map}
/// @prop {Map} label-color [color: ('primary', 200)] - The summaries label color.
/// @prop {Map} background-color [color: ('gray', 100)] - The summaries background color.
/// @prop {Map} result-color [contrast-color: ('gray', 100)] - The summaries value/result color.
/// @requires {Map} $bootstrap-grid-summary
$dark-bootstrap-grid-summary: extend(
    $bootstrap-grid-summary,
    (
        label-color: (
            color: (
                'primary',
                200,
            ),
        ),

        background-color: (
            color: (
                'gray',
                100,
            ),
        ),

        result-color: (
            contrast-color: (
                'gray',
                100,
            ),
        ),

        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo grid-summary schema.
/// @type {Map}
/// @prop {Map} background-color [color: ('surface')] - The summaries background color.
/// @prop {Map} label-color [color: ('primary', 200)] - The summaries label color.
/// @prop {Map} label-hover-color [color: ('primary', 200)] - The summaries hover label color.
/// @prop {Map} result-color [contrast-color: 'surface'] - The summaries value/result color.
/// @prop {Map} border-color [color: ('gray', 200)] - The summaries border color.
/// @prop {Map} pinned-border-color [color: ('gray', 200)] - The border color of the summary panel.
/// @requires {Map} $indigo-grid-summary
$dark-indigo-grid-summary: extend(
    $indigo-grid-summary,
    (
        background-color: (
            color: (
                'surface',
            ),
        ),

        label-color: (
            color: (
                'primary',
                200,
            ),
        ),

        label-hover-color: (
            color: (
                'primary',
                200,
            ),
        ),

        result-color: (
            contrast-color: 'surface',
        ),

        border-color: (
            color: (
                'gray',
                200,
            ),
        ),

        pinned-border-color: (
            color: (
                'gray',
                200,
            ),
        ),
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
