@use '../../../../utils/map' as *;
@use '../light/grid-toolbar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark grid-toolbar schema.
/// @access private
/// @type {Map}
$base-dark-grid-toolbar: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $material-grid-toolbar
$dark-material-grid-toolbar: extend(
    $material-grid-toolbar,
    $base-dark-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);

/// Generates a dark fluent grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $fluent-grid-toolbar
$dark-fluent-grid-toolbar: extend(
    $fluent-grid-toolbar,
    $base-dark-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);

/// Generates a dark bootstrap grid-toolbar schema.
/// @type {Map}
/// @prop {Map} title-text-color [color: ('gray', 600)] - The toolbar title text color.
/// @requires $bootstrap-grid-toolbar
$dark-bootstrap-grid-toolbar: extend(
    $bootstrap-grid-toolbar,
    $base-dark-grid-toolbar,
    (
        title-text-color: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);

/// Generates a dark indigo grid-toolbar schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 200)] - The toolbar border-bottom color.
/// @requires $indigo-grid-toolbar
$dark-indigo-grid-toolbar: extend(
    $indigo-grid-toolbar,
    $base-dark-grid-toolbar,
    (
        border-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
