@use '../../../../utils/map' as *;
@use '../light/grid-toolbar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material grid-toolbar schema.
/// @type {Map}
/// @requires $material-grid-toolbar
$dark-material-grid-toolbar: $material-grid-toolbar;

/// Generates a dark fluent grid-toolbar schema.
/// @type {Map}
/// @requires $fluent-grid-toolbar
$dark-fluent-grid-toolbar: $fluent-grid-toolbar;

/// Generates a dark bootstrap grid-toolbar schema.
/// @type {Map}
/// @requires $bootstrap-grid-toolbar
$dark-bootstrap-grid-toolbar: $bootstrap-grid-toolbar;

/// Generates a dark indigo grid-toolbar schema.
/// @prop {Map} border-color [color: ('gray', 200)] - The toolbar border-bottom color.
/// @type {Map}
/// @requires $indigo-grid-toolbar
$dark-indigo-grid-toolbar: extend(
    $indigo-grid-toolbar,
    (
        border-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
