@use '../../../../utils/map' as *;
@use '../light/highlight' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark grid-toolbar schema.
/// @property {Map} resting-background [color: ('gray', 200)] - The background color used for the highlight in its resting state.
/// @property {Map} resting-color [contrast-color: ('gray', 200)] - The icon color used for the highlight in its resting state.
/// @type {Map}
$dark-base-highlight: (
    resting-background: (
        color: (
            'gray',
            200,
        ),
    ),

    resting-color: (
        contrast-color: (
            'gray',
            200,
        ),
    ),
);

/// Generates a dark material highlight schema.
/// @type {Map}
/// @requires $material-highlight
/// @requires $dark-base-highlight
$dark-material-highlight: extend($material-highlight, $dark-base-highlight);

/// Generates a dark highlight schema.
/// @type {Map}
/// @requires $light-highlight
/// @requires $dark-base-highlight
$dark-highlight: extend($light-highlight, $dark-base-highlight);

/// Generates a dark fluent highlight schema.
/// @type {Map}
/// @requires $fluent-highlight
/// @requires $dark-base-highlight
$dark-fluent-highlight: extend($fluent-highlight, $dark-base-highlight);

/// Generates a dark bootstrap highlight schema.
/// @type {Map}
/// @property {Map} active-background [color: ('primary', A100)] - The background color used for the highlight in its active state.
/// @property {Map} active-color [contrast-color: ('primary', A100) - The text color used for the highlight in its active state.
/// @requires $bootstrap-highlight
/// @requires $dark-base-highlight
$dark-bootstrap-highlight: extend(
    $bootstrap-highlight,
    $dark-base-highlight,
    (
        active-background: (
            color: (
                'primary',
                'A100',
            ),
        ),

        active-color: (
            contrast-color: (
                'primary',
                'A100',
            ),
        ),
    )
);

/// Generates a dark indigo highlight schema.
/// @type {Map}
/// @requires $indigo-highlight
/// @requires $dark-base-highlight
$dark-indigo-highlight: extend($indigo-highlight, $dark-base-highlight);
