@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../light/icon' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark icon schema.
/// @access private
/// @type {Map}
$dark-base-icon: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material icon schema.
/// @type {Map}
/// @requires $material-icon
$dark-material-icon: extend($material-icon, $dark-base-icon);

/// Generates a dark fluent icon schema.
/// @type {Map}
/// @property {Map} disabled-color [color: ('gray' 500)] - The icon color.
/// @requires $fluent-icon
$dark-fluent-icon: extend(
    $fluent-icon,
    $dark-base-icon,
    (
        disabled-color: (
            color: (
                'gray',
                500,
            ),
        ),
    )
);

/// Generates a dark bootstrap icon schema.
/// @type {Map}
/// @requires $bootstrap-icon
$dark-bootstrap-icon: extend($bootstrap-icon, $dark-base-icon);

/// Generates a dark indigo icon schema.
/// @type {Map}
/// @requires $indigo-icon
$dark-indigo-icon: extend($indigo-icon, $dark-base-icon);
