////
/// @group schemas
/// @access public
////

@use './avatar' as *;
@forward './avatar';
@use './button' as *;
@forward './button';

/// The default schema. Used to create Material Design themes.
/// Use with dark palettes.
/// @type Map
/// @property {Map} avatar [$dark-avatar]
$dark-schema: (
    avatar: $dark-avatar,
);

/// An alias of $dark-schema.
/// @alias dark-schema
/// @see $dark-schema
$dark-material-schema: $dark-schema;

/// Used to create fluent component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-fluent-schema: (
    avatar: $dark-fluent-avatar,
);

/// Used to create bootstrap component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-bootstrap-schema: (
    avatar: $dark-bootstrap-avatar,
);

/// Used to create indigo component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-indigo-schema: (
    avatar: $dark-indigo-avatar,
);
