////
/// @package theming
/// @group schemas
/// @access public
////

@use './avatar' as *;
@use './button' as *;
@use './icon' as *;

/// Used to create material component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-material-schema: (
    avatar: $dark-avatar,
    button: $dark-button,
    icon: $dark-icon,
);

/// Used to create fluent component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-fluent-schema: (
    avatar: $dark-fluent-avatar,
    button: $dark-fluent-button,
    icon: $dark-fluent-icon,
);

/// Used to create bootstrap component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-bootstrap-schema: (
    avatar: $dark-bootstrap-avatar,
    button: $dark-bootstrap-button,
    icon: $dark-bootstrap-icon,
);

/// Used to create indigo component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-indigo-schema: (
    avatar: $dark-indigo-avatar,
    button: $dark-indigo-button,
    icon: $dark-indigo-icon,
);
