////
/// @package theming
/// @group schemas
/// @access public
////

@use './action-strip' as *;
@use './avatar' as *;
@use './badge' as *;
@use './banner' as *;
@use './bottom-nav' as *;
@use './button' as *;
@use './button-group' as *;
@use './calendar' as *;
@use './card' as *;
@use './carousel' as *;
@use './checkbox' as *;
@use './chip' as *;
@use './column-actions' as *;
@use './combo' as *;
@use './date-range-picker' as *;
@use './dialog' as *;
@use './divider' as *;
@use './dock-manager' as *;
@use './drop-down' as *;
@use './expansion-panel' as *;
@use './grid' as *;
@use './grid-filtering' as *;
@use './grid-summary' as *;
@use './grid-toolbar' as *;
@use './highlight' as *;
@use './icon' as *;
@use './icon-button' as *;
@use './input-group' as *;
@use './label' as *;
@use './list' as *;
@use './navbar' as *;
@use './navdrawer' as *;
@use './overlay' as *;
@use './pagination' as *;
@use './pivot-data-selector' as *;
@use './progress' as *;
@use './query-builder' as *;
@use './radio' as *;
@use './rating' as *;
@use './ripple' as *;
@use './scrollbar' as *;
@use './select' as *;
@use './slider' as *;
@use './snackbar' as *;
@use './splitter' as *;
@use './stepper' as *;
@use './switch' as *;
@use './tabs' as *;
@use './time-picker' as *;
@use './toast' as *;
@use './tooltip' as *;
@use './tree' as *;
@use './validator' as *;
@use './watermark' as *;

/// Used to create material component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-material-schema: (
    action-strip: $dark-material-action-strip,
    avatar: $dark-material-avatar,
    badge: $dark-material-badge,
    banner: $dark-material-banner,
    bottom-nav: $dark-material-bottom-nav,
    button: $dark-material-button,
    button-group: $dark-material-button-group,
    calendar: $dark-material-calendar,
    card: $dark-material-card,
    carousel: $dark-material-carousel,
    checkbox: $dark-material-checkbox,
    chip: $dark-material-chip,
    column-actions: $dark-material-column-actions,
    combo: $dark-material-combo,
    date-range: $dark-material-date-range-picker,
    dialog: $dark-material-dialog,
    divider: $dark-material-divider,
    dockmanager: $dark-material-dock-manager,
    drop-down: $dark-material-drop-down,
    expansion-panel: $dark-material-expansion-panel,
    grid: $dark-material-grid,
    grid-filtering: $dark-material-grid-filtering,
    grid-summary: $dark-material-grid-summary,
    grid-toolbar: $dark-material-grid-toolbar,
    highlight: $dark-material-highlight,
    icon: $dark-material-icon,
    icon-button: $dark-material-icon-button,
    input-group: $dark-material-input-group,
    label: $dark-material-label,
    list: $dark-material-list,
    navbar: $dark-material-navbar,
    nav-drawer: $dark-material-navdrawer,
    overlay: $dark-material-overlay,
    paginator: $dark-material-pagination,
    pivot-data-selector: $dark-material-pivot-data-selector,
    linear-bar: $dark-material-progress-linear,
    circular-bar: $dark-material-progress-circular,
    query-builder: $dark-material-query-builder,
    radio: $dark-material-radio,
    rating: $dark-material-rating,
    ripple: $dark-material-ripple,
    scrollbar: $dark-material-scrollbar,
    select: $dark-material-select,
    slider: $dark-material-slider,
    snackbar: $dark-material-snackbar,
    splitter: $dark-material-splitter,
    stepper: $dark-material-stepper,
    switch: $dark-material-switch,
    tabs: $dark-material-tabs,
    time-picker: $dark-material-time-picker,
    toast: $dark-material-toast,
    tooltip: $dark-material-tooltip,
    tree: $dark-material-tree,
    validator: $dark-material-validator,
    watermark: $dark-material-watermark,
    _meta: (
        theme: 'material',
        variant: 'dark',
    ),
);

/// Used to create fluent component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-fluent-schema: (
    action-strip: $dark-fluent-action-strip,
    avatar: $dark-fluent-avatar,
    badge: $dark-fluent-badge,
    banner: $dark-fluent-banner,
    bottom-nav: $dark-fluent-bottom-nav,
    button: $dark-fluent-button,
    button-group: $dark-fluent-button-group,
    calendar: $dark-fluent-calendar,
    card: $dark-fluent-card,
    carousel: $dark-fluent-carousel,
    checkbox: $dark-fluent-checkbox,
    chip: $dark-fluent-chip,
    column-actions: $dark-fluent-column-actions,
    combo: $dark-fluent-combo,
    date-range: $dark-fluent-date-range-picker,
    dialog: $dark-fluent-dialog,
    divider: $dark-fluent-divider,
    dockmanager: $dark-fluent-dock-manager,
    drop-down: $dark-fluent-drop-down,
    expansion-panel: $dark-fluent-expansion-panel,
    grid: $dark-fluent-grid,
    grid-filtering: $dark-fluent-grid-filtering,
    grid-summary: $dark-fluent-grid-summary,
    grid-toolbar: $dark-fluent-grid-toolbar,
    highlight: $dark-fluent-highlight,
    icon: $dark-fluent-icon,
    icon-button: $dark-fluent-icon-button,
    input-group: $dark-fluent-input-group,
    label: $dark-fluent-label,
    list: $dark-fluent-list,
    navbar: $dark-fluent-navbar,
    nav-drawer: $dark-fluent-navdrawer,
    overlay: $dark-fluent-overlay,
    paginator: $dark-fluent-pagination,
    pivot-data-selector: $dark-fluent-pivot-data-selector,
    linear-bar: $dark-fluent-progress-linear,
    circular-bar: $dark-fluent-progress-circular,
    query-builder: $dark-fluent-query-builder,
    radio: $dark-fluent-radio,
    rating: $dark-fluent-rating,
    ripple: $dark-fluent-ripple,
    scrollbar: $dark-fluent-scrollbar,
    select: $dark-fluent-select,
    slider: $dark-fluent-slider,
    snackbar: $dark-fluent-snackbar,
    splitter: $dark-fluent-splitter,
    stepper: $dark-fluent-stepper,
    switch: $dark-fluent-switch,
    tabs: $dark-fluent-tabs,
    time-picker: $dark-fluent-time-picker,
    toast: $dark-fluent-toast,
    tooltip: $dark-fluent-tooltip,
    tree: $dark-fluent-tree,
    validator: $dark-fluent-validator,
    watermark: $dark-fluent-watermark,
    _meta: (
        theme: 'fluent',
        variant: 'dark',
    ),
);

/// Used to create bootstrap component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-bootstrap-schema: (
    action-strip: $dark-bootstrap-action-strip,
    avatar: $dark-bootstrap-avatar,
    badge: $dark-bootstrap-badge,
    banner: $dark-bootstrap-banner,
    bottom-nav: $dark-bootstrap-bottom-nav,
    button: $dark-bootstrap-button,
    button-group: $dark-bootstrap-button-group,
    calendar: $dark-bootstrap-calendar,
    card: $dark-bootstrap-card,
    carousel: $dark-bootstrap-carousel,
    checkbox: $dark-bootstrap-checkbox,
    chip: $dark-bootstrap-chip,
    column-actions: $dark-bootstrap-column-actions,
    combo: $dark-bootstrap-combo,
    date-range: $dark-bootstrap-date-range-picker,
    dialog: $dark-bootstrap-dialog,
    divider: $dark-bootstrap-divider,
    dockmanager: $dark-bootstrap-dock-manager,
    drop-down: $dark-bootstrap-drop-down,
    expansion-panel: $dark-bootstrap-expansion-panel,
    grid: $dark-bootstrap-grid,
    grid-filtering: $dark-bootstrap-grid-filtering,
    grid-summary: $dark-bootstrap-grid-summary,
    grid-toolbar: $dark-bootstrap-grid-toolbar,
    highlight: $dark-bootstrap-highlight,
    icon: $dark-bootstrap-icon,
    icon-button: $dark-bootstrap-icon-button,
    input-group: $dark-bootstrap-input-group,
    label: $dark-bootstrap-label,
    list: $dark-bootstrap-list,
    navbar: $dark-bootstrap-navbar,
    nav-drawer: $dark-bootstrap-navdrawer,
    overlay: $dark-bootstrap-overlay,
    paginator: $dark-bootstrap-pagination,
    pivot-data-selector: $dark-bootstrap-pivot-data-selector,
    linear-bar: $dark-bootstrap-progress-linear,
    circular-bar: $dark-bootstrap-progress-circular,
    query-builder: $dark-bootstrap-query-builder,
    radio: $dark-bootstrap-radio,
    rating: $dark-bootstrap-rating,
    ripple: $dark-bootstrap-ripple,
    scrollbar: $dark-bootstrap-scrollbar,
    select: $dark-bootstrap-select,
    slider: $dark-bootstrap-slider,
    snackbar: $dark-bootstrap-snackbar,
    splitter: $dark-bootstrap-splitter,
    stepper: $dark-bootstrap-stepper,
    switch: $dark-bootstrap-switch,
    tabs: $dark-bootstrap-tabs,
    time-picker: $dark-bootstrap-time-picker,
    toast: $dark-bootstrap-toast,
    tooltip: $dark-bootstrap-tooltip,
    tree: $dark-bootstrap-tree,
    validator: $dark-bootstrap-validator,
    watermark: $dark-bootstrap-watermark,
    _meta: (
        theme: 'bootstrap',
        variant: 'dark',
    ),
);

/// Used to create indigo component themes.
/// Use in combination with dark palettes.
/// @type Map
$dark-indigo-schema: (
    action-strip: $dark-indigo-action-strip,
    avatar: $dark-indigo-avatar,
    badge: $dark-indigo-badge,
    banner: $dark-indigo-banner,
    bottom-nav: $dark-indigo-bottom-nav,
    button: $dark-indigo-button,
    button-group: $dark-indigo-button-group,
    calendar: $dark-indigo-calendar,
    card: $dark-indigo-card,
    carousel: $dark-indigo-carousel,
    checkbox: $dark-indigo-checkbox,
    chip: $dark-indigo-chip,
    column-actions: $dark-indigo-column-actions,
    combo: $dark-indigo-combo,
    date-range: $dark-indigo-date-range-picker,
    dialog: $dark-indigo-dialog,
    divider: $dark-indigo-divider,
    dockmanager: $dark-indigo-dock-manager,
    drop-down: $dark-indigo-drop-down,
    expansion-panel: $dark-indigo-expansion-panel,
    grid: $dark-indigo-grid,
    grid-filtering: $dark-indigo-grid-filtering,
    grid-summary: $dark-indigo-grid-summary,
    grid-toolbar: $dark-indigo-grid-toolbar,
    highlight: $dark-indigo-highlight,
    icon: $dark-indigo-icon,
    icon-button: $dark-indigo-icon-button,
    input-group: $dark-indigo-input-group,
    label: $dark-indigo-label,
    list: $dark-indigo-list,
    navbar: $dark-indigo-navbar,
    nav-drawer: $dark-indigo-navdrawer,
    overlay: $dark-indigo-overlay,
    paginator: $dark-indigo-pagination,
    pivot-data-selector: $dark-indigo-pivot-data-selector,
    linear-bar: $dark-indigo-progress-linear,
    circular-bar: $dark-indigo-progress-circular,
    query-builder: $dark-indigo-query-builder,
    radio: $dark-indigo-radio,
    rating: $dark-indigo-rating,
    ripple: $dark-indigo-ripple,
    scrollbar: $dark-indigo-scrollbar,
    select: $dark-indigo-select,
    slider: $dark-indigo-slider,
    snackbar: $dark-indigo-snackbar,
    splitter: $dark-indigo-splitter,
    stepper: $dark-indigo-stepper,
    switch: $dark-indigo-switch,
    tabs: $dark-indigo-tabs,
    time-picker: $dark-indigo-time-picker,
    toast: $dark-indigo-toast,
    tooltip: $dark-indigo-tooltip,
    tree: $dark-indigo-tree,
    validator: $dark-indigo-validator,
    watermark: $dark-indigo-watermark,
    _meta: (
        theme: 'indigo',
        variant: 'dark',
    ),
);
