@use '../../../../utils/map' as *;
@use '../light/input-group' as *;

/* stylelint-disable max-line-length */

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark input-group schema.
/// @type {Map}
$base-dark-input-group: $light-input-group;

/// Generates a dark input-group schema based on a mix of $light-input-group and $base-dark-input-group..
/// @type {Map}
/// @prop {Map} box-background-focus [color: ('gray', 100)] - The background color of an input group of type box on focus.
/// @requires $base-dark-input-group
$dark-input-group: extend(
    $base-dark-input-group,
    (
        box-background-focus: (
            color: (
                'gray',
                100,
            ),
        ),
        hover-bottom-line-color: (
            color: (
                'gray',
                800,
            ),
        ),
    )
);

/// Generates a dark fluent input-group schema based on a mix of $fluent-input-group and $base-dark-input-group.
/// @type {Map}
/// @prop {Map} input-prefix-background [color: ('gray', 100)] - The background color of an input prefix of type line, box and border.
/// @prop {Map} input-suffix-background [color: ('gray', 100)] - The background color of an input sufix of type line, box and border.
/// @prop {Map} box-background [color: ('gray', 100)] - The background color of an input group of type box.
/// @prop {Map} border-color [color: ('gray', 500)] - The border color for input groups of type border and fluent.
/// @prop {Map} hover-border-color [color: ('gray', 700)] - The hover input border for input groups of type border and fluent.
/// @prop {Map} focused-border-color [color: ('gray', 500)] - The focused input border color for input groups of type border and fluent.
/// @prop {Map} disabled-border-color [color: ('gray', 100)] - The disabled border color for input groups of type border and fluent.
/// @requires $fluent-input-group
/// @requires $base-dark-input-group
$dark-fluent-input-group: extend(
    $base-dark-input-group,
    $fluent-input-group,
    (
        input-prefix-background: (
            color: (
                'gray',
                100,
            ),
        ),
        input-suffix-background: (
            color: (
                'gray',
                100,
            ),
        ),
        box-background: (
            color: (
                'gray',
                100,
            ),
        ),
        border-color: (
            color: (
                'gray',
                500,
            ),
        ),
        hover-border-color: (
            color: (
                'gray',
                700,
            ),
        ),
        focused-border-color: (
            color: (
                'gray',
                500,
            ),
        ),
        disabled-border-color: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);

/// Generates a dark bootstrap input-group schema based on a mix of $bootstrap-input-group and $base-dark-input-group.
/// @type {Map}
/// @requires $bootstrap-input-group
/// @requires $base-dark-input-group
$dark-bootstrap-input-group: extend($base-dark-input-group, $bootstrap-input-group);

/// Generates an dark indigo input-group schema
/// @type {Map}
/// @prop {Map} $idle-secondary-color [contrast-color: ('gray', 50, .6)] - The label color in the idle state.
/// @prop {Map} $focused-secondary-color [contrast-color: ('gray', 50, .6)] - The label color in the focused state.
/// @prop {Map} placeholder-color [contrast-color: ('gray', 50, .6)] - The placeholder color of an input group.
/// @prop {Map} disabled-placeholder-color [contrast-color: ('gray', 50, .2)] - The disabled placeholder color of an input group.
/// @requires $indigo-input-group
$dark-indigo-input-group: extend(
    $indigo-input-group,
    (
        // To Do: fix contrast color opacity & docs
        input-prefix-color:
            (
                contrast-color: (
                    'gray',
                    50,
                    0.6,
                ),
            ),
        input-suffix-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        input-prefix-color--filled: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        input-suffix-color--filled: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        input-prefix-color--focused: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        input-suffix-color--focused: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        idle-bottom-line-color: (
            contrast-color: (
                'gray',
                50,
                0.4,
            ),
        ),
        hover-bottom-line-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        disabled-bottom-line-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        helper-text-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        idle-text-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        filled-text-color: (
            contrast-color: (
                'gray',
                50,
                0.8,
            ),
        ),
        box-background-hover: (
            contrast-color: (
                'gray',
                50,
                0.1,
            ),
        ),
        idle-secondary-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        focused-secondary-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        disabled-text-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        ),
        placeholder-color: (
            contrast-color: (
                'gray',
                50,
                0.6,
            ),
        ),
        disabled-placeholder-color: (
            contrast-color: (
                'gray',
                50,
                0.2,
            ),
        )
    )
);
