@use '../light/label' as *;
@use '../../../../utils/map' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark label schema.
/// @access private
/// @type {Map}
$dark-base-label: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material label schema.
/// @type {Map}
/// @requires $material-label
$dark-material-label: extend($material-label, $dark-base-label);

/// Generates a dark fluent label schema.
/// @type {Map}
/// @prop {Map} color [color: ('gray', 800)] - The label color.
/// @prop {Map} disabled-color [color: ('gray', 300)] - The label color in disabled state.
/// @requires $fluent-label
$dark-fluent-label: extend(
    $fluent-label,
    $dark-base-label,
    (
        color: (
            color: (
                'gray',
                800,
            ),
        ),
        disabled-color: (
            color: (
                'gray',
                300,
            ),
        ),
    )
);

/// Generates a dark bootstrap label schema.
/// @type {Map}
/// @requires $bootstrap-label
$dark-bootstrap-label: extend($bootstrap-label, $dark-base-label);

/// Generates a dark indigo label schema.
/// @type {Map}
/// @prop {Map} color [contrast-color: ('primary', 500, .6)] - The label color.
/// @prop {Map} disabled-color [contrast-color: ('primary', 500, .2)] - The label color in disabled state.
$dark-indigo-label: extend(
    $indigo-label,
    $dark-base-label,
    (
        color: (
            contrast-color: (
                'primary',
                500,
                0.6,
            ),
        ),
        disabled-color: (
            contrast-color: (
                'primary',
                500,
                0.2,
            ),
        ),
    )
);
