@use '../../../../utils/map' as *;
@use '../light/list' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark list schema.
/// @type {Map}
/// @prop {Map} item-background-hover [color: ('gray', 100)] - The list item hover background.
/// @prop {Map} item-background-active [color: ('gray', 100)] - The active list item background color.
$base-dark-list: (
    item-background-hover: (
        color: (
            'gray',
            100,
        ),
    ),

    item-background-active: (
        color: (
            'gray',
            100,
        ),
    ),
);

/// Generates a dark material list schema based.
/// @type {Map}
/// @requires $material-list
/// @requires $base-dark-list
$dark-material-list: extend($material-list, $base-dark-list);

/// Generates a dark fluent list schema.
/// @type {Map}
/// @requires $fluent-list
/// @requires $base-dark-list
$dark-fluent-list: extend($fluent-list, $base-dark-list);

/// Generates a dark bootstrap list schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 100)] - The list border color.
/// @prop {Map} item-background [color: ('gray', 50)] - The list item background color.
/// @prop {Map} item-background-hover [color: ('gray', 100)] - The list item hover background.
/// @prop {Map} item-background-active [color: ('gray', 100)] - The active list item background color.
/// @prop {Map} header-background [color: ('gray', 50)] - The list header background color.
/// @requires $bootstrap-list
$dark-bootstrap-list: extend(
    $bootstrap-list,
    (
        border-color: (
            color: (
                'gray',
                100,
            ),
        ),

        item-background: (
            color: (
                'gray',
                50,
            ),
        ),

        item-background-hover: (
            color: (
                'gray',
                100,
            ),
        ),

        item-background-active: (
            color: (
                'gray',
                100,
            ),
        ),

        header-background: (
            color: (
                'gray',
                50,
            ),
        ),
    )
);

/// Generates a dark indigo list schema.
/// @type {Map}
/// @prop {Map} header-text-color [contrast-color: 'surface'] - The list header text color.
/// @prop {Map} item-background-hover [color: ('primary', 500, .5)] - The list item hover background.
/// @prop {Map} item-background-active [color: ('primary')] - The active list item background color.
/// @requires $indigo-list
$dark-indigo-list: extend(
    $indigo-list,
    (
        header-text-color: (
            contrast-color: 'surface',
        ),

        item-background-hover: (
            color: (
                'primary',
                500,
                0.5,
            ),
        ),

        item-background-active: (
            color: (
                'primary',
            ),
        ),
    )
);
