@use '../light/navbar' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material navbar schema.
/// @type {Map}
/// @requires $material-navbar
$dark-material-navbar: $material-navbar;

/// Generates a dark fluent navbar schema.
/// @type {Map}
/// @requires $fluent-navbar
$dark-fluent-navbar: $fluent-navbar;

/// Generates a dark bootstrap navbar schema.
/// @type {Map}
/// @requires $bootstrap-navbar
$dark-bootstrap-navbar: $bootstrap-navbar;

/// Generates a dark indigo navbar schema.
/// @type {Map}
/// @requires $indigo-navbar
$dark-indigo-navbar: $indigo-navbar;
