@use '../../../../utils/map' as *;
@use '../light/overlay' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark overlay schema.
/// @access private
/// @type {Map}
$dark-base-overlay: (
    _meta: (
        name: 'overlay',
        variant: 'dark',
    ),
);

/// Generates a dark material overlay schema.
/// @type {Map}
/// @requires $material-overlay
$dark-material-overlay: extend($material-overlay, $dark-base-overlay);

/// Generates a dark fluent overlay schema.
/// @type {Map}
/// @requires $fluent-overlay
$dark-fluent-overlay: extend($fluent-overlay, $dark-base-overlay);

/// Generates a dark bootstrap overlay schema.
/// @type {Map}
/// @requires $bootstrap-overlay
$dark-bootstrap-overlay: extend($bootstrap-overlay, $dark-base-overlay);

/// Generates a dark indigo overlay schema.
/// @type {Map}
/// @requires $indigo-overlay
$dark-indigo-overlay: extend($indigo-overlay, $dark-base-overlay);
