@use '../../../../utils/map' as *;
@use '../light/overlay' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material overlay schema.
/// @type {Map}
/// @requires $material-overlay
$dark-material-overlay: extend(
    $material-overlay,
    (
        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent overlay schema.
/// @type {Map}
/// @requires $fluent-overlay
$dark-fluent-overlay: extend(
    $fluent-overlay,
    (
        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap overlay schema.
/// @type {Map}
/// @requires $bootstrap-overlay
$dark-bootstrap-overlay: extend(
    $bootstrap-overlay,
    (
        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo overlay schema.
/// @type {Map}
/// @requires $indigo-overlay
$dark-indigo-overlay: extend(
    $indigo-overlay,
    (
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
