@use '../../../../utils/map' as *;
@use '../light/pagination' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base dark pagination schema.
/// @type {Map}
/// @prop {Map} background-color [color: ('surface')] - The background color of the paging panel.
$base-dark-pagination: (
    background-color: (
        color: (
            'surface',
        ),
    ),
);

/// Generates a dark material pagination schema.
/// @type {Map}
/// @requires $material-pagination
/// @requires $base-dark-pagination
$dark-material-pagination: extend($material-pagination, $base-dark-pagination);

/// Generates a dark fluent pagination schema.
/// @type {Map}
/// @requires $fluent-pagination
/// @requires $base-dark-pagination
$dark-fluent-pagination: extend($fluent-pagination, $base-dark-pagination);

/// Generates a dark bootstrap pagination schema.
/// @type {Map}
/// @requires $bootstrap-pagination
$dark-bootstrap-pagination: $bootstrap-pagination;

/// Generates a dark indigo pagination schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 200)] - The border color of the paging panel.
/// @requires $indigo-pagination
$dark-indigo-pagination: extend(
    $indigo-pagination,
    (
        border-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
