@use '../../../../utils/map' as *;
@use '../light/pivot-data-selector' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material pivot data selector schema.
/// @type {Map}
/// @requires {Map} $material-pivot-data-selector
$dark-material-pivot-data-selector: extend(
    $material-pivot-data-selector,
    (
        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent pivot data selector schema.
/// @type {Map}
/// @requires {Map} $fluent-pivot-data-selector
$dark-fluent-pivot-data-selector: extend(
    $fluent-pivot-data-selector,
    (
        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap pivot data selector schema.
/// @type {Map}
/// @requires {Map} $bootstrap-pivot-data-selector
$dark-bootstrap-pivot-data-selector: extend(
    $bootstrap-pivot-data-selector,
    (
        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo pivot data selector schema.
/// @type {Map}
/// @requires {Map} $indigo-pivot-data-selector
$dark-indigo-pivot-data-selector: extend(
    $indigo-pivot-data-selector,
    (
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
