@use '../../../../utils/map' as *;
@use '../light/pivot-data-selector' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material pivot data selector schema.
/// @type {Map}
/// @requires {Map} $material-pivot-data-selector
$dark-material-pivot-data-selector: $material-pivot-data-selector;

/// Generates a dark fluent pivot data selector schema.
/// @type {Map}
/// @requires {Map} $fluent-pivot-data-selector
$dark-fluent-pivot-data-selector: $fluent-pivot-data-selector;

/// Generates a dark bootstrap pivot data selector schema.
/// @type {Map}
/// @requires {Map} $bootstrap-pivot-data-selector
$dark-bootstrap-pivot-data-selector: $bootstrap-pivot-data-selector;

/// Generates a dark indigo pivot data selector schema.
/// @type {Map}
/// @requires {Map} $indigo-pivot-data-selector
$dark-indigo-pivot-data-selector: $indigo-pivot-data-selector;
