@use '../../../../utils/map' as *;
@use '../light/query-builder' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material query builder schema.
/// @type {Map}
/// @see $material-query-builder
/// @requires $material-query-builder
$dark-material-query-builder: $material-query-builder;

/// Generates a dark fluent query builder schema.
/// @see $fluent-query-builder
/// @requires $fluent-query-builder
$dark-fluent-query-builder: $fluent-query-builder;

/// Generates a dark bootstrap query builder schema.
$dark-bootstrap-query-builder: $bootstrap-query-builder;

/// Generates a dark indigo query builder schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 50)] - The background color of the filtering row.
/// @prop {Map} header-border [color: ('gray', 100)] - The border color of the query builder header.
/// @requires $indigo-query-builder
$dark-indigo-query-builder: extend(
    $indigo-query-builder,
    (
        background: (
            color: (
                'gray',
                50,
            ),
        ),

        header-border: (
            color: (
                'gray',
                100,
            ),
        ),
    )
);
