@use '../../../../utils/map' as *;
@use '../light/ripple' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material ripple schema.
/// @type {Map}
/// @requires $material-ripple
$dark-material-ripple: extend(
    $material-ripple,
    (
        _meta: (
            theme: 'material',
            variant: 'dark',
        ),
    )
);

/// Generates a dark fluent ripple schema.
/// @type {Map}
/// @requires $fluent-ripple
$dark-fluent-ripple: extend(
    $fluent-ripple,
    (
        _meta: (
            theme: 'fluent',
            variant: 'dark',
        ),
    )
);

/// Generates a dark bootstrap ripple schema.
/// @type {Map}
/// @requires $bootstrap-ripple
$dark-bootstrap-ripple: extend(
    $bootstrap-ripple,
    (
        _meta: (
            theme: 'bootstrap',
            variant: 'dark',
        ),
    )
);

/// Generates a dark indigo ripple schema.
/// @type {Map}
/// @requires $indigo-ripple
$dark-indigo-ripple: extend(
    $indigo-ripple,
    (
        _meta: (
            theme: 'indigo',
            variant: 'dark',
        ),
    )
);
