@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../light/select' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

// stylelint-disable max-line-length

/// Generates a dark material select schema.
/// @type {Map}
/// @requires $material-select
$dark-material-select: $material-select;

/// Generates a dark fluent select schema.
/// @type {Map}
/// @requires $fluent-select
$dark-fluent-select: $fluent-select;

/// Generates a dark bootstrap select schema.
/// @type {Map}
/// @requires $bootstrap-select
$dark-bootstrap-select: $bootstrap-select;

/// Generates a dark indigo select schema.
/// @type {Map}
/// @prop {Map} toggle-button-foreground [contrast-color: ('gray', 100, .6)] - The select toggle button foreground color.
/// @prop {Map} toggle-button-foreground-focus [contrast-color: ('gray', 100, .6)] - The select toggle button foreground color when the select is focused.
/// @prop {Map} toggle-button-foreground-filled [contrast-color: ('gray', 100, .8)] - The select toggle button foreground color when the select is focused.
/// @prop {Map} toggle-button-foreground-disabled [contrast-color: ('gray', 100, .2)] - The select toggle button foreground color when the select is disabled.
/// @requires $indigo-select
$dark-indigo-select: extend(
    $indigo-select,
    (
        toggle-button-foreground: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-filled: (
            contrast-color: (
                'gray',
                100,
                0.6,
            ),
        ),
        toggle-button-foreground-focus: (
            contrast-color: (
                'gray',
                100,
                0.8,
            ),
        ),
        toggle-button-foreground-disabled: (
            contrast-color: (
                'gray',
                100,
                0.2,
            ),
        ),
    )
);
