@use '../../../../utils/map' as *;
@use '../light/splitter' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material splitter schema.
/// @type {Map}
/// @prop {Map} bar-color [color: ('gray', 50)] - The background color of the bar.
/// @prop {Map} handle-color [color: ('gray', 800)] - The color for the bar drag handle.
/// @prop {Map} expander-color [color: ('gray', 800)] - The color for the arrow expander's.
/// @requires $light-splitter
$dark-material-splitter: extend(
    $light-splitter,
    (
        bar-color: (
            color: (
                'gray',
                50,
            ),
        ),

        handle-color: (
            color: (
                'gray',
                800,
            ),
        ),

        expander-color: (
            color: (
                'gray',
                800,
            ),
        ),
    )
);

/// Generates a dark fluent splitter schema.
/// @type {Map}
/// @requires $fluent-splitter
$dark-fluent-splitter: $fluent-splitter;

/// Generates a dark bootstrap splitter schema.
/// @type {Map}
/// @requires $bootstrap-splitter
$dark-bootstrap-splitter: $bootstrap-splitter;

/// Generates a dark indigo splitter schema.
/// @type {Map}
/// @prop {Map} bar-color [color: ('gray', 200)] - The background color of the bar.
/// @prop {Map} focus-color [color: ('gray', 300)] - The color used for focused splitter bar.
/// @prop {Map} handle-color [color: ('gray', 600)] - The color for the bar drag handle.
/// @prop {Map} expander-color [color: ('gray', 600)] - The color for the arrow expander.
/// @requires $indigo-splitter
$dark-indigo-splitter: extend(
    $indigo-splitter,
    (
        bar-color: (
            color: (
                'gray',
                200,
            ),
        ),

        focus-color: (
            color: (
                'gray',
                300,
            ),
        ),
        handle-color: (
            color: (
                'gray',
                600,
            ),
        ),

        expander-color: (
            color: (
                'gray',
                600,
            ),
        ),
    )
);
