@use '../../../../utils/map' as *;
@use '../light/time-picker' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark material time-picker schema.
/// @type {Map}
/// @requires $material-time-picker
$dark-material-time-picker: $material-time-picker;

/// Generates a dark fluent time-picker schema.
/// @type {Map}
/// @requires $fluent-time-picker
$dark-fluent-time-picker: $fluent-time-picker;

/// Generates a dark bootstrap time-picker schema.
/// @type {Map}
/// @requires $bootstrap-time-picker
$dark-bootstrap-time-picker: $bootstrap-time-picker;

/// Generates a dark indigo time-picker schema.
/// @type {Map}
/// @prop {Map} text-color [contrast-color: ('surface')] - The text color of an open time picker.
/// @prop {Map} selected-text-color [color: ('primary', 300)] -  The text color of a selected item in time picker.
/// @prop {Map} hover-text-color [color: ('primary', 300)] - The hover text color of an open time picker.
/// @requires $indigo-time-picker
$dark-indigo-time-picker: extend(
    $indigo-time-picker,
    (
        text-color: (
            contrast-color: (
                'surface',
            ),
        ),

        hover-text-color: (
            color: (
                'primary',
                300,
            ),
        ),

        selected-text-color: (
            color: (
                'primary',
                300,
            ),
        ),
    )
);
