@use '../../../../utils/map' as *;
@use '../light/toast' as *;
@use '../elevation/toast' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark base toast schema.
/// @access private
/// @type {Map}
$dark-base-toast: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark material toast schema.
/// @type {Map}
/// @requires $material-toast
/// @requires $dark-base-toast
$dark-material-toast: extend($material-toast, $dark-base-toast);

/// Generates a dark fluent toast schema.
/// @type {Map}
/// @requires $fluent-toast
/// @requires $dark-base-toast
$dark-fluent-toast: extend($fluent-toast, $dark-base-toast);

/// Generates a dark bootstrap toast schema.
/// @see $bootstrap-toast
/// @requires $bootstrap-toast
/// @requires $dark-base-toast
$dark-bootstrap-toast: extend($bootstrap-toast, $dark-base-toast);

/// Generates a dark indigo toast schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 300)] - The background color used for the toast.
/// @prop {Map} text-color [contrast-color: ('gray', 50)] - The text-color used for the toast.
/// @requires $indigo-toast
/// @requires $dark-base-toast
/// @requires $dark-indigo-elevation-toast
$dark-indigo-toast: extend(
    $indigo-toast,
    $dark-base-toast,
    $dark-indigo-elevation-toast,
    (
        background: (
            color: (
                'gray',
                300,
            ),
        ),

        text-color: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
    )
);
