@use '../../../../utils/map' as *;
@use '../light/toast' as *;
@use '../elevation/toast' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a dark base toast schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 500, .9)] - The background color used for the toast.
/// @prop {Map} border-color [color: ('gray', 500, .9)] - The border color used for the toast.
/// @prop {Map} text-color [contrast-color: ('gray', 500)] - The text-color used for the toast.
$dark-base-toast: (
    background: (
        color: (
            'gray',
            500,
            0.9,
        ),
    ),
    border-color: (
        color: (
            'gray',
            500,
            0.9,
        ),
    ),
    text-color: (
        contrast-color: (
            'gray',
            500,
        ),
    ),
);

/// Generates a dark material toast schema.
/// @type {Map}
/// @requires $material-toast
/// @requires $dark-base-toast
$dark-material-toast: extend($material-toast, $dark-base-toast);

/// Generates a dark fluent toast schema.
/// @type {Map}
/// @requires $fluent-toast
/// @requires $dark-base-toast
$dark-fluent-toast: extend($fluent-toast, $dark-base-toast);

/// Generates a dark bootstrap toast schema.
/// @type {Map}
/// @prop {Map} background [contrast-color: ('surface')] - The background color used for the toast.
/// @prop {Map} text-color [contrast-color: ('gray', 600)] - The text-color used for the toast.
/// @requires $bootstrap-toast
$dark-bootstrap-toast: extend(
    $bootstrap-toast,
    (
        background: (
            contrast-color: (
                'surface',
            ),
        ),

        text-color: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
    )
);

/// Generates a dark indigo toast schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 300)] - The background color used for the toast.
/// @prop {Map} text-color [contrast-color: ('gray', 50)] - The text-color used for the toast.
/// @requires $indigo-toast
/// @requires $dark-indigo-elevation-toast
$dark-indigo-toast: extend(
    $indigo-toast,
    $dark-indigo-elevation-toast,
    (
        background: (
            color: (
                'gray',
                300,
            ),
        ),

        text-color: (
            contrast-color: (
                'gray',
                50,
            ),
        ),
    )
);
