@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../elevation/carousel' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light carousel schema.
/// @type {Map}
/// @prop {Map} slide-background [color: ('gray', 50)] - The slide background color.
/// @prop {Map} button-background [color: ('gray', 50)] - The previous/next buttons idle background color.
/// @prop {Map} button-hover-background [color: ('gray', 50)] - The previous/next buttons hover background color.
/// @prop {Map} button-disabled-background [color: ('gray', 100)] - The previous/next buttons disabled background color.
/// @prop {Map} button-arrow-color [color: ('gray', 700)] - The previous/next buttons idle arrow color.
/// @prop {Map} button-hover-arrow-color [color: ('gray', 900)] - The previous/next buttons hover arrow color.
/// @prop {Map} button-disabled-arrow-color [color: ('gray' 400)] - The previous/next buttons disabled color.
/// @prop {Color} button-border-color [transparent] - The previous/next buttons idle border color.
/// @prop {Color} button-hover-border-color [transparent] - The previous/next buttons hover border color.
/// @prop {Color} button-disabled-border-color [transparent] - The previous/next buttons disabled border color.
/// @prop {Color} indicator-dot-color [transparent] - The idle indicator dot color.
/// @prop {Color} indicator-hover-dot-color [transparent] - The hover indicator dot color.
/// @prop {Map} indicator-border-color [color: ('gray', 50)] - The idle indicator border color.
/// @prop {Map} indicator-active-dot-color [color: ('gray', 50)] - The active indicator dot color.
/// @prop {Map} indicator-active-border-color [color: ('gray', 50)] - The active indicator border color.
/// @prop {Map} indicator-active-hover-dot-color [color: ('gray', 50)] - The active indicator dot color on hover.
/// @prop {Number} button-elevation [1] - The elevation level, between 0-24, to be used for the carousel buttons.
/// @prop {List} border-radius [(rem(0), rem(0), rem(36px))] - The border radius used for carousel.
/// @requires {Map} $default-elevation-carousel
$light-carousel: extend(
    $default-elevation-carousel,
    (
        slide-background: (
            color: (
                'gray',
                50,
            ),
        ),

        button-background: (
            color: (
                'gray',
                50,
            ),
        ),

        button-hover-background: (
            color: (
                'gray',
                50,
            ),
        ),

        button-arrow-color: (
            color: (
                'gray',
                700,
            ),
        ),

        button-hover-arrow-color: (
            color: (
                'gray',
                900,
            ),
        ),

        button-disabled-background: (
            color: (
                'gray',
                100,
            ),
        ),

        button-disabled-arrow-color: (
            color: (
                'gray',
                400,
            ),
        ),

        button-border-color: transparent,
        button-hover-border-color: transparent,
        button-disabled-border-color: transparent,
        indicator-dot-color: transparent,

        indicator-border-color: (
            color: (
                'gray',
                50,
            ),
        ),

        indicator-active-dot-color: (
            color: (
                'gray',
                50,
            ),
        ),

        indicator-active-border-color: (
            color: (
                'gray',
                50,
            ),
        ),

        indicator-active-hover-dot-color: (
            color: (
                'gray',
                50,
            ),
        ),

        border-radius: (
            border-radius: (
                rem(0),
                rem(0),
                rem(36px),
            ),
        ),
    )
);

/// Generates a material carousel schema.
/// @type {Map}
/// @prop {Number} button-elevation [0] - The elevation level, between 0-24, to be used for the carousel buttons.
/// @requires {Map} $light-carousel
/// @requires {Map} $default-elevation-carousel
$material-carousel: $light-carousel;

/// Generates a fluent carousel schema.
/// @type {Map}
/// @prop {Number} button-elevation [0] - The elevation level, between 0-24, to be used for the carousel buttons.
/// @requires {Map} $light-carousel
/// @requires {Map} $fluent-elevation-carousel
$fluent-carousel: extend($light-carousel, $fluent-elevation-carousel);

/// Generates a bootstrap carousel schema.
/// @type {Map}
/// @prop {List} border-radius [(rem(4px), rem(0), rem(36px))] - The border radius used for carousel.
/// @prop {Number} button-elevation [0] - The elevation level, between 0-24, to be used for the carousel buttons.
/// @requires {Map} $light-carousel
/// @requires {Map} $bootstrap-elevation-carousel
$bootstrap-carousel: extend(
    $light-carousel,
    $bootstrap-elevation-carousel,
    (
        border-radius: (
            border-radius: (
                rem(4px),
                rem(0),
                rem(36px),
            ),
        ),
    )
);

/// Generates an indigo carousel schema.
/// @type {Map}
/// @prop {Map} button-arrow-color [color: ('gray', 600)] - The previous/next buttons idle arrow color.
/// @prop {Map} button-hover-background [color: ('gray', 200)] - The previous/next buttons hover background color.
/// @prop {Map} button-hover-arrow-color [color: ('gray', 700)] - The previous/next buttons hover arrow color.
/// @prop {Map} button-border-color [color: ('gray', 400)] - The previous/next buttons idle border color.
/// @prop {Map} button-hover-border-color [color: ('gray', 500)] - The previous/next buttons hover border color.
/// @prop {Map} button-disabled-border-color [color: ('gray', 300)] - The previous/next buttons disabled border color.
/// @prop {Map} button-disabled-background [color: ('gray', 50)] - The previous/next buttons disabled background color.
/// @prop {Map} indicator-dot-color [color: ('gray', 500)] - The idle indicator dot color.
/// @prop {Map} indicator-hover-dot-color [color: ('gray', 600)] - The hover indicator dot color.
/// @prop {Map} indicator-active-dot-color [color: ('primary', 500)] - The active indicator dot color.
/// @prop {Map} indicator-active-hover-dot-color [color: ('primary', 400)] - The active indicator dot color on hover.
/// @prop {Number} button-elevation [0] - The elevation level, between 0-24, to be used for the carousel buttons.
/// @requires {Map} $light-carousel
/// @requires {Map} $indigo-elevation-carousel
$indigo-carousel: extend(
    $light-carousel,
    $indigo-elevation-carousel,
    (
        button-arrow-color: (
            color: (
                'gray',
                600,
            ),
        ),

        button-hover-background: (
            color: (
                'gray',
                200,
            ),
        ),

        button-hover-arrow-color: (
            color: (
                'gray',
                700,
            ),
        ),

        button-border-color: (
            color: (
                'gray',
                400,
            ),
        ),

        button-hover-border-color: (
            color: (
                'gray',
                500,
            ),
        ),

        button-disabled-border-color: (
            color: (
                'gray',
                300,
            ),
        ),

        button-disabled-background: (
            color: (
                'gray',
                50,
            ),
        ),

        indicator-dot-color: (
            color: (
                'gray',
                500,
            ),
        ),

        indicator-hover-dot-color: (
            color: (
                'gray',
                600,
            ),
        ),

        indicator-active-dot-color: (
            color: (
                'primary',
                500,
            ),
        ),

        indicator-active-hover-dot-color: (
            color: (
                'primary',
                400,
            ),
        ),
    )
);
