@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light date-range-picker schema.
/// @type {Map}
/// @prop {Map} label-color [color: ('gray', 500)] - The Color for date range separator label.
$light-date-range-picker: (
    label-color: (
        color: (
            'gray',
            500,
        ),
    ),
);

/// Generates a material date-range-picker schema.
/// @type {Map}
/// @requires {Map} $light-date-range-picker
$material-date-range-picker: $light-date-range-picker;

/// Generates a fluent date-range-picker schema.
/// @type {Map}
/// @requires {Map} $light-date-range-picker
$fluent-date-range-picker: $light-date-range-picker;

/// Generates a bootstrap date-range-picker schema.
/// @type {Map}
/// @requires {Map} $light-date-range-picker
$bootstrap-date-range-picker: $light-date-range-picker;

/// Generates an indigo date-range-picker schema.
/// @type {Map}
/// @requires {Map} $light-date-range-picker
$indigo-date-range-picker: $light-date-range-picker;
