@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use 'calendar/base' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a material date-picker schema.
/// @type {Map}
/// @prop {Map} actions-divider-color [color: ('gray', 200)] - The border color used for the date-picker actions divider.
/// @requires {Map} $material-base
$material-date-picker: extend(
    $material-base,
    (
        actions-divider-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);

/// Generates a fluent date-picker schema.
/// @type {Map}
/// @prop {Map} actions-divider-color [color: ('gray', 200)] - The border color used for the date-picker actions divider.
/// @requires {Map} $fluent-base
$fluent-date-picker: extend(
    $fluent-base,
    (
        actions-divider-color: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);

/// Generates a bootstrap date-picker schema.
/// @type {Map}
/// @prop {Map} actions-divider-color [color: ('gray', 300)] - The border color used for the date-picker actions divider.
/// @requires {Map} $bootstrap-base
$bootstrap-date-picker: extend(
    $bootstrap-base,
    (
        actions-divider-color: (
            color: (
                'gray',
                300,
            ),
        ),
    )
);

/// Generates an indigo date-picker schema.
/// @type {Map}
/// @prop {Map} actions-divider-color [color: ('gray', 400)] - The border color used for the date-picker actions divider.
/// @requires {Map} $indigo-base
$indigo-date-picker: extend(
    $indigo-base,
    (
        actions-divider-color: (
            color: (
                'gray',
                400,
            ),
        ),
    )
);
