@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../elevation/dialog' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light dialog schema.
/// @type {Map}
/// @prop {Map} background [color: 'surface'] - The dialog background color.
/// @prop {Map} title-color [color: ('gray', 900)] - The dialog title text color.
/// @prop {Map} message-color [color: ('gray', 600)] - The dialog message text color.
/// @prop {Color} border-color [transparent] - The border color for dialog component.
/// @prop {Map} backdrop [color: ('gray', 50, .54)] - The dialog backdrop color.
/// @prop {Number} elevation [24] - The elevation level, between 0-24, to be used for the dialog.
/// @prop {List} border-radius [(rem(4px), rem(0), rem(36px))] - The border radius used for dialog.
/// @prop {Number} default-size [2] - The default size used for the dialog component.
/// @requires {Map} $default-elevation-dialog
$light-dialog: extend(
    $default-elevation-dialog,
    (
        background: (
            color: 'surface',
        ),

        title-color: (
            color: (
                'gray',
                900,
            ),
        ),

        message-color: (
            color: (
                'gray',
                600,
            ),
        ),

        border-color: transparent,

        backdrop: (
            color: (
                'gray',
                500,
                0.54,
            ),
        ),

        border-radius: (
            border-radius: (
                rem(4px),
                rem(0),
                rem(36px),
            ),
        ),
        default-size: 2,
    )
);

/// Generates a material dialog schema.
/// @type {Map}
/// @requires {Map} $light-dialog
$material-dialog: $light-dialog;

/// Generates a fluent dialog schema.
/// @type {Map}
/// @prop {Map} backdrop [color: ('gray', 900, .4)] - The dialog backdrop color.
/// @prop {List} border-radius [(rem(2px), rem(0), rem(36px))] - The border radius used for dialog.
/// @prop {Map} message-color [color: ('gray', 700)] - The dialog message text color.
/// @requires {Map} $light-dialog
$fluent-dialog: extend(
    $light-dialog,
    (
        backdrop: (
            color: (
                'gray',
                900,
                0.4,
            ),
        ),

        border-radius: (
            border-radius: (
                rem(2px),
                rem(0),
                rem(36px),
            ),
        ),
        message-color: (
            color: (
                'gray',
                700,
            ),
        ),
    )
);

/// Generates a bootstrap dialog schema.
/// @type {Map}
/// @prop {Map} border-color [color: ('gray', 300)] - The border color for dialog component.
/// @prop {Number} elevation [0] - The elevation level, between 0-24, to be used for the dialog.
/// @requires {Map} $light-dialog
/// @requires {Map} $bootstrap-elevation-dialog
$bootstrap-dialog: extend(
    $light-dialog,
    $bootstrap-elevation-dialog,
    (
        border-color: (
            color: (
                'gray',
                300,
            ),
        ),
    )
);

/// Generates an indigo dialog schema.
/// @type {Map}
/// @prop {Map} message-color [color: ('gray', 700)] - The dialog message text color.
/// @prop {List} border-radius [(rem(10px), rem(0), rem(36px))] - The border radius used for dialog.
/// @requires {Map} $light-dialog
$indigo-dialog: extend(
    $light-dialog,
    (
        background: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        message-color: (
            color: (
                'gray',
                700,
            ),
        ),

        border-radius: (
            border-radius: (
                rem(10px),
                rem(0),
                rem(36px),
            ),
        ),
    )
);
