@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light divider schema.
/// @type {Map}
/// @prop {Map} color [color: ('gray', 300)] - The color used for the divider.
/// @prop {number} inset [0] - The inset value of the divider.
$light-divider: (
    color: (
        color: (
            'gray',
            300,
        ),
    ),
    inset: 0,
    _meta: (
        name: 'divider',
        variant: 'light',
    ),
);

/// Generates a material divider schema.
/// @type {Map}
/// @requires {Map} $light-divider
$material-divider: extend(
    $light-divider,
    (
        _meta: (
            theme: 'material',
        ),
    )
);

/// Generates a fluent divider schema.
/// @type {Map}
/// @requires {Map} $light-divider
$fluent-divider: extend(
    $light-divider,
    (
        _meta: (
            theme: 'fluent',
        ),
    )
);

/// Generates a bootstrap divider schema.
/// @type {Map}
$bootstrap-divider: extend(
    $light-divider,
    (
        _meta: (
            theme: 'bootstrap',
        ),
    )
);

/// Generates an indigo divider schema.
/// @type {Map}
$indigo-divider: extend(
    $light-divider,
    (
        _meta: (
            theme: 'indigo',
        ),
    )
);
