@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light grid-filtering schema.
/// @type {Map}
/// @prop {Color} menu-background [color: ('surface')] - The idle menu background color.
/// @prop {Color} toggle-background [transparent] - The idle toggle background color.
/// @prop {Color} toggle-filtered-background [transparent] - The filtered toggle background color.
/// @prop {Color} toggle-icon-color [inherit] - The idle toggle icon color.
/// @prop {Color} toggle-icon-hover-color [contrast-color: ('gray', 900)] - The hover toggle icon color.
/// @prop {Color} menu-button-disabled-text-color [initial] - The menu disabled button text color.
/// @prop {Map} toggle-icon-active-color [contrast-color: ('secondary', 500)] - The active toggle icon color.
/// @prop {Map} toggle-icon-filtered-color [color: ('secondary', 500)] - The filtered toggle icon color.
/// @prop {Map} toggle-hover-background [color: ('gray', 300)] - The hover toggle background color.
/// @prop {Map} toggle-active-background [color: ('secondary', 500)] - The active toggle background color.
/// @prop {Map} menu-text-color [color: ('gray', 900)] - The idle menu text color.
/// @prop {Map} menu-button-text-color [color: ('secondary', 500)] - The menu button text color.
$light-grid-filtering: (
    menu-background: (
        color: (
            'surface',
        ),
    ),
    toggle-background: transparent,
    toggle-filtered-background: transparent,
    toggle-icon-color: inherit,
    toggle-icon-hover-color: (
        contrast-color: (
            'gray',
            900,
        ),
    ),
    menu-button-disabled-text-color: initial,

    toggle-icon-active-color: (
        contrast-color: (
            'secondary',
            500,
        ),
    ),

    toggle-icon-filtered-color: (
        color: (
            'secondary',
            500,
        ),
    ),

    toggle-hover-background: (
        color: (
            'gray',
            300,
        ),
    ),

    toggle-active-background: (
        color: (
            'secondary',
            500,
        ),
    ),

    menu-text-color: (
        color: (
            'gray',
            900,
        ),
    ),

    menu-button-text-color: (
        color: (
            'secondary',
            500,
        ),
    ),
);

/// Generates a material grid-filtering schema.
/// @type {Map}
/// @requires {Map} $light-grid-filtering
$material-grid-filtering: $light-grid-filtering;

/// Generates a fluent grid-filtering schema.
/// @type {Map}
/// @requires {Map} $light-grid-filtering
$fluent-grid-filtering: $light-grid-filtering;

/// Generates a bootstrap grid-filtering schema.
/// @type {Map}
/// @requires {Map} $light-grid-filtering
$bootstrap-grid-filtering: $light-grid-filtering;

/// Generates an indigo grid-filtering schema.
/// @type {Map}
/// @requires {Map} $light-grid-filtering
$indigo-grid-filtering: $light-grid-filtering;
