@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light icon schema.
/// @type {Map}
/// @prop {Color} color ["'currentColor'"] - The icon color.
/// @prop {Color} disabled-color ["'currentColor'"] - The disabled icon color.
/// @prop {List} size [(em(18px), em(20px), em(24px))] - The size used for the icon.
$light-icon: (
    color: "'currentColor'",
    disabled-color: "'currentColor'",
    size: (
        sizable: (
            em(18px),
            em(20px),
            em(24px),
        ),
    ),
);

/// Generates a fluent icon schema.
/// @type {Map}
/// @requires {Map} $light-icon
$fluent-icon: $light-icon;

/// Generates a bootstrap icon schema.
/// @type {Map}
/// @requires {Map} $light-icon
$bootstrap-icon: $light-icon;

/// Generates an indigo icon schema.
/// @type {Map}
/// @prop {Map} disabled-color [color: ('gray', 400)] - The disabled icon color.
/// @requires {Map} $light-icon
$indigo-icon: extend(
    $light-icon,
    (
        disabled-color: (
            color: (
                'gray',
                400,
            ),
        ),
    )
);
