////
/// @package theming
/// @group schemas
/// @access public
////

@use './avatar' as *;
@use './button' as *;

/// Used to create material component themes.
/// Use in combination with light palettes.
/// @type Map.
$light-material-schema: (
    avatar: $light-avatar,
    button: $light-button,
);

/// Used to create fluent component themes.
/// Use in combination with light palettes.
/// @type Map
$light-fluent-schema: (
    avatar: $fluent-avatar,
    button: $fluent-button,
);

/// Used to create bootstrap component themes.
/// Use in combination with light palettes.
/// @type Map
$light-bootstrap-schema: (
    avatar: $bootstrap-avatar,
    button: $bootstrap-button,
);

/// Used to create indigo component themes.
/// Use in combination with light palettes.
/// @type Map
$light-indigo-schema: (
    avatar: $indigo-avatar,
    button: $indigo-button,
);
