////
/// @package theming
/// @group schemas
/// @access public
////

@use './action-strip' as *;
@use './avatar' as *;
@use './badge' as *;
@use './banner' as *;
@use './bottom-nav' as *;
@use './button' as *;
@use './button-group' as *;
@use './calendar' as *;
@use './card' as *;
@use './carousel' as *;
@use './checkbox' as *;
@use './chip' as *;
@use './column-actions' as *;
@use './combo' as *;
@use './date-range-picker' as *;
@use './dialog' as *;
@use './divider' as *;
@use './dock-manager' as *;
@use './drop-down' as *;
@use './expansion-panel' as *;
@use './grid' as *;
@use './grid-filtering' as *;
@use './grid-summary' as *;
@use './grid-toolbar' as *;
@use './highlight' as *;
@use './icon' as *;
@use './icon-button' as *;
@use './input-group' as *;
@use './list' as *;
@use './label' as *;
@use './navbar' as *;
@use './navdrawer' as *;
@use './overlay' as *;
@use './pagination' as *;
@use './pivot-data-selector' as *;
@use './progress' as *;
@use './query-builder' as *;
@use './radio' as *;
@use './rating' as *;
@use './ripple' as *;
@use './scrollbar' as *;
@use './select' as *;
@use './slider' as *;
@use './snackbar' as *;
@use './splitter' as *;
@use './stepper' as *;
@use './switch' as *;
@use './tabs' as *;
@use './time-picker' as *;
@use './toast' as *;
@use './tooltip' as *;
@use './tree' as *;
@use './validator' as *;
@use './watermark' as *;

/// Used to create material component themes.
/// Use in combination with light palettes.
/// @type Map.
$light-material-schema: (
    action-strip: $material-action-strip,
    avatar: $material-avatar,
    badge: $material-badge,
    banner: $material-banner,
    bottom-nav: $material-bottom-nav,
    button: $material-button,
    button-group: $material-button-group,
    calendar: $material-calendar,
    card: $material-card,
    carousel: $material-carousel,
    checkbox: $material-checkbox,
    chip: $material-chip,
    column-actions: $material-column-actions,
    combo: $material-combo,
    date-range: $material-date-range-picker,
    dialog: $material-dialog,
    divider: $material-divider,
    dockmanager: $material-dock-manager,
    drop-down: $material-drop-down,
    expansion-panel: $material-expansion-panel,
    grid: $material-grid,
    grid-filtering: $material-grid-filtering,
    grid-summary: $material-grid-summary,
    grid-toolbar: $material-grid-toolbar,
    highlight: $material-highlight,
    icon: $material-icon,
    icon-button: $material-icon-button,
    input-group: $material-input-group,
    label: $material-label,
    list: $material-list,
    navbar: $material-navbar,
    nav-drawer: $material-navdrawer,
    overlay: $material-overlay,
    paginator: $material-pagination,
    pivot-data-selector: $material-pivot-data-selector,
    linear-bar: $material-progress-linear,
    circular-bar: $material-progress-circular,
    query-builder: $material-query-builder,
    radio: $material-radio,
    rating: $material-rating,
    ripple: $material-ripple,
    scrollbar: $material-scrollbar,
    select: $material-select,
    slider: $material-slider,
    snackbar: $material-snackbar,
    splitter: $material-splitter,
    stepper: $material-stepper,
    switch: $material-switch,
    tabs: $material-tabs,
    time-picker: $material-time-picker,
    toast: $material-toast,
    tooltip: $material-tooltip,
    tree: $material-tree,
    validator: $material-validator,
    watermark: $material-watermark,
    _meta: (
        theme: 'material',
        variant: 'light',
    ),
);

/// Used to create fluent component themes.
/// Use in combination with light palettes.
/// @type Map
$light-fluent-schema: (
    action-strip: $fluent-action-strip,
    avatar: $fluent-avatar,
    badge: $fluent-badge,
    banner: $fluent-banner,
    bottom-nav: $fluent-bottom-nav,
    button: $fluent-button,
    button-group: $fluent-button-group,
    calendar: $fluent-calendar,
    card: $fluent-card,
    carousel: $fluent-carousel,
    checkbox: $fluent-checkbox,
    chip: $fluent-chip,
    column-actions: $fluent-column-actions,
    combo: $fluent-combo,
    date-range: $fluent-date-range-picker,
    dialog: $fluent-dialog,
    divider: $fluent-divider,
    dockmanager: $fluent-dock-manager,
    drop-down: $fluent-drop-down,
    expansion-panel: $fluent-expansion-panel,
    grid: $fluent-grid,
    grid-filtering: $fluent-grid-filtering,
    grid-summary: $fluent-grid-summary,
    grid-toolbar: $fluent-grid-toolbar,
    highlight: $fluent-highlight,
    icon: $fluent-icon,
    icon-button: $fluent-icon-button,
    input-group: $fluent-input-group,
    label: $fluent-label,
    list: $fluent-list,
    navbar: $fluent-navbar,
    nav-drawer: $fluent-navdrawer,
    overlay: $fluent-overlay,
    paginator: $fluent-pagination,
    pivot-data-selector: $fluent-pivot-data-selector,
    linear-bar: $fluent-progress-linear,
    circular-bar: $fluent-progress-circular,
    query-builder: $fluent-query-builder,
    radio: $fluent-radio,
    rating: $fluent-rating,
    ripple: $fluent-ripple,
    scrollbar: $fluent-scrollbar,
    select: $fluent-select,
    slider: $fluent-slider,
    snackbar: $fluent-snackbar,
    splitter: $fluent-splitter,
    stepper: $fluent-stepper,
    switch: $fluent-switch,
    tabs: $fluent-tabs,
    time-picker: $fluent-time-picker,
    toast: $fluent-toast,
    tooltip: $fluent-tooltip,
    tree: $fluent-tree,
    validator: $fluent-validator,
    watermark: $fluent-watermark,
    _meta: (
        theme: 'fluent',
        variant: 'light',
    ),
);

/// Used to create bootstrap component themes.
/// Use in combination with light palettes.
/// @type Map
$light-bootstrap-schema: (
    action-strip: $bootstrap-action-strip,
    avatar: $bootstrap-avatar,
    badge: $bootstrap-badge,
    banner: $bootstrap-banner,
    bottom-nav: $bootstrap-bottom-nav,
    button: $bootstrap-button,
    button-group: $bootstrap-button-group,
    calendar: $bootstrap-calendar,
    card: $bootstrap-card,
    carousel: $bootstrap-carousel,
    checkbox: $bootstrap-checkbox,
    chip: $bootstrap-chip,
    column-actions: $bootstrap-column-actions,
    combo: $bootstrap-combo,
    date-range: $bootstrap-date-range-picker,
    dialog: $bootstrap-dialog,
    divider: $bootstrap-divider,
    dockmanager: $bootstrap-dock-manager,
    drop-down: $bootstrap-drop-down,
    expansion-panel: $bootstrap-expansion-panel,
    grid: $bootstrap-grid,
    grid-filtering: $bootstrap-grid-filtering,
    grid-summary: $bootstrap-grid-summary,
    grid-toolbar: $bootstrap-grid-toolbar,
    highlight: $bootstrap-highlight,
    icon: $bootstrap-icon,
    icon-button: $bootstrap-icon-button,
    input-group: $bootstrap-input-group,
    label: $bootstrap-label,
    list: $bootstrap-list,
    navbar: $bootstrap-navbar,
    nav-drawer: $bootstrap-navdrawer,
    overlay: $bootstrap-overlay,
    paginator: $bootstrap-pagination,
    pivot-data-selector: $bootstrap-pivot-data-selector,
    linear-bar: $bootstrap-progress-linear,
    circular-bar: $bootstrap-progress-circular,
    query-builder: $bootstrap-query-builder,
    radio: $bootstrap-radio,
    rating: $bootstrap-rating,
    ripple: $bootstrap-ripple,
    scrollbar: $bootstrap-scrollbar,
    select: $bootstrap-select,
    slider: $bootstrap-slider,
    snackbar: $bootstrap-snackbar,
    splitter: $bootstrap-splitter,
    stepper: $bootstrap-stepper,
    switch: $bootstrap-switch,
    tabs: $bootstrap-tabs,
    time-picker: $bootstrap-time-picker,
    toast: $bootstrap-toast,
    tooltip: $bootstrap-tooltip,
    tree: $bootstrap-tree,
    validator: $bootstrap-validator,
    watermark: $bootstrap-watermark,
    _meta: (
        theme: 'bootstrap',
        variant: 'light',
    ),
);

/// Used to create indigo component themes.
/// Use in combination with light palettes.
/// @type Map
$light-indigo-schema: (
    action-strip: $indigo-action-strip,
    avatar: $indigo-avatar,
    badge: $indigo-badge,
    banner: $indigo-banner,
    bottom-nav: $indigo-bottom-nav,
    button: $indigo-button,
    button-group: $indigo-button-group,
    calendar: $indigo-calendar,
    card: $indigo-card,
    carousel: $indigo-carousel,
    checkbox: $indigo-checkbox,
    chip: $indigo-chip,
    column-actions: $indigo-column-actions,
    combo: $indigo-combo,
    date-range: $indigo-date-range-picker,
    dialog: $indigo-dialog,
    divider: $indigo-divider,
    dockmanager: $indigo-dock-manager,
    drop-down: $indigo-drop-down,
    expansion-panel: $indigo-expansion-panel,
    grid: $indigo-grid,
    grid-filtering: $indigo-grid-filtering,
    grid-summary: $indigo-grid-summary,
    grid-toolbar: $indigo-grid-toolbar,
    highlight: $indigo-highlight,
    icon: $indigo-icon,
    icon-button: $indigo-icon-button,
    input-group: $indigo-input-group,
    label: $indigo-label,
    list: $indigo-list,
    navbar: $indigo-navbar,
    nav-drawer: $indigo-navdrawer,
    overlay: $indigo-overlay,
    paginator: $indigo-pagination,
    pivot-data-selector: $indigo-pivot-data-selector,
    linear-bar: $indigo-progress-linear,
    circular-bar: $indigo-progress-circular,
    query-builder: $indigo-query-builder,
    radio: $indigo-radio,
    rating: $indigo-rating,
    ripple: $indigo-ripple,
    scrollbar: $indigo-scrollbar,
    select: $indigo-select,
    slider: $indigo-slider,
    snackbar: $indigo-snackbar,
    splitter: $indigo-splitter,
    stepper: $indigo-stepper,
    switch: $indigo-switch,
    tabs: $indigo-tabs,
    time-picker: $indigo-time-picker,
    toast: $indigo-toast,
    tooltip: $indigo-tooltip,
    tree: $indigo-tree,
    validator: $indigo-validator,
    watermark: $indigo-watermark,
    _meta: (
        theme: 'indigo',
        variant: 'light',
    ),
);
