////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light material label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 700)] - The label color.
$material-label: (
    color: (
        color: (
            'gray',
            700,
        ),
    ),
);

/// Generates a light fluent label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 900)] - The label color.
$fluent-label: (
    color: (
        color: (
            'gray',
            900,
        ),
    ),
);

/// Generates a light bootstrap label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 700)] - The label color.
$bootstrap-label: (
    color: (
        color: (
            'gray',
            700,
        ),
    ),
);

/// Generates an light indigo label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 900)] - The label color.
$indigo-label: (
    color: (
        color: (
            'gray',
            900,
        ),
    ),
);
