////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base light label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 700)] - The label color.
$light-label: (
    color: (
        color: (
            'gray',
            700,
        ),
    ),
);

/// Generates a light material label schema.
/// @type {Map}
/// @requires {Map} $light-label
$material-label: $light-label;

/// Generates a light fluent label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 900)] - The label color.
$fluent-label: (
    color: (
        color: (
            'gray',
            900,
        ),
    ),
);

/// Generates a light bootstrap label schema.
/// @type {Map}
/// @requires {Map} $light-label
$bootstrap-label: $light-label;

/// Generates a light indigo label schema.
/// @type {Map}
/// @prop {Color} color [color: ('gray', 900)] - The label color.
$indigo-label: (
    color: (
        color: (
            'gray',
            900,
        ),
    ),
);
