@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base light overlay schema.
/// @type {Map}
/// @prop {Map} background-color [color: ('gray', 500, .54)] - The background color used for modal overlays.
$light-overlay: (
    background-color: (
        color: (
            'gray',
            500,
            0.54,
        ),
    ),
    _meta: (
        name: 'overlay',
        variant: 'light',
    ),
);

/// Generates a material overlay schema.
/// @type {Map}
/// @requires {Map} $light-overlay
$material-overlay: extend(
    $light-overlay,
    (
        _meta: (
            theme: 'material',
        ),
    )
);

/// Generates a fluent overlay schema.
/// @type {Map}
/// @requires {Map} $light-overlay
$fluent-overlay: extend(
    $light-overlay,
    (
        _meta: (
            theme: 'fluent',
        ),
    )
);

/// Generates a bootstrap overlay schema.
/// @type {Map}
/// @requires {Map} $light-overlay
$bootstrap-overlay: extend(
    $light-overlay,
    (
        _meta: (
            theme: 'bootstrap',
        ),
    )
);

/// Generates an indigo overlay schema.
/// @type {Map}
/// @requires {Map} $light-overlay
$indigo-overlay: extend(
    $light-overlay,
    (
        _meta: (
            theme: 'indigo',
        ),
    )
);
