@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base light pivot data selector schema.
/// @type {Map}
$light-pivot-data-selector: (
    background: (
        color: 'surface',
    ),

    header-color: (
        color: (
            'gray',
            100,
        ),
    ),
    _meta: (
        name: 'pivot-data-selector',
        variant: 'light',
    ),
);

/// Generates a material pivot data selector schema.
/// @type {Map}
/// @requires {Map} $light-pivot-data-selector
$material-pivot-data-selector: extend(
    $light-pivot-data-selector,
    (
        _meta: (
            theme: 'material',
        ),
    )
);

/// Generates a fluent pivot data selector schema.
/// @type {Map}
/// @requires {Map} $light-pivot-data-selector
$fluent-pivot-data-selector: extend(
    $light-pivot-data-selector,
    (
        _meta: (
            theme: 'fluent',
        ),
    )
);

/// Generates a bootstrap pivot data selector schema.
/// @type {Map}
/// @requires {Map} $light-pivot-data-selector
$bootstrap-pivot-data-selector: extend(
    $light-pivot-data-selector,
    (
        _meta: (
            theme: 'bootstrap',
        ),
    )
);

/// Generates a indigo pivot data selector schema.
/// @type {Map}
/// @requires {Map} $light-pivot-data-selector
$indigo-pivot-data-selector: extend(
    $light-pivot-data-selector,
    (
        _meta: (
            theme: 'indigo',
        ),
    )
);
