@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a base light query builder schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 50)] - The background color of the filtering row.
/// @prop {Map} header-background [color: ('gray', 100)] - The background color of the query builder header.
/// @prop {Map} header-foreground [color: ('gray', 700)] - The foreground color of the query builder header.
/// @prop {Color} header-border [transparent] - The border color of the query builder header.
/// @prop {Map} background-and [color: ('primary', 300)] - The background color of advanced filtering "AND" condition.
/// @prop {Map} background-and--focus [color: ('primary', 700)] - The background color on focus/selected of advanced filtering "AND" condition.
/// @prop {Map} background-or [color: ('secondary', 300)] - The background color of advanced filtering "OR" condition.
/// @prop {Map} background-or--focus [color: ('secondary', 700)] - The background color on focus/selected of advanced filtering "OR" condition.
$light-query-builder: (
    background: (
        color: (
            'gray',
            50,
        ),
    ),

    header-background: (
        color: (
            'gray',
            100,
        ),
    ),

    header-foreground: (
        color: (
            'gray',
            700,
        ),
    ),

    header-border: transparent,

    background-and: (
        color: (
            'primary',
            300,
        ),
    ),

    background-and--focus: (
        color: (
            'primary',
            700,
        ),
    ),

    background-or: (
        color: (
            'secondary',
            300,
        ),
    ),

    background-or--focus: (
        color: (
            'secondary',
            700,
        ),
    ),
);

/// Generates a material query builder schema.
/// @type {Map}
/// @requires {Map} $light-query-builder
$material-query-builder: $light-query-builder;

/// Generates a fluent query builder schema.
/// @type {Map}
/// @prop {Map} background-or [color: ('error', 500, .5)] - The background color of advanced filtering "OR" condition.
/// @prop {Map} background-or--focus [color: ('error')] - The background color on focus/selected of advanced filtering "OR" condition.
/// @requires {Map} $light-query-builder
$fluent-query-builder: extend(
    $light-query-builder,
    (
        background-or: (
            color: (
                'error',
                500,
                0.5,
            ),
        ),

        background-or--focus: (
            color: (
                'error',
            ),
        ),
    )
);

/// Generates a bootstrap query builder schema.
/// @type {Map}
/// @prop {Map} header-background [color: ('gray', 100, .5)] - The background color of the query builder header.
/// @requires {Map} $light-query-builder
$bootstrap-query-builder: extend(
    $light-query-builder,
    (
        header-background: (
            color: (
                'gray',
                100,
                0.5,
            ),
        ),
    )
);

/// Generates an indigo query builder schema.
/// @type {Map}
/// @prop {Map} background [contrast-color: ('gray', 900)] - The background color of the filtering row.
/// @prop {Color} header-background [transparent] - The background color of the query builder header.
/// @prop {Map} header-border [color: ('gray', 300)] - The border color of the query builder header.
/// @prop {Map} background-and [color: ('primary', 400)] - The background color of advanced filtering "AND" condition.
/// @prop {Map} background-or [color: ('success', 500)] - The background color of advanced filtering "OR" condition.
/// @prop {Map} background-and--focus [color: ('primary', 300)] - The background color on focus/selected of advanced filtering "AND" condition.
/// @prop {Map} background-or--focus [color: ('secondary', 400)] - The background color on focus/selected of advanced filtering "OR" condition.
/// @requires {Map} $light-query-builder
$indigo-query-builder: extend(
    $light-query-builder,
    (
        background: (
            contrast-color: (
                'gray',
                900,
            ),
        ),

        header-background: transparent,

        header-border: (
            color: (
                'gray',
                300,
            ),
        ),

        background-and: (
            color: (
                'primary',
                400,
            ),
        ),
        background-and--focus: (
            color: (
                'primary',
                300,
            ),
        ),
        background-or: (
            color: (
                'success',
                500,
            ),
        ),
        background-or--focus: (
            color: (
                'success',
                400,
            ),
        ),
    )
);
