@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../elevation/query-builder' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a base light query builder schema.
/// @type {Map}
/// @prop {Map} background [color: ('surface', 500)] - The background color of the query builder.
/// @prop {Map} header-background [contrast-color: ('gray', 900)] - The background color of the query builder header.
/// @prop {Map} header-foreground [color: ('gray', 900)] - The foreground color of the query builder header.
/// @prop {Color} header-border [transparent] - The border color of the query builder header.
/// @prop {Color} color-and [hsl(291, 64%, 42%)] - The color of advanced filtering "AND" condition.
/// @prop {Color} foreground-and [hsl(291, 64%, 42%)] - The foreground color of advanced filtering "AND" condition button.
/// @prop {Color} background-and [transparent] - The background color of advanced filtering "AND" condition button.
/// @prop {Color} background-and--hover [hsla(291, 64%, 42%, .08)] - The background color on hover of advanced filtering "AND" condition button.
/// @prop {Color} background-and--focus [hsla(291, 64%, 42%, .16)] - The background color on focus of advanced filtering "AND" condition button.
/// @prop {Color} background-and--focus-hover [hsla(291, 64%, 42%, .24)] - The background color on focus/hover of advanced filtering "AND" condition button.
/// @prop {Color} shadow-color-and [transparent] - The shadow color of advanced filtering "AND" condition button.
/// @prop {Color} color-or [hsl(164, 94%, 26%)] - The color of advanced filtering "OR" condition.
/// @prop {Color} foreground-or [hsl(164, 94%, 26%)] - The foreground color of advanced filtering "OR" condition button.
/// @prop {Color} background-or [transparent] - The background color of advanced filtering "OR" condition button.
/// @prop {Color} background-or--hover [hsla(164, 94%, 26%, .08)] - The background color on hover of advanced filtering "OR" condition button.
/// @prop {Color} background-or--focus [hsla(164, 94%, 26%, .16)] - The background color on focus of advanced filtering "OR" condition button.
/// @prop {Color} background-or--focus-hover [hsla(164, 94%, 26%, .24)] - The background color on focus/hover of advanced filtering "OR" condition button.
/// @prop {Color} shadow-color-or [transparent] - The shadow color of advanced filtering "OR" condition button.
/// @prop {Map} label-foreground [color: ('gray', 700)] - The color for query builder labels "from" & "select".
/// @prop {Map} separator-color [color: ('gray', 300)] - The separator color of the query builder tree block.
/// @prop {Map} subquery-background [color: ('gray, 100')] - The background color of the subquery block.
/// @prop {Map} subquery-border-color [color: ('gray', 300)] - The border color of the subquery block.
/// @prop {Number} subquery-border-radius [rem(12px)] - The border radius of the subquery block.
/// @prop {Number} border-radius [rem(4px)] - The border radius of the query builder.
/// @requires {Map} $default-elevation-query-builder
$light-query-builder: extend(
    $default-elevation-query-builder,
    (
        background: (
            contrast-color: (
                'gray',
                900,
            ),
        ),

        header-background: (
            contrast-color: (
                'gray',
                900,
            ),
        ),

        header-foreground: (
            color: (
                'gray',
                900,
            ),
        ),

        header-border: transparent,

        // AND
        color-and: hsl(291, 64%, 42%),
        foreground-and: hsl(291, 64%, 42%),
        background-and: transparent,
        background-and--hover: hsla(291, 64%, 42%, 0.08),
        background-and--focus: hsla(291, 64%, 42%, 0.16),
        background-and--focus-hover: hsla(291, 64%, 42%, 0.24),
        shadow-color-and: transparent,

        // OR
        color-or: hsl(164, 94%, 26%),
        foreground-or: hsl(164, 94%, 26%),
        background-or: transparent,
        background-or--hover: hsla(164, 94%, 26%, 0.08),
        background-or--focus: hsla(164, 94%, 26%, 0.16),
        background-or--focus-hover: hsla(164, 94%, 26%, 0.24),
        shadow-color-or: transparent,

        border-radius: rem(4px),
        subquery-background: (
            color: (
                'gray',
                100,
            ),
        ),

        subquery-border-color: (
            color: (
                'gray',
                300,
            ),
        ),

        subquery-border-radius: rem(12px),
        separator-color: (
            color: (
                'gray',
                500,
            ),
        ),

        label-foreground: (
            color: (
                'gray',
                700,
            ),
        ),
    )
);

/// Generates a material query builder schema.
/// @type {Map}
/// @requires {Map} $light-query-builder
$material-query-builder: $light-query-builder;

/// Generates a fluent query builder schema.
/// @type {Map}
/// @prop {Number} border-radius [rem(4px)] - The border radius of the query builder.
/// @requires {Map} $light-query-builder
$fluent-query-builder: extend(
    $light-query-builder,
    (
        border-radius: rem(4px),
    )
);

/// Generates a bootstrap query builder schema.
/// @type {Map}
/// @prop {Map} background [color: ('surface', 50)] - The background color of the filtering row.
/// @prop {Map} header-background [color: ('surface', 50)] - The background color of the query builder header.
/// @prop {Map} header-border [color: ('gray', 300)] - The border color of the query builder header.
/// @prop {Color} shadow-color-and [hsl(291deg 76% 36% / 0.5)] - The shadow color of advanced filtering "AND" condition button.
/// @prop {Color} shadow-color-or [hsl(164deg 100% 22% / 0.5)] - The shadow color of advanced filtering "OR" condition button.
/// @requires {Map} $light-query-builder
$bootstrap-query-builder: extend(
    $light-query-builder,
    (
        background: (
            color: (
                'surface',
                50,
            ),
        ),

        header-background: (
            color: (
                'surface',
                50,
            ),
        ),

        header-border: (
            color: (
                'gray',
                300,
            ),
        ),

        shadow-color-and: hsl(291deg 76% 36% / 0.5),
        shadow-color-or: hsl(164deg 100% 22% / 0.5),
    )
);

/// Generates an indigo query builder schema.
/// @type {Map}
/// @prop {Number} border-radius [rem(10px)] - The border radius of the query builder.
/// @prop {Map} shadow-color-and [color: ('gray', 900)] - The shadow color of advanced filtering "AND" condition button.
/// @requires {Map} $light-query-builder
$indigo-query-builder: extend(
    $light-query-builder,
    (
        border-radius: rem(10px),
        shadow-color-and: (
            color: (
                'gray',
                900,
            ),
        ),
    )
);
