@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base light radio schema.
/// @type {Map}
/// @prop {Color} empty-fill-color [transparent] - The fill of the empty radio.
/// @prop {Color} hover-color [transparent] - The text color used for the label text.
/// @prop {Map} label-color [color: ('gray', 900)] - The text color used for the label text.
/// @prop {Map} label-color-hover [color: ('gray', 900)] - The text color used for the label text on hover.
/// @prop {Map} fill-color [color: ('primary', 500)] - The checked border and dot colors.
/// @prop {Map} disabled-color [color: ('gray', 400)] - The disabled border color.
/// @prop {Map} disabled-fill-color [color: ('gray', 400)] - The disabled checked border and dot colors.
/// @prop {Map} disabled-label-color [color: ('gray', 500)] - The disabled label color.
/// @prop {Map} error-color [color: ('error', 500)] - The label, border and dot color in invalid state.
/// @prop {Color} focus-outline-color-filled [transparent] - The focus outline color when radio is filled.
/// @prop {Color} focus-outline-color-error [transparent] - The focus outline color when radio is filled and invalid.
$light-radio: (
    empty-fill-color: transparent,
    hover-color: transparent,
    label-color: (
        color: (
            'gray',
            900,
        ),
    ),
    label-color-hover: (
        color: (
            'gray',
            900,
        ),
    ),
    fill-color: (
        color: (
            'primary',
            500,
        ),
    ),
    disabled-color: (
        color: (
            'gray',
            400,
        ),
    ),
    disabled-fill-color: (
        color: (
            'gray',
            400,
        ),
    ),
    disabled-label-color: (
        color: (
            'gray',
            500,
        ),
    ),
    error-color: (
        color: (
            'error',
            500,
        ),
    ),
    focus-outline-color-filled: transparent,
    focus-outline-color-error: transparent,
);

/// Generates a material radio schema.
/// @type {Map}
/// @prop {Color} focus-outline-color [transparent] - The focus outlined color.
/// @prop {Map} fill-hover-border-color [color: ('secondary', 500)] - The checked dot border color on hover.
/// @prop {Map} empty-color [color: ('gray', 600)] - The unchecked border color.
/// @prop {Map} fill-color [color: ('secondary', 500)] - The checked border and dot colors.
/// @prop {Map} fill-color-hover [color: ('secondary', 500)] - The checked border and dot colors on hover.
/// @prop {Map} error-color-hover [color: ('error', 500)] - The border and dot color in invalid state on hover.
/// @requires {Map} $light-radio
$material-radio: extend(
    $light-radio,
    (
        focus-outline-color: transparent,

        fill-hover-border-color: (
            color: (
                'secondary',
                500,
            ),
        ),

        empty-color: (
            color: (
                'gray',
                600,
            ),
        ),

        fill-color: (
            color: (
                'secondary',
                500,
            ),
        ),

        fill-color-hover: (
            color: (
                'secondary',
                500,
            ),
        ),

        error-color-hover: (
            color: (
                'error',
                500,
            ),
        ),
    )
);

/// Generates a fluent radio schema.
/// @type {Map}
/// @prop {Map} hover-color [color: ('gray', 700)] - The border and dot colors on hover.
/// @prop {Map} fill-hover-border-color [color: ('primary', 800)] - The checked dot border color on hover.
/// @prop {Map} empty-color [color: ('gray', 900)] - The unchecked border color.
/// @prop {Map} fill-color-hover [color: ('primary', 800)] - The checked border and dot colors on hover.
/// @prop {Map} focus-outline-color [color: ('gray', 700)] - The focus outlined color.
/// @prop {Map} error-color-hover [color: ('error', 700)] - The border and dot color in invalid state on hover.
/// @requires {Map} $light-radio
$fluent-radio: extend(
    $light-radio,
    (
        focus-outline-color: (
            color: (
                'gray',
                700,
            ),
        ),
        hover-color: (
            color: (
                'gray',
                700,
            ),
        ),
        fill-hover-border-color: (
            color: (
                'primary',
                800,
            ),
        ),
        empty-color: (
            color: (
                'gray',
                900,
            ),
        ),
        fill-color-hover: (
            color: (
                'primary',
                800,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                700,
            ),
        ),
    )
);

/// Generates a bootstrap radio schema.
/// @type {Map}
/// @prop {Map} empty-color [color: ('gray', 400)] - The unchecked border color.
/// @prop {Map} empty-fill-color [contrast-color: ('gray', 900)] - The fill of the empty radio.
/// @prop {Map} hover-color [color: ('gray', 500)] - The border color on hover.
/// @prop {Map} fill-hover-border-color [contrast-color: ('primary', 900)] - The checked dot border color on hover.
/// @prop {Map} disabled-color [color: ('gray', 300)] - The disabled border color.
/// @prop {Map} disabled-fill-color [color: ('primary', 200)] - The disabled checked border and dot colors.
/// @prop {Map} fill-color-hover [color: ('primary', 600)] - The checked border and dot colors on hover.
/// @prop {Map} focus-outline-color [color: ('primary', 200, 0.5)] - The focus outline color.
/// @prop {Map} focus-outline-color-error [color: ('error', 200, 0.5)] - The focus outline color when radio is invalid.
/// @prop {Map} error-color-hover [color: ('error', 600)] - The focus outlined color in invalid state.
/// @requires {Map} $light-radio
$bootstrap-radio: extend(
    $light-radio,
    (
        empty-color: (
            color: (
                'gray',
                400,
            ),
        ),
        empty-fill-color: (
            contrast-color: (
                'gray',
                900,
            ),
        ),
        hover-color: (
            color: (
                'gray',
                500,
            ),
        ),
        fill-hover-border-color: (
            contrast-color: (
                'primary',
                900,
            ),
        ),
        disabled-color: (
            color: (
                'gray',
                300,
            ),
        ),
        disabled-fill-color: (
            color: (
                'primary',
                200,
            ),
        ),
        fill-color-hover: (
            color: (
                'primary',
                600,
            ),
        ),
        focus-outline-color: (
            color: (
                'primary',
                200,
                0.5,
            ),
        ),
        focus-outline-color-error: (
            color: (
                'error',
                200,
                0.5,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                600,
            ),
        ),
    )
);

/// Generates an indigo radio schema.
/// @type {Map}
/// @prop {Map} empty-color [color: ('gray', 500)] - The unchecked border color.
/// @prop {Map} label-color [color: ('gray', 800)] - The text color used for the label text.
/// @prop {Map} hover-color [color: ('gray', 600)] - The hover text color used for the label text.
/// @prop {Map} focus-outline-color [color: ('gray', 900, .15)] - The focus outlined color.
/// @prop {Map} focus-outline-color-filled [color: ('primary', 400, 0.5)] - The focus outline color when radio is filled.
/// @prop {Map} fill-hover-border-color [color: ('primary', 400)] - The checked dot border color on hover.
/// @prop {Map} fill-color-hover [color: ('primary', 400)] - The checked border and dot colors on hover.
/// @prop {Map} disabled-color [color: ('gray', 900, .15)] - The disabled border color.
/// @prop {Map} disabled-fill-color [color: ('primary', 400, .5)] - The disabled checked border and dot colors.
/// @prop {Map} disabled-label-color [color: ('gray', 900, .2)] - The disabled label color.
/// @prop {Map} error-color-hover [color: ('error', 400)] - The focus outlined color in invalid state.
/// @prop {Map} focus-outline-color-error [color: ('error', 400, 0.5)] - The focus outline color when radio is filled and invalid.
/// @requires {Map} $light-radio
$indigo-radio: extend(
    $light-radio,
    (
        empty-color: (
            color: (
                'gray',
                500,
            ),
        ),
        label-color: (
            color: (
                'gray',
                800,
            ),
        ),
        hover-color: (
            color: (
                'gray',
                600,
            ),
        ),
        focus-outline-color: (
            color: (
                'gray',
                900,
                0.15,
            ),
        ),
        focus-outline-color-filled: (
            color: (
                'primary',
                400,
                0.5,
            ),
        ),
        fill-hover-border-color: (
            color: (
                'primary',
                400,
            ),
        ),
        fill-color-hover: (
            color: (
                'primary',
                400,
            ),
        ),
        error-color-hover: (
            color: (
                'error',
                400,
            ),
        ),
        focus-outline-color-error: (
            color: (
                'error',
                400,
                0.5,
            ),
        ),
        disabled-color: (
            color: (
                'gray',
                900,
                0.15,
            ),
        ),
        disabled-fill-color: (
            color: (
                'primary',
                400,
                0.5,
            ),
        ),
        disabled-label-color: (
            color: (
                'gray',
                900,
                0.2,
            ),
        ),
    )
);
