@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a base light scrollbar schema.
/// @type {Map}
/// @property {Color} thumb-background [color: ('gray', 400)] - The background color used for the thumb.
/// @property {Color} track-background [color: ('gray', 100)] - The background color used for the track.
/// @property {String | Number} scrollbar-size [16px] - The size of the track.
$light-scrollbar: (
    scrollbar-size: 16px,

    thumb-background: (
        color: (
            'gray',
            400,
        ),
    ),

    track-background: (
        color: (
            'gray',
            100,
        ),
    ),
);

/// Generates a material scrollbar schema.
/// @type {Map}
/// @requires {Map} $light-scrollbar
$material-scrollbar: $light-scrollbar;

/// Generates a fluent scrollbar schema.
/// @type {Map}
/// @property {Color} thumb-background [color: ('gray', 300)] - The background color used for the thumb.
/// @requires {Map} $light-scrollbar
$fluent-scrollbar: extend(
    $light-scrollbar,
    (
        thumb-background: (
            color: (
                'gray',
                300,
            ),
        ),
    )
);

/// Generates a bootstrap scrollbar schema.
/// @type {Map}
/// @requires {Map} $light-scrollbar
$bootstrap-scrollbar: $light-scrollbar;

/// Generates an indigo scrollbar schema.
/// @type {Map}
/// @property {Color} track-background [color: ('gray', 200)] - The background color used for the track.
/// @requires {Map} $light-scrollbar
$indigo-scrollbar: extend(
    $light-scrollbar,
    (
        track-background: (
            color: (
                'gray',
                200,
            ),
        ),
    )
);
