@use '../../../../utils/map' as *;
@use '../../../../typography/functions' as *;
@use '../elevation/toast' as *;

////
/// @package theming
/// @group schemas
/// @access public
////

/// Generates a light toast schema.
/// @type {Map}
/// @prop {Map} background [color: ('gray', 700, .9)] - The background color used for the toast.
/// @prop {Map} border-color [color: ('gray', 700, .9)] - The border color used for the toast.
/// @prop {Map} text-color [contrast-color: ('gray', 700)] - The text-color used for the toast.
/// @prop {Number} elevation [0] - The elevation level, between 0-24, to be used for the toast.
/// @prop {List} border-radius [(em(26px), em(0), em(26px))] - The border radius used for toast.
/// @requires {Map} $default-elevation-toast
$light-toast: extend(
    $default-elevation-toast,
    (
        background: (
            color: (
                'gray',
                700,
                0.9,
            ),
        ),
        border-color: (
            color: (
                'gray',
                700,
                0.9,
            ),
        ),

        text-color: (
            contrast-color: (
                'gray',
                700,
            ),
        ),

        border-radius: (
            border-radius: (
                em(26px),
                em(0),
                em(26px),
            ),
        ),
    )
);

/// Generates a fluent toast schema.
/// @type {Map}
/// @prop {List} border-radius [(em(2px), em(0), em(26px))] - The border radius used for toast.
/// @requires $light-toast
$fluent-toast: extend(
    $light-toast,
    (
        border-radius: (
            border-radius: (
                em(2px),
                em(0),
                em(26px),
            ),
        ),
    )
);

/// Generates a bootstrap toast schema.
/// @type {Map}
/// @prop {Map} background [color: (color: ('surface')] - The background color used for the toast.
/// @prop {Map} border-color [color: ('gray', 300)] - The border color used for the toast.
/// @prop {Map} text-color [color: ('gray', 600)] - The text-color used for the toast.
/// @prop {Number} elevation [10] - The elevation level, between 0-24, to be used for the toast.
/// @prop {List} border-radius [(em(4px), em(0), em(26px))] - The border radius used for toast.
/// @requires {Map} $light-toast
/// @requires {Map} $bootstrap-elevation-toast
$bootstrap-toast: extend(
    $light-toast,
    $bootstrap-elevation-toast,
    (
        background: (
            color: (
                'surface',
            ),
        ),
        border-color: (
            color: (
                'gray',
                300,
            ),
        ),

        text-color: (
            color: (
                'gray',
                600,
            ),
        ),

        border-radius: (
            border-radius: (
                em(4px),
                em(0),
                em(26px),
            ),
        ),
    )
);

/// Generates an indigo toast schema.
/// @type {Map}
/// @prop {List} border-radius [(em(24px), em(0), em(26px))] - The border radius used for toast.
/// @requires {Map} $light-toast
$indigo-toast: extend(
    $light-toast,
    (
        border-radius: (
            border-radius: (
                em(24px),
                em(0),
                em(26px),
            ),
        ),
    )
);
