// stylelint-disable max-line-length
@use '../light/category-chart' as *;
@use '../../../../utils/map' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/SisIvanova" target="_blank">Silvia Ivanova</a>
////

/// Generates a base category chart schema.
/// @access private
/// @type {Map}
$dark-category-chart: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark category-chart schema based on a mix of $material-category-chart and $base-dark-category-chart
/// @type {Map}
/// @requires $material-category-chart
$dark-material-category-chart: extend($material-category-chart, $dark-category-chart);

/// Generates a dark fluent category-chart schema based on a mix of $fluent-category-chart and $base-dark-category-chart
/// @type {Map}
/// @requires $fluent-category-chart
$dark-fluent-category-chart: extend($fluent-category-chart, $dark-category-chart);

/// Generates a bootstrap category-chart schema based on a mix of $bootstrap-category-chart and $base-dark-category-chart
/// @type {Map}
/// @requires $bootstrap-category-chart
$dark-bootstrap-category-chart: extend($bootstrap-category-chart, $dark-category-chart);

/// Generates an indigo category-chart schema based on a mix of $indigo-category-chart and $base-dark-category-chart
/// @type {Map}
/// @requires $indigo-category-chart
$dark-indigo-category-chart: extend($indigo-category-chart, $dark-category-chart);
