@use '../light/graph' as *;
@use '../../../../utils/map' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a base light bullet graph schema.
/// @access private
/// @type {Map}
$dark-graph: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark graph schema.
/// @type {Map}
/// @requires $material-graph
$dark-material-graph: extend($material-graph, $dark-graph);

/// Generates a dark fluent graph schema.
/// @type {Map}
/// @requires $fluent-graph
$dark-fluent-graph: extend($fluent-graph, $dark-graph);

/// Generates a dark bootstrap graph schema.
/// @type {Map}
/// @requires $bootstrap-graph
$dark-bootstrap-graph: extend($bootstrap-graph, $dark-graph);

/// Generates a dark indigo graph schema.
/// @type {Map}
/// @requires $indigo-graph
$dark-indigo-graph: extend($indigo-graph, $dark-graph);
