@use '../light/pie-chart' as *;
@use '../../../../utils/map' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a base dark pie chart schema.
/// @access private
/// @type {Map}
$dark-pie-chart: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark base pie chart schema.
/// @type {Map}
/// @requires $material-pie-chart
/// @see $material-pie-chart
$dark-material-pie-chart: extend($material-pie-chart, $dark-pie-chart);

/// Generates a dark fluent pie chart schema.
/// @type {Map}
/// @requires $fluent-pie-chart
/// @see $fluent-pie-chart
$dark-fluent-pie-chart: extend($fluent-pie-chart, $dark-pie-chart);

/// Generates a dark bootstrap pie chart schema.
/// @type {Map}
/// @requires $bootstrap-pie-chart
/// @see $bootstrap-pie-chart
$dark-bootstrap-pie-chart: extend($bootstrap-pie-chart, $dark-pie-chart);

/// Generates a dark indigo pie chart schema.
/// @type {Map}
/// @requires $indigo-pie-chart
/// @see $indigo-pie-chart
$dark-indigo-pie-chart: extend($indigo-pie-chart, $dark-pie-chart);
