@use '../light/sparkline' as *;
@use '../../../../utils/map' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// Generates a base dark sparkline schema.
/// @access private
/// @type {Map}
$dark-sparkline: (
    _meta: (
        variant: 'dark',
    ),
);

/// Generates a dark sparkline schema.
/// @type {Map}
/// @requires $material-sparkline
$dark-material-sparkline: extend($material-sparkline, $dark-sparkline);

/// Generates a dark fluent sparkline schema.
/// @type {Map}
/// @requires $fluent-sparkline
$dark-fluent-sparkline: extend($fluent-sparkline, $dark-sparkline);

/// Generates a dark bootstrap sparkline schema.
/// @type {Map}
/// @requires $bootstrap-sparkline
$dark-bootstrap-sparkline: extend($bootstrap-sparkline, $dark-sparkline);

/// Generates a dark indigo sparkline schema.
/// @type {Map}
/// @requires $indigo-sparkline
$dark-indigo-sparkline: extend($indigo-sparkline, $dark-sparkline);
