@use '../../themes/charts/category-chart-theme' as *;
@use '../../themes/charts/data-chart-theme' as *;
@use '../../themes/charts/financial-chart-theme' as *;
@use '../../themes/charts/funnel-chart-theme' as *;
@use '../../themes/charts/gauge-theme' as *;
@use '../../themes/charts/graph-theme' as *;
@use '../../themes/charts/pie-chart-theme' as *;
@use '../../themes/charts/shape-chart-theme' as *;

////
/// @package theming
/// @group typography
////

/// Includes all chart related typography styles for a given type-scale and target.
/// @param {Map} $type-scale - The type-scale to be used when including typography styles.
/// @access public
@mixin charts-typography($type-scale, $target: 'angular') {
    @include category-chart-typography($type-scale: $type-scale);
    @include data-chart-typography($type-scale: $type-scale);
    @include financial-chart-typography($type-scale: $type-scale);
    @include funnel-chart-typography($type-scale: $type-scale);
    @include gauge-typography();
    @include graph-typography();
    @include pie-chart-typography($type-scale: $type-scale);
    @include shape-chart-typography($type-scale: $type-scale);
}
