@use './category-chart' as *;
@use './data-chart' as *;
@use './doughnut-chart' as *;
@use './financial-chart' as *;
@use './funnel-chart' as *;
@use './gauge' as *;
@use './geo-map' as *;
@use './graph' as *;
@use './pie-chart' as *;
@use './shape-chart' as *;
@use './sparkline' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// Generates the global charts dark material schema.
/// @type {Map}
$dark-material-schema: (
    category-chart: $dark-material-category-chart,
    data-chart: $dark-material-data-chart,
    doughnut-chart: $dark-material-doughnut-chart,
    financial-chart: $dark-material-financial-chart,
    funnel-chart: $dark-material-funnel-chart,
    linear-gauge: $dark-material-linear-gauge,
    radial-gauge: $dark-material-radial-gauge,
    geo-map: $dark-material-geo-map,
    bullet-graph: $dark-material-graph,
    pie-chart: $dark-material-pie-chart,
    shape-chart: $dark-material-shape-chart,
    sparkline: $dark-material-sparkline,
);

/// Generates the global charts dark bootstrap schema.
/// @type {Map}
$dark-bootstrap-schema: (
    category-chart: $dark-bootstrap-category-chart,
    data-chart: $dark-bootstrap-data-chart,
    doughnut-chart: $dark-bootstrap-doughnut-chart,
    financial-chart: $dark-bootstrap-financial-chart,
    funnel-chart: $dark-bootstrap-funnel-chart,
    linear-gauge: $dark-bootstrap-linear-gauge,
    radial-gauge: $dark-bootstrap-radial-gauge,
    geo-map: $dark-bootstrap-geo-map,
    bullet-graph: $dark-bootstrap-graph,
    pie-chart: $dark-bootstrap-pie-chart,
    shape-chart: $dark-bootstrap-shape-chart,
    sparkline: $dark-bootstrap-sparkline,
);

/// Generates the global charts dark fluent schema.
/// @type {Map}
$dark-fluent-schema: (
    category-chart: $dark-fluent-category-chart,
    data-chart: $dark-fluent-data-chart,
    doughnut-chart: $dark-fluent-doughnut-chart,
    financial-chart: $dark-fluent-financial-chart,
    funnel-chart: $dark-fluent-funnel-chart,
    linear-gauge: $dark-fluent-linear-gauge,
    radial-gauge: $dark-fluent-radial-gauge,
    geo-map: $dark-fluent-geo-map,
    bullet-graph: $dark-fluent-graph,
    pie-chart: $dark-fluent-pie-chart,
    shape-chart: $dark-fluent-shape-chart,
    sparkline: $dark-fluent-sparkline,
);

/// Generates the global charts dark indigo schema.
/// @type {Map}
$dark-indigo-schema: (
    category-chart: $dark-indigo-category-chart,
    data-chart: $dark-indigo-data-chart,
    doughnut-chart: $dark-indigo-doughnut-chart,
    financial-chart: $dark-indigo-financial-chart,
    funnel-chart: $dark-indigo-funnel-chart,
    linear-gauge: $dark-indigo-linear-gauge,
    radial-gauge: $dark-indigo-radial-gauge,
    geo-map: $dark-indigo-geo-map,
    bullet-graph: $dark-indigo-graph,
    pie-chart: $dark-indigo-pie-chart,
    shape-chart: $dark-indigo-shape-chart,
    sparkline: $dark-indigo-sparkline,
);
