// stylelint-disable selector-type-no-unknown, max-nesting-depth
@use 'sass:map';
@use 'sass:list';
@use 'sass:meta';
@use 'sass:string';
@use '../color' as *;
@use '../color/multipliers' as multipliers;
@use '../color/presets/light' as light-palettes;
@use '../color/presets/dark' as dark-palettes;
@use '../typography/presets' as typography;
@use '../elevations/presets' as elevations;
@use '../themes/mixins' as *;

$themes: (bootstrap, material, fluent, indigo);

/*
* @outputDir - /colors/meta
*/
palette {
    @each $key, $value in map.remove($IPalette, '_meta') {
        --#{$key}: [#{$value}];
    }
}

/*
* @outputDir - /colors/meta
*/
scales {
    @each $name, $spec in $scales {
        $range: map.get($spec, range);
        $curve: map.get($spec, curve);

        > #{$name} {
            --range: [#{list.nth($range, 1)}, #{list.nth($range, 2)}];
            --curve: [
                #{if(
                    $curve,
                    '#{list.nth($curve, 1)}, #{list.nth($curve, 2)}, #{list.nth($curve, 3)}, #{list.nth($curve, 4)}',
                    ''
                )}];
        }
    }
}

family-scales {
    @each $family, $name in $family-scales {
        --#{$family}: #{$name};
    }
}

multipliers {
    @each $variant in ('color', 'grayscale') {
        $multipliers: meta.module-variables(multipliers);

        > #{$variant} {
            @each $multiplier, $props in map.get($multipliers, $variant) {
                > #{$multiplier} {
                    @each $key, $value in $props {
                        --#{$key}: #{$value};
                    }
                }
            }
        }
    }
}

/*
* @outputDir - /colors/presets
*/
palettes {
    @each $theme in $themes {
        @each $variant in ('light', 'dark') {
            $name: #{$variant}-#{$theme}-palette;
            $palettes: meta.module-variables(#{$variant}-palettes);
            $palette: map.get($palettes, $name);

            > #{$name} {
                @each $color in map.remove($IPalette, '_meta') {
                    $name: list.nth($color, 1);

                    --#{$name}: #{color($palette, #{$name})};
                }
            }
        }
    }
}

/*
* @outputDir - /colors/charts
*/
brushes {
    > regular {
        @for $i from 1 through list.length($brushes-regular) {
            --brush-#{$i}: #{list.nth($brushes-regular, $i)};
        }
    }

    > color-blind {
        @for $i from 1 through list.length($brushes-color-blind) {
            --brush-#{$i}: #{list.nth($brushes-color-blind, $i)};
        }
    }
}

/*
* @outputDir - /typography/presets
*/
typescales {
    $type-styles: meta.module-variables(typography);

    @each $theme in $themes {
        $typeface: map.get($type-styles, #{$theme}-typeface);
        $type-scale: map.remove(map.get($type-styles, #{$theme}-type-scale), '_meta');

        > #{'' + $theme} {
            --typeface: '#{$typeface}';

            @each $style, $props in $type-scale {
                > #{$style} {
                    @each $key, $value in $props {
                        --#{$key}: #{$value};
                    }
                }
            }
        }
    }
}

/*
* @outputDir - /elevations
*/
@each $theme in ('material', 'indigo') {
    $elevations: map.get(meta.module-variables(elevations), #{$theme}-elevations);
    #{$theme} {
        > elevations {
            @each $level, $value in $elevations {
                --#{$level}: #{$value};
            }
        }
    }
}
