@use './category-chart' as *;
@use './data-chart' as *;
@use './doughnut-chart' as *;
@use './financial-chart' as *;
@use './funnel-chart' as *;
@use './gauge' as *;
@use './geo-map' as *;
@use './graph' as *;
@use './pie-chart' as *;
@use './shape-chart' as *;
@use './sparkline' as *;

////
/// @package theming
/// @group schemas
/// @access public
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// Generates the global charts light material schema.
/// @type {Map}
$light-material-schema: (
    category-chart: $material-category-chart,
    data-chart: $material-data-chart,
    doughnut-chart: $material-doughnut-chart,
    financial-chart: $material-financial-chart,
    funnel-chart: $material-funnel-chart,
    linear-gauge: $material-linear-gauge,
    radial-gauge: $material-radial-gauge,
    geo-map: $material-geo-map,
    bullet-graph: $material-graph,
    pie-chart: $material-pie-chart,
    shape-chart: $material-shape-chart,
    sparkline: $material-sparkline,
);

/// Generates the global charts light bootstrap schema.
/// @type {Map}
$light-bootstrap-schema: (
    category-chart: $bootstrap-category-chart,
    data-chart: $bootstrap-data-chart,
    doughnut-chart: $bootstrap-doughnut-chart,
    financial-chart: $bootstrap-financial-chart,
    funnel-chart: $bootstrap-funnel-chart,
    linear-gauge: $bootstrap-linear-gauge,
    radial-gauge: $bootstrap-radial-gauge,
    geo-map: $bootstrap-geo-map,
    bullet-graph: $bootstrap-graph,
    pie-chart: $bootstrap-pie-chart,
    shape-chart: $bootstrap-shape-chart,
    sparkline: $bootstrap-sparkline,
);

/// Generates the global charts light fluent schema.
/// @type {Map}
$light-fluent-schema: (
    category-chart: $fluent-category-chart,
    data-chart: $fluent-data-chart,
    doughnut-chart: $fluent-doughnut-chart,
    financial-chart: $fluent-financial-chart,
    funnel-chart: $fluent-funnel-chart,
    linear-gauge: $fluent-linear-gauge,
    radial-gauge: $fluent-radial-gauge,
    geo-map: $fluent-geo-map,
    bullet-graph: $fluent-graph,
    pie-chart: $fluent-pie-chart,
    shape-chart: $fluent-shape-chart,
    sparkline: $fluent-sparkline,
);

/// Generates the global charts light indigo schema.
/// @type {Map}
$light-indigo-schema: (
    category-chart: $indigo-category-chart,
    data-chart: $indigo-data-chart,
    doughnut-chart: $indigo-doughnut-chart,
    financial-chart: $indigo-financial-chart,
    funnel-chart: $indigo-funnel-chart,
    linear-gauge: $indigo-linear-gauge,
    radial-gauge: $indigo-radial-gauge,
    geo-map: $indigo-geo-map,
    bullet-graph: $indigo-graph,
    pie-chart: $indigo-pie-chart,
    shape-chart: $indigo-shape-chart,
    sparkline: $indigo-sparkline,
);
