////
/// @package theming
/// @group palettes
/// @access public
////

/// A list of color values to be used as brushes in charts.
/// @type List
/// @prop {Color} brush-1 [rgb(157 231 114)]
/// @prop {Color} brush-2 [rgb(139 91 177)]
/// @prop {Color} brush-3 [rgb(109 177 255)]
/// @prop {Color} brush-4 [rgb(154 242 228)]
/// @prop {Color} brush-5 [rgb(238 88 121)]
/// @prop {Color} brush-6 [rgb(115 86 86)]
/// @prop {Color} brush-7 [rgb(247 210 98)]
/// @prop {Color} brush-8 [rgb(168 168 183)]
/// @prop {Color} brush-9 [rgb(224 81 169)]
/// @prop {Color} brush-10 [rgb(248 161 95)]
$brushes-regular: (
    rgb(157 231 114),
    rgb(139 91 177),
    rgb(109 177 255),
    rgb(154 242 228),
    rgb(238 88 121),
    rgb(115 86 86),
    rgb(247 210 98),
    rgb(168 168 183),
    rgb(224 81 169),
    rgb(248 161 95)
);

/// A list of color values to be used as color-blind brushes in charts.
/// @type List
/// @prop {Color} brush-1 [rgb(86 180 233)]
/// @prop {Color} brush-2 [rgb(0 158 115)]
/// @prop {Color} brush-3 [rgb(240 228 68)]
/// @prop {Color} brush-4 [rgb(213 94 0)]
/// @prop {Color} brush-5 [rgb(214 0 254)]
/// @prop {Color} brush-6 [rgb(0 73 159)]
/// @prop {Color} brush-7 [rgb(230 159 0)]
/// @prop {Color} brush-8 [rgb(0 0 0)]
/// @prop {Color} brush-9 [rgb(132 240 223)]
/// @prop {Color} brush-10 [rgb(115 86 86)]
$brushes-color-blind: (
    rgb(86 180 233),
    rgb(0 158 115),
    rgb(240 228 68),
    rgb(213 94 0),
    rgb(214 0 254),
    rgb(0 73 159),
    rgb(230 159 0),
    rgb(0 0 0),
    rgb(132 240 223),
    rgb(115 86 86)
);
