@use 'sass:map';
@use 'sass:meta';
@use 'sass:math';
@use 'sass:color';
@use 'sass:string';
@use '../utils/meta' as *;

/// Generates CSS variables for a given palette.
/// @access public
/// @group Palettes
/// @param {Map} $palette - The palette used to generate CSS variables.
/// @param {Boolean} $contrast [true] - Specify if contrast colors should be included.
/// @example scss Generate css variables for a palette
///    $palette: palette($primary: red, $secondary: blue, $gray: #000);
///    @include palette($palette);
/// @require {function} is-root
@mixin palette($palette, $contrast: true) {
    $scope: if(is-root(), ':root', '&');

    #{$scope} {
        @each $color, $shades in map.remove($palette, '_meta') {
            @each $shade, $value in $shades {
                $_base-shade: $shade == 500;
                $_valid-color: meta.type-of($value == 'color');
                $_other-shade: meta.type-of($shade) == 'string';
                $_hsl: if($_other-shade, string.index($shade, 'hsl'), false);
                $_contrast: if($_other-shade, string.index($shade, 'contrast'), false);

                @if $_base-shade and $_valid-color {
                    --ig-#{meta.inspect($color)}-h: #{math.round(color.hue($value))};
                    --ig-#{meta.inspect($color)}-s: #{math.round(color.saturation($value))};
                    --ig-#{meta.inspect($color)}-l: #{math.round(color.lightness($value))};
                    --ig-#{meta.inspect($color)}-a: #{color.alpha($value)};
                }

                @if $_hsl {
                    $variant: string.slice($shade, 1, string.index($shade, '-hsl') - 1);

                    --ig-#{meta.inspect($color)}-#{$variant}: #{$value};
                }

                @if $_contrast and $contrast {
                    --ig-#{meta.inspect($color)}-#{$shade}: #{$value};
                }
            }
        }
    }
}
