@use 'sass:map';
@use 'sass:meta';
@use 'sass:math';
@use 'sass:color';
@use 'sass:string';
@use '../utils/meta' as *;

// Generates CSS variables for a base color
// @access private
@mixin _base($color, $shade, $value) {
    $_shade: $shade == 500;
    $_valid: meta.type-of($value == 'color');

    @if $_shade and $_valid {
        --ig-#{$color}-h: #{math.round(color.hue($value))};
        --ig-#{$color}-s: #{math.round(color.saturation($value))};
        --ig-#{$color}-l: #{math.round(color.lightness($value))};
        --ig-#{$color}-a: #{color.alpha($value)};
    }
}

// Generates CSS variables for a shade color
// @access private
@mixin _shade($color, $shade, $value, $contrast) {
    $_shade: meta.type-of($shade) == 'string';
    $_hsl: if($_shade, string.index($shade, 'hsl'), false);
    $_contrast: if($_shade, string.index($shade, 'contrast'), false);

    @if $_hsl {
        $variant: string.slice($shade, 1, string.index($shade, '-hsl') - 1);

        --ig-#{$color}-#{$variant}: #{$value};
    }

    @if $_contrast and $contrast {
        --ig-#{$color}-#{$shade}: #{$value};
    }
}

/// Generates CSS variables for a given palette.
/// @access public
/// @group Palettes
/// @param {Map} $palette - The palette used to generate CSS variables.
/// @param {Boolean} $contrast [true] - Specify if contrast colors should be included.
/// @example scss Generate css variables for a palette
///    $palette: palette($primary: red, $secondary: blue, $gray: #000);
///    @include palette($palette);
/// @require {function} is-root
@mixin palette($palette, $contrast: true) {
    // @include _base-colors($palette);
    // @include _shade-colors($palette, $contrast);

    $scope: if(is-root(), ':root', '&');

    #{$scope} {
        @each $color, $shades in map.remove($palette, '_meta') {
            @each $shade, $value in $shades {
                @include _base($color, $shade, $value);
                @include _shade($color, $shade, $value, $contrast);
            }
        }
    }
}
