$color: (
    s: (
        '50': 1.23,
        '100': 0.8,
        '200': 0.64,
        '300': 0.73,
        '400': 0.875,
        '500': 1,
        '600': 1.26,
        '700': 1.26,
        '800': 1.26,
        '900': 1.26,
        'A100': 1.23,
        'A200': 1.22,
        'A400': 1.23,
        'A700': 1.23,
    ),
    l: (
        '50': 1.78,
        '100': 1.66,
        '200': 1.43,
        '300': 1.19,
        '400': 1.08,
        '500': 1,
        '600': 0.89,
        '700': 0.81,
        '800': 0.73,
        '900': 0.64,
        'A100': 1.34,
        'A200': 1.16,
        'A400': 0.91,
        'A700': 0.65,
    ),
);
$grayscale: (
    l: (
        '50': 13%,
        '100': 26%,
        '200': 38%,
        '300': 54%,
        '400': 62%,
        '500': 74%,
        '600': 88%,
        '700': 93%,
        '800': 96%,
        '900': 98%,
    ),
);
