@use 'sass:map';
@use 'sass:list';

////
/// @group Palettes
////

/// A list consisting of all generated gray shades
/// @type Map
$IGrayShades: (50, 100, 200, 300, 400, 500, 600, 700, 800, 900);

/// A list consisting of all generated shades for palette colors
/// @type Map
$IColorShades: list.join($IGrayShades, ('A100', 'A200', 'A400', 'A700'));

/// All palette colors mapped with corresponding color shades
/// @type Map
$IPaletteColors: (
    'primary': $IColorShades,
    'secondary': $IColorShades,
    'gray': $IGrayShades,
    'surface': $IColorShades,
    'info': $IColorShades,
    'success': $IColorShades,
    'warn': $IColorShades,
    'error': $IColorShades,
);

/// A list consisting of palette metadata
/// @type Map
$IPaletteMeta: (
    'variant': null,
);

/// A map with all palette colors and palette meta
/// @type Map
$IPalette: map.merge($IPaletteColors, (_meta: $IPaletteMeta));
