@use '../index' as *;

$_scale: (
    h1: type-style(
        $font-size: rem(68px),
        $font-weight: 700,
        $line-height: rem(76px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    h2: type-style(
        $font-size: rem(42px),
        $font-weight: 700,
        $line-height: rem(52px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    h3: type-style(
        $font-size: rem(32px),
        $font-weight: 600,
        $line-height: rem(40px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    h4: type-style(
        $font-size: rem(28px),
        $font-weight: 400,
        $line-height: rem(36px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    h5: type-style(
        $font-size: rem(24px),
        $font-weight: 400,
        $line-height: rem(32px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    h6: type-style(
        $font-size: rem(20px),
        $font-weight: 400,
        $line-height: rem(28px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    body-1: type-style(
        $font-size: rem(16px),
        $font-weight: 400,
        $line-height: rem(22px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    body-2: type-style(
        $font-size: rem(14px),
        $font-weight: 400,
        $line-height: rem(20px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    subtitle-1: type-style(
        $font-size: rem(18px),
        $font-weight: 400,
        $line-height: rem(24px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    subtitle-2: type-style(
        $font-size: rem(14px),
        $font-weight: 600,
        $line-height: rem(20px),
        $text-transform: none,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    button: type-style(
        $font-size: rem(14px),
        $font-weight: 400,
        $line-height: rem(14px),
        $text-transform: capitalize,
        $margin-top: 0,
        $margin-bottom: 0
    ),
    overline: type-style(
        $font-size: rem(10px),
        $font-weight: 400,
        $line-height: rem(14px),
        $margin-top: 0,
        $margin-bottom: 0
    )
);
