////
/// @package theming
/// @group elevations
////

/// Level 1 - The color used to generate umbra shadows.
/// @type Color
/// @access private
$color-1: rgba(0 0 0 / 0.26) !default;

/// Level 2 - The color used to generate penumbra shadows.
/// @type Color
/// @access private
$color-2: rgba(0 0 0 / 0.12) !default;

/// Level 3 - The color used to generate ambient shadows.
/// @type Color
/// @access private
$color-3: rgba(0 0 0 / 0.08) !default;

@forward './material' as material-* with($color-1: $color-1, $color-2: $color-2, $color-3: $color-3);
@forward './indigo' as indigo-* with($color-1: $color-1, $color-2: $color-2, $color-3: $color-3);

/// Configures shadow colors for the elevations.
/// @access public
/// @param {Color} $color-1 - The umbra shadow color.
/// @param {Color} $color-2 - The penumbra shadow color.
/// @param {Color} $color-3 - The ambiant shadow color.
@mixin configure($color-1, $color-2, $color-3) {
    @if $color-1 {
        $color-1: $color-1 !global;
    }

    @if $color-2 {
        $color-2: $color-2 !global;
    }

    @if $color-3 {
        $color-3: $color-3 !global;
    }
}
