@use 'sass:map';
@use '../../functions' as *;
@use '../../schemas/' as *;
@use '../../../utils/map' as *;
@use '../../../color/functions' as *;

////
/// @group themes
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
/// @author <a href="https://github.com/desig9stein" target="_blank">Marin Popov</a>
////

/// Dialog Theme
/// @param {Map} $schema [$light-material-schema] - The schema used as basis for styling the component.
/// @param {Color} $background [null] - The dialog background color.
/// @param {Color} $title-color [null] - The dialog title text color.
/// @param {Color} $message-color [null] - The dialog message text color.
/// @param {box-shadow} $shadow [null] - The shadow used for the dialog.
/// @param {List} $border-radius [null] - The border radius used for dialog component.
/// @param {Color} $border-color [null] - The border color used for dialog component.
/// @requires $light-material-schema
/// @example scss Change the background color
///   $my-dialog-theme: dialog-theme($background: black);
///   // Pass the theme to the css-vars() mixin
///   @include css-vars($my-dialog-theme);
@function dialog-theme(
    $schema: $light-material-schema,

    $border-radius: null,
    $border-color: null,

    $background: null,
    $title-color: null,
    $message-color: null,
    $shadow: null
) {
    $name: 'igx-dialog';
    $selector: '.igx-dialog';
    $dialog-schema: ();

    @if map.has-key($schema, 'dialog') {
        $dialog-schema: map.get($schema, 'dialog');
    } @else {
        $dialog-schema: $schema;
    }

    $theme: digest-schema($dialog-schema);

    @if not($title-color) and $background {
        $title-color: adaptive-contrast(var(--background));
    }

    @if not($message-color) and $background {
        $message-color: hsla(from adaptive-contrast(var(--background)) h s l / 0.8);
    }

    @if not($border-color) and $background {
        $border-color: hsla(from adaptive-contrast(var(--background)) h s l / 0.3);
    }

    @if not($shadow) {
        $elevation: map.get($dialog-schema, 'elevation');
        $shadow: elevation($elevation);
    }

    @return extend(
        $theme,
        (
            name: $name,
            selector: $selector,
            border-radius: $border-radius,
            background: $background,
            title-color: $title-color,
            message-color: $message-color,
            shadow: $shadow,
            border-color: $border-color,
        )
    );
}
