@use '../../themes/schemas';
@use '../../themes/mixins' as *;
@use '../../themes/functions' as *;
@use '../mixins' as * with (
    $theme-schemas: (
        light: schemas.$light-material-schema,
        dark: schemas.$dark-material-schema,
    )
);
@use 'common' as *;

// Common tailwind utility themes
@include tailwind-themes();

// Theme specific utilities
// Slider
@include tailwind-theme(
    $component: slider,
    $props: (
        thumb-color,
    )
);

// // Switch
@include tailwind-theme(
    $component: switch,
    $props: (
        track-off-color,
        track-on-color,
    )
);
