/* stylelint-disable max-line-length */
:root {
  --ig-wcag-a: 0.31;
  --ig-wcag-aa: 0.185;
  --ig-wcag-aaa: 0.178;
  --ig-contrast-level: var(--ig-wcag-aa);
  --y: clamp(0, (y / var(--ig-contrast-level) - 1) * -infinity, 1);
  --y-contrast: xyz-d65 var(--y) var(--y) var(--y);
}

:root {
  --ig-primary-50: #c5cdff;
  --ig-primary-50-contrast: black;
  --ig-primary-100: #a3aff6;
  --ig-primary-100-contrast: black;
  --ig-primary-200: #8293f8;
  --ig-primary-200-contrast: black;
  --ig-primary-300: #7385f4;
  --ig-primary-300-contrast: black;
  --ig-primary-400: #5468d9;
  --ig-primary-400-contrast: black;
  --ig-primary-500: #3f51b5;
  --ig-primary-500-contrast: white;
  --ig-primary-600: #39479c;
  --ig-primary-600-contrast: white;
  --ig-primary-700: #333d83;
  --ig-primary-700-contrast: white;
  --ig-primary-800: #2e3172;
  --ig-primary-800-contrast: white;
  --ig-primary-900: #262851;
  --ig-primary-900-contrast: white;
  --ig-primary-A100: #39479c;
  --ig-primary-A100-contrast: white;
  --ig-primary-A200: #333d83;
  --ig-primary-A200-contrast: white;
  --ig-primary-A400: #2e3172;
  --ig-primary-A400-contrast: white;
  --ig-primary-A700: #262851;
  --ig-primary-A700-contrast: white;
  --ig-secondary-50: #c5cdff;
  --ig-secondary-50-contrast: black;
  --ig-secondary-100: #a3aff6;
  --ig-secondary-100-contrast: black;
  --ig-secondary-200: #8293f8;
  --ig-secondary-200-contrast: black;
  --ig-secondary-300: #7385f4;
  --ig-secondary-300-contrast: black;
  --ig-secondary-400: #5468d9;
  --ig-secondary-400-contrast: black;
  --ig-secondary-500: #3f51b5;
  --ig-secondary-500-contrast: white;
  --ig-secondary-600: #39479c;
  --ig-secondary-600-contrast: white;
  --ig-secondary-700: #333d83;
  --ig-secondary-700-contrast: white;
  --ig-secondary-800: #2e3172;
  --ig-secondary-800-contrast: white;
  --ig-secondary-900: #262851;
  --ig-secondary-900-contrast: white;
  --ig-secondary-A100: #39479c;
  --ig-secondary-A100-contrast: white;
  --ig-secondary-A200: #333d83;
  --ig-secondary-A200-contrast: white;
  --ig-secondary-A400: #2e3172;
  --ig-secondary-A400-contrast: white;
  --ig-secondary-A700: #262851;
  --ig-secondary-A700-contrast: white;
  --ig-gray-50: #24252c;
  --ig-gray-50-contrast: white;
  --ig-gray-100: #3b3d47;
  --ig-gray-100-contrast: white;
  --ig-gray-200: #545762;
  --ig-gray-200-contrast: white;
  --ig-gray-300: #6c707a;
  --ig-gray-300-contrast: white;
  --ig-gray-400: #9a9da2;
  --ig-gray-400-contrast: black;
  --ig-gray-500: #c3c4c7;
  --ig-gray-500-contrast: black;
  --ig-gray-600: #d6d8dc;
  --ig-gray-600-contrast: black;
  --ig-gray-700: #ebedf2;
  --ig-gray-700-contrast: black;
  --ig-gray-800: #f8f8fa;
  --ig-gray-800-contrast: black;
  --ig-gray-900: #fcfcfd;
  --ig-gray-900-contrast: black;
  --ig-info-50: #f1c3ff;
  --ig-info-50-contrast: black;
  --ig-info-100: #e89eff;
  --ig-info-100-contrast: black;
  --ig-info-200: #dd71ff;
  --ig-info-200-contrast: black;
  --ig-info-300: #da64ff;
  --ig-info-300-contrast: black;
  --ig-info-400: #bc34d3;
  --ig-info-400-contrast: white;
  --ig-info-500: #9c27b0;
  --ig-info-500-contrast: white;
  --ig-info-600: #8c16a0;
  --ig-info-600-contrast: white;
  --ig-info-700: #7f1192;
  --ig-info-700-contrast: white;
  --ig-info-800: #6f0a80;
  --ig-info-800-contrast: white;
  --ig-info-900: #5c056b;
  --ig-info-900-contrast: white;
  --ig-info-A100: #8c16a0;
  --ig-info-A100-contrast: white;
  --ig-info-A200: #7f1192;
  --ig-info-A200-contrast: white;
  --ig-info-A400: #6f0a80;
  --ig-info-A400-contrast: white;
  --ig-info-A700: #5c056b;
  --ig-info-A700-contrast: white;
  --ig-success-50: #edf3e7;
  --ig-success-50-contrast: black;
  --ig-success-100: #d2e2c3;
  --ig-success-100-contrast: black;
  --ig-success-200: #b4cf9c;
  --ig-success-200-contrast: black;
  --ig-success-300: #95bc74;
  --ig-success-300-contrast: black;
  --ig-success-400: #7fad56;
  --ig-success-400-contrast: black;
  --ig-success-500: #689f38;
  --ig-success-500-contrast: black;
  --ig-success-600: #5a912a;
  --ig-success-600-contrast: black;
  --ig-success-700: #4e8222;
  --ig-success-700-contrast: white;
  --ig-success-800: #3d7012;
  --ig-success-800-contrast: white;
  --ig-success-900: #316109;
  --ig-success-900-contrast: white;
  --ig-success-A100: #5a912a;
  --ig-success-A100-contrast: black;
  --ig-success-A200: #4e8222;
  --ig-success-A200-contrast: white;
  --ig-success-A400: #3d7012;
  --ig-success-A400-contrast: white;
  --ig-success-A700: #316109;
  --ig-success-A700-contrast: white;
  --ig-warn-50: #fed7b7;
  --ig-warn-50-contrast: black;
  --ig-warn-100: #ffc696;
  --ig-warn-100-contrast: black;
  --ig-warn-200: #ffad67;
  --ig-warn-200-contrast: black;
  --ig-warn-300: #fb8f32;
  --ig-warn-300-contrast: black;
  --ig-warn-400: #fa7b0e;
  --ig-warn-400-contrast: black;
  --ig-warn-500: #f56b1d;
  --ig-warn-500-contrast: black;
  --ig-warn-600: #f05a2b;
  --ig-warn-600-contrast: black;
  --ig-warn-700: #ec4820;
  --ig-warn-700-contrast: black;
  --ig-warn-800: #df370e;
  --ig-warn-800-contrast: black;
  --ig-warn-900: #d22900;
  --ig-warn-900-contrast: white;
  --ig-warn-A100: #f05a2b;
  --ig-warn-A100-contrast: black;
  --ig-warn-A200: #ec4820;
  --ig-warn-A200-contrast: black;
  --ig-warn-A400: #df370e;
  --ig-warn-A400-contrast: black;
  --ig-warn-A700: #d22900;
  --ig-warn-A700-contrast: white;
  --ig-error-50: #ffebf0;
  --ig-error-50-contrast: black;
  --ig-error-100: #ffb0b7;
  --ig-error-100-contrast: black;
  --ig-error-200: #fc7f8a;
  --ig-error-200-contrast: black;
  --ig-error-300: #ec5461;
  --ig-error-300-contrast: black;
  --ig-error-400: #dd3544;
  --ig-error-400-contrast: black;
  --ig-error-500: #cf1a2b;
  --ig-error-500-contrast: white;
  --ig-error-600: #c31223;
  --ig-error-600-contrast: white;
  --ig-error-700: #b90415;
  --ig-error-700-contrast: white;
  --ig-error-800: #ae0111;
  --ig-error-800-contrast: white;
  --ig-error-900: #9f000f;
  --ig-error-900-contrast: white;
  --ig-error-A100: #c31223;
  --ig-error-A100-contrast: white;
  --ig-error-A200: #b90415;
  --ig-error-A200-contrast: white;
  --ig-error-A400: #ae0111;
  --ig-error-A400-contrast: white;
  --ig-error-A700: #9f000f;
  --ig-error-A700-contrast: white;
  --ig-surface-50: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 1.78));
  --ig-surface-50-contrast: hsla(from color(from var(--ig-surface-50) var(--y-contrast)) h 0 l/1);
  --ig-surface-100: hsl(from var(--ig-surface-500) h calc(s * 0.8) calc(l * 1.66));
  --ig-surface-100-contrast: hsla(from color(from var(--ig-surface-100) var(--y-contrast)) h 0 l/1);
  --ig-surface-200: hsl(from var(--ig-surface-500) h calc(s * 0.64) calc(l * 1.43));
  --ig-surface-200-contrast: hsla(from color(from var(--ig-surface-200) var(--y-contrast)) h 0 l/1);
  --ig-surface-300: hsl(from var(--ig-surface-500) h calc(s * 0.73) calc(l * 1.19));
  --ig-surface-300-contrast: hsla(from color(from var(--ig-surface-300) var(--y-contrast)) h 0 l/1);
  --ig-surface-400: hsl(from var(--ig-surface-500) h calc(s * 0.875) calc(l * 1.08));
  --ig-surface-400-contrast: hsla(from color(from var(--ig-surface-400) var(--y-contrast)) h 0 l/1);
  --ig-surface-500: #1e1f24;
  --ig-surface-500-contrast: hsla(from color(from var(--ig-surface-500) var(--y-contrast)) h 0 l/1);
  --ig-surface-600: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.89));
  --ig-surface-600-contrast: hsla(from color(from var(--ig-surface-600) var(--y-contrast)) h 0 l/1);
  --ig-surface-700: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.81));
  --ig-surface-700-contrast: hsla(from color(from var(--ig-surface-700) var(--y-contrast)) h 0 l/1);
  --ig-surface-800: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.73));
  --ig-surface-800-contrast: hsla(from color(from var(--ig-surface-800) var(--y-contrast)) h 0 l/1);
  --ig-surface-900: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.64));
  --ig-surface-900-contrast: hsla(from color(from var(--ig-surface-900) var(--y-contrast)) h 0 l/1);
  --ig-surface-A100: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 1.34));
  --ig-surface-A100-contrast: hsla(from color(from var(--ig-surface-A100) var(--y-contrast)) h 0 l/1);
  --ig-surface-A200: hsl(from var(--ig-surface-500) h calc(s * 1.22) calc(l * 1.16));
  --ig-surface-A200-contrast: hsla(from color(from var(--ig-surface-A200) var(--y-contrast)) h 0 l/1);
  --ig-surface-A400: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 0.91));
  --ig-surface-A400-contrast: hsla(from color(from var(--ig-surface-A400) var(--y-contrast)) h 0 l/1);
  --ig-surface-A700: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 0.65));
  --ig-surface-A700-contrast: hsla(from color(from var(--ig-surface-A700) var(--y-contrast)) h 0 l/1);
}

:root {
  --ig-font-family: 'Nunito Sans', sans-serif;
  --ig-base-font-size: 16px;
  --ig-h1-font-size: 2.25rem;
  --ig-h1-font-weight: 300;
  --ig-h1-font-style: normal;
  --ig-h1-line-height: 2.625rem;
  --ig-h1-letter-spacing: 0;
  --ig-h1-text-transform: none;
  --ig-h1-margin-top: 0;
  --ig-h1-margin-bottom: 0;
  --ig-h2-font-size: 1.75rem;
  --ig-h2-font-weight: 400;
  --ig-h2-font-style: normal;
  --ig-h2-line-height: 2.25rem;
  --ig-h2-letter-spacing: 0;
  --ig-h2-text-transform: none;
  --ig-h2-margin-top: 0;
  --ig-h2-margin-bottom: 0;
  --ig-h3-font-size: 1.5rem;
  --ig-h3-font-weight: 400;
  --ig-h3-font-style: normal;
  --ig-h3-line-height: 2rem;
  --ig-h3-letter-spacing: 0;
  --ig-h3-text-transform: none;
  --ig-h3-margin-top: 0;
  --ig-h3-margin-bottom: 0;
  --ig-h4-font-size: 1.25rem;
  --ig-h4-font-weight: 600;
  --ig-h4-font-style: normal;
  --ig-h4-line-height: 1.625rem;
  --ig-h4-letter-spacing: 0;
  --ig-h4-text-transform: none;
  --ig-h4-margin-top: 0;
  --ig-h4-margin-bottom: 0;
  --ig-h5-font-size: 1rem;
  --ig-h5-font-weight: 600;
  --ig-h5-font-style: normal;
  --ig-h5-line-height: 1.375rem;
  --ig-h5-letter-spacing: 0;
  --ig-h5-text-transform: none;
  --ig-h5-margin-top: 0;
  --ig-h5-margin-bottom: 0;
  --ig-h6-font-size: 0.875rem;
  --ig-h6-font-weight: 600;
  --ig-h6-font-style: normal;
  --ig-h6-line-height: 1.25rem;
  --ig-h6-letter-spacing: 0;
  --ig-h6-text-transform: none;
  --ig-h6-margin-top: 0;
  --ig-h6-margin-bottom: 0;
  --ig-subtitle-1-font-size: 0.8125rem;
  --ig-subtitle-1-font-weight: 600;
  --ig-subtitle-1-font-style: normal;
  --ig-subtitle-1-line-height: 1.125rem;
  --ig-subtitle-1-letter-spacing: 0;
  --ig-subtitle-1-text-transform: none;
  --ig-subtitle-1-margin-top: 0;
  --ig-subtitle-1-margin-bottom: 0;
  --ig-subtitle-2-font-size: 0.75rem;
  --ig-subtitle-2-font-weight: 600;
  --ig-subtitle-2-font-style: normal;
  --ig-subtitle-2-line-height: 1rem;
  --ig-subtitle-2-letter-spacing: 0;
  --ig-subtitle-2-text-transform: none;
  --ig-subtitle-2-margin-top: 0;
  --ig-subtitle-2-margin-bottom: 0;
  --ig-body-1-font-size: 0.8125rem;
  --ig-body-1-font-weight: 400;
  --ig-body-1-font-style: normal;
  --ig-body-1-line-height: 1.125rem;
  --ig-body-1-letter-spacing: 0;
  --ig-body-1-text-transform: none;
  --ig-body-1-margin-top: 0;
  --ig-body-1-margin-bottom: 0;
  --ig-body-2-font-size: 0.75rem;
  --ig-body-2-font-weight: 400;
  --ig-body-2-font-style: normal;
  --ig-body-2-line-height: 1rem;
  --ig-body-2-letter-spacing: 0;
  --ig-body-2-text-transform: none;
  --ig-body-2-margin-top: 0;
  --ig-body-2-margin-bottom: 0;
  --ig-button-font-size: 0.6875rem;
  --ig-button-font-weight: 700;
  --ig-button-font-style: normal;
  --ig-button-line-height: 0.9375rem;
  --ig-button-letter-spacing: 0;
  --ig-button-text-transform: uppercase;
  --ig-button-margin-top: 0;
  --ig-button-margin-bottom: 0;
  --ig-caption-font-size: 0.6875rem;
  --ig-caption-font-weight: 400;
  --ig-caption-font-style: normal;
  --ig-caption-line-height: 0.9375rem;
  --ig-caption-letter-spacing: 0;
  --ig-caption-text-transform: normal;
  --ig-caption-margin-top: 0;
  --ig-caption-margin-bottom: 0;
  --ig-overline-font-size: 0.6875rem;
  --ig-overline-font-weight: 700;
  --ig-overline-font-style: normal;
  --ig-overline-line-height: 0.9375rem;
  --ig-overline-letter-spacing: 0;
  --ig-overline-text-transform: none;
  --ig-overline-margin-top: 0;
  --ig-overline-margin-bottom: 0;
  --ig-detail-1-font-size: 0.75rem;
  --ig-detail-1-font-weight: 400;
  --ig-detail-1-font-style: normal;
  --ig-detail-1-line-height: 1rem;
  --ig-detail-1-letter-spacing: 0;
  --ig-detail-1-text-transform: none;
  --ig-detail-1-margin-top: 0;
  --ig-detail-1-margin-bottom: 0;
  --ig-detail-2-font-size: 0.75rem;
  --ig-detail-2-font-weight: 600;
  --ig-detail-2-font-style: normal;
  --ig-detail-2-line-height: 1rem;
  --ig-detail-2-letter-spacing: 0;
  --ig-detail-2-text-transform: none;
  --ig-detail-2-margin-top: 0;
  --ig-detail-2-margin-bottom: 0;
}

.ig-typography h1 {
  font-family: var(--ig-h1-font-family, var(--ig-font-family));
  font-size: var(--ig-h1-font-size);
  font-weight: var(--ig-h1-font-weight);
  font-style: var(--ig-h1-font-style);
  line-height: var(--ig-h1-line-height);
  letter-spacing: var(--ig-h1-letter-spacing);
  text-transform: var(--ig-h1-text-transform);
  margin-top: var(--ig-h1-margin-top);
  margin-bottom: var(--ig-h1-margin-bottom);
}
.ig-typography h2 {
  font-family: var(--ig-h2-font-family, var(--ig-font-family));
  font-size: var(--ig-h2-font-size);
  font-weight: var(--ig-h2-font-weight);
  font-style: var(--ig-h2-font-style);
  line-height: var(--ig-h2-line-height);
  letter-spacing: var(--ig-h2-letter-spacing);
  text-transform: var(--ig-h2-text-transform);
  margin-top: var(--ig-h2-margin-top);
  margin-bottom: var(--ig-h2-margin-bottom);
}
.ig-typography h3 {
  font-family: var(--ig-h3-font-family, var(--ig-font-family));
  font-size: var(--ig-h3-font-size);
  font-weight: var(--ig-h3-font-weight);
  font-style: var(--ig-h3-font-style);
  line-height: var(--ig-h3-line-height);
  letter-spacing: var(--ig-h3-letter-spacing);
  text-transform: var(--ig-h3-text-transform);
  margin-top: var(--ig-h3-margin-top);
  margin-bottom: var(--ig-h3-margin-bottom);
}
.ig-typography h4 {
  font-family: var(--ig-h4-font-family, var(--ig-font-family));
  font-size: var(--ig-h4-font-size);
  font-weight: var(--ig-h4-font-weight);
  font-style: var(--ig-h4-font-style);
  line-height: var(--ig-h4-line-height);
  letter-spacing: var(--ig-h4-letter-spacing);
  text-transform: var(--ig-h4-text-transform);
  margin-top: var(--ig-h4-margin-top);
  margin-bottom: var(--ig-h4-margin-bottom);
}
.ig-typography h5 {
  font-family: var(--ig-h5-font-family, var(--ig-font-family));
  font-size: var(--ig-h5-font-size);
  font-weight: var(--ig-h5-font-weight);
  font-style: var(--ig-h5-font-style);
  line-height: var(--ig-h5-line-height);
  letter-spacing: var(--ig-h5-letter-spacing);
  text-transform: var(--ig-h5-text-transform);
  margin-top: var(--ig-h5-margin-top);
  margin-bottom: var(--ig-h5-margin-bottom);
}
.ig-typography h6 {
  font-family: var(--ig-h6-font-family, var(--ig-font-family));
  font-size: var(--ig-h6-font-size);
  font-weight: var(--ig-h6-font-weight);
  font-style: var(--ig-h6-font-style);
  line-height: var(--ig-h6-line-height);
  letter-spacing: var(--ig-h6-letter-spacing);
  text-transform: var(--ig-h6-text-transform);
  margin-top: var(--ig-h6-margin-top);
  margin-bottom: var(--ig-h6-margin-bottom);
}
.ig-typography p {
  font-family: var(--ig-body-1-font-family, var(--ig-font-family));
  font-size: var(--ig-body-1-font-size);
  font-weight: var(--ig-body-1-font-weight);
  font-style: var(--ig-body-1-font-style);
  line-height: var(--ig-body-1-line-height);
  letter-spacing: var(--ig-body-1-letter-spacing);
  text-transform: var(--ig-body-1-text-transform);
  margin-top: var(--ig-body-1-margin-top);
  margin-bottom: var(--ig-body-1-margin-bottom);
}
.ig-typography .ig-typography__h1 {
  font-family: var(--ig-h1-font-family, var(--ig-font-family));
  font-size: var(--ig-h1-font-size);
  font-weight: var(--ig-h1-font-weight);
  font-style: var(--ig-h1-font-style);
  line-height: var(--ig-h1-line-height);
  letter-spacing: var(--ig-h1-letter-spacing);
  text-transform: var(--ig-h1-text-transform);
  margin-top: var(--ig-h1-margin-top);
  margin-bottom: var(--ig-h1-margin-bottom);
}
.ig-typography .ig-typography__h2 {
  font-family: var(--ig-h2-font-family, var(--ig-font-family));
  font-size: var(--ig-h2-font-size);
  font-weight: var(--ig-h2-font-weight);
  font-style: var(--ig-h2-font-style);
  line-height: var(--ig-h2-line-height);
  letter-spacing: var(--ig-h2-letter-spacing);
  text-transform: var(--ig-h2-text-transform);
  margin-top: var(--ig-h2-margin-top);
  margin-bottom: var(--ig-h2-margin-bottom);
}
.ig-typography .ig-typography__h3 {
  font-family: var(--ig-h3-font-family, var(--ig-font-family));
  font-size: var(--ig-h3-font-size);
  font-weight: var(--ig-h3-font-weight);
  font-style: var(--ig-h3-font-style);
  line-height: var(--ig-h3-line-height);
  letter-spacing: var(--ig-h3-letter-spacing);
  text-transform: var(--ig-h3-text-transform);
  margin-top: var(--ig-h3-margin-top);
  margin-bottom: var(--ig-h3-margin-bottom);
}
.ig-typography .ig-typography__h4 {
  font-family: var(--ig-h4-font-family, var(--ig-font-family));
  font-size: var(--ig-h4-font-size);
  font-weight: var(--ig-h4-font-weight);
  font-style: var(--ig-h4-font-style);
  line-height: var(--ig-h4-line-height);
  letter-spacing: var(--ig-h4-letter-spacing);
  text-transform: var(--ig-h4-text-transform);
  margin-top: var(--ig-h4-margin-top);
  margin-bottom: var(--ig-h4-margin-bottom);
}
.ig-typography .ig-typography__h5 {
  font-family: var(--ig-h5-font-family, var(--ig-font-family));
  font-size: var(--ig-h5-font-size);
  font-weight: var(--ig-h5-font-weight);
  font-style: var(--ig-h5-font-style);
  line-height: var(--ig-h5-line-height);
  letter-spacing: var(--ig-h5-letter-spacing);
  text-transform: var(--ig-h5-text-transform);
  margin-top: var(--ig-h5-margin-top);
  margin-bottom: var(--ig-h5-margin-bottom);
}
.ig-typography .ig-typography__h6 {
  font-family: var(--ig-h6-font-family, var(--ig-font-family));
  font-size: var(--ig-h6-font-size);
  font-weight: var(--ig-h6-font-weight);
  font-style: var(--ig-h6-font-style);
  line-height: var(--ig-h6-line-height);
  letter-spacing: var(--ig-h6-letter-spacing);
  text-transform: var(--ig-h6-text-transform);
  margin-top: var(--ig-h6-margin-top);
  margin-bottom: var(--ig-h6-margin-bottom);
}
.ig-typography .ig-typography__subtitle-1 {
  font-family: var(--ig-subtitle-1-font-family, var(--ig-font-family));
  font-size: var(--ig-subtitle-1-font-size);
  font-weight: var(--ig-subtitle-1-font-weight);
  font-style: var(--ig-subtitle-1-font-style);
  line-height: var(--ig-subtitle-1-line-height);
  letter-spacing: var(--ig-subtitle-1-letter-spacing);
  text-transform: var(--ig-subtitle-1-text-transform);
  margin-top: var(--ig-subtitle-1-margin-top);
  margin-bottom: var(--ig-subtitle-1-margin-bottom);
}
.ig-typography .ig-typography__subtitle-2 {
  font-family: var(--ig-subtitle-2-font-family, var(--ig-font-family));
  font-size: var(--ig-subtitle-2-font-size);
  font-weight: var(--ig-subtitle-2-font-weight);
  font-style: var(--ig-subtitle-2-font-style);
  line-height: var(--ig-subtitle-2-line-height);
  letter-spacing: var(--ig-subtitle-2-letter-spacing);
  text-transform: var(--ig-subtitle-2-text-transform);
  margin-top: var(--ig-subtitle-2-margin-top);
  margin-bottom: var(--ig-subtitle-2-margin-bottom);
}
.ig-typography .ig-typography__body-1 {
  font-family: var(--ig-body-1-font-family, var(--ig-font-family));
  font-size: var(--ig-body-1-font-size);
  font-weight: var(--ig-body-1-font-weight);
  font-style: var(--ig-body-1-font-style);
  line-height: var(--ig-body-1-line-height);
  letter-spacing: var(--ig-body-1-letter-spacing);
  text-transform: var(--ig-body-1-text-transform);
  margin-top: var(--ig-body-1-margin-top);
  margin-bottom: var(--ig-body-1-margin-bottom);
}
.ig-typography .ig-typography__body-2 {
  font-family: var(--ig-body-2-font-family, var(--ig-font-family));
  font-size: var(--ig-body-2-font-size);
  font-weight: var(--ig-body-2-font-weight);
  font-style: var(--ig-body-2-font-style);
  line-height: var(--ig-body-2-line-height);
  letter-spacing: var(--ig-body-2-letter-spacing);
  text-transform: var(--ig-body-2-text-transform);
  margin-top: var(--ig-body-2-margin-top);
  margin-bottom: var(--ig-body-2-margin-bottom);
}
.ig-typography .ig-typography__button {
  font-family: var(--ig-button-font-family, var(--ig-font-family));
  font-size: var(--ig-button-font-size);
  font-weight: var(--ig-button-font-weight);
  font-style: var(--ig-button-font-style);
  line-height: var(--ig-button-line-height);
  letter-spacing: var(--ig-button-letter-spacing);
  text-transform: var(--ig-button-text-transform);
  margin-top: var(--ig-button-margin-top);
  margin-bottom: var(--ig-button-margin-bottom);
}
.ig-typography .ig-typography__caption {
  font-family: var(--ig-caption-font-family, var(--ig-font-family));
  font-size: var(--ig-caption-font-size);
  font-weight: var(--ig-caption-font-weight);
  font-style: var(--ig-caption-font-style);
  line-height: var(--ig-caption-line-height);
  letter-spacing: var(--ig-caption-letter-spacing);
  text-transform: var(--ig-caption-text-transform);
  margin-top: var(--ig-caption-margin-top);
  margin-bottom: var(--ig-caption-margin-bottom);
}
.ig-typography .ig-typography__overline {
  font-family: var(--ig-overline-font-family, var(--ig-font-family));
  font-size: var(--ig-overline-font-size);
  font-weight: var(--ig-overline-font-weight);
  font-style: var(--ig-overline-font-style);
  line-height: var(--ig-overline-line-height);
  letter-spacing: var(--ig-overline-letter-spacing);
  text-transform: var(--ig-overline-text-transform);
  margin-top: var(--ig-overline-margin-top);
  margin-bottom: var(--ig-overline-margin-bottom);
}

:root {
  --ig-elevation-0: none;
  --ig-elevation-1: 0 calc(var(--ig-elevation-factor, 1) * 1px) calc(var(--ig-elevation-factor, 1) * 3px) 0 rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 1px) calc(var(--ig-elevation-factor, 1) * 1px) 0 rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 1px) calc(var(--ig-elevation-factor, 1) * -1px) rgba(0, 0, 0, 0.08);
  --ig-elevation-2: 0 calc(var(--ig-elevation-factor, 1) * 3px) calc(var(--ig-elevation-factor, 1) * 6px) 0 rgba(0, 0, 0, 0.3);
  --ig-elevation-3: 0 calc(var(--ig-elevation-factor, 1) * 3px) calc(var(--ig-elevation-factor, 1) * 6px) 0 rgba(36, 37, 44, 0.2);
  --ig-elevation-4: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 12px) 0 rgba(36, 37, 44, 0.1);
  --ig-elevation-5: 0 0 calc(var(--ig-elevation-factor, 1) * 12px) 0 rgba(36, 37, 44, 0.2);
  --ig-elevation-6: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 12px) 0 rgba(36, 37, 44, 0.2);
  --ig-elevation-7: 0 0 calc(var(--ig-elevation-factor, 1) * 12px) 0 rgba(0, 0, 0, 0.3);
  --ig-elevation-8: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 2px) 0 rgba(36, 37, 44, 0.2);
  --ig-elevation-9: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 2px) 0 rgba(0, 0, 0, 0.3);
  --ig-elevation-10: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 6px) 0 rgba(36, 37, 44, 0.4);
  --ig-elevation-11: 0 calc(var(--ig-elevation-factor, 1) * 2px) calc(var(--ig-elevation-factor, 1) * 6px) 0 rgba(0, 0, 0, 0.4);
  --ig-elevation-12: 0 0 calc(var(--ig-elevation-factor, 1) * 16px) 0 rgba(36, 37, 44, 0.4);
  --ig-elevation-13: 0 calc(var(--ig-elevation-factor, 1) * 7px) calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * -4px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 13px) calc(var(--ig-elevation-factor, 1) * 19px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 5px) calc(var(--ig-elevation-factor, 1) * 24px) calc(var(--ig-elevation-factor, 1) * 4px) rgba(0, 0, 0, 0.08);
  --ig-elevation-14: 0 calc(var(--ig-elevation-factor, 1) * 7px) calc(var(--ig-elevation-factor, 1) * 9px) calc(var(--ig-elevation-factor, 1) * -4px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 14px) calc(var(--ig-elevation-factor, 1) * 21px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 5px) calc(var(--ig-elevation-factor, 1) * 26px) calc(var(--ig-elevation-factor, 1) * 4px) rgba(0, 0, 0, 0.08);
  --ig-elevation-15: 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 9px) calc(var(--ig-elevation-factor, 1) * -5px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 15px) calc(var(--ig-elevation-factor, 1) * 22px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 6px) calc(var(--ig-elevation-factor, 1) * 28px) calc(var(--ig-elevation-factor, 1) * 5px) rgba(0, 0, 0, 0.08);
  --ig-elevation-16: 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 10px) calc(var(--ig-elevation-factor, 1) * -5px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 16px) calc(var(--ig-elevation-factor, 1) * 24px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 6px) calc(var(--ig-elevation-factor, 1) * 30px) calc(var(--ig-elevation-factor, 1) * 5px) rgba(0, 0, 0, 0.08);
  --ig-elevation-17: 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 11px) calc(var(--ig-elevation-factor, 1) * -5px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 17px) calc(var(--ig-elevation-factor, 1) * 26px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 6px) calc(var(--ig-elevation-factor, 1) * 32px) calc(var(--ig-elevation-factor, 1) * 5px) rgba(0, 0, 0, 0.08);
  --ig-elevation-18: 0 calc(var(--ig-elevation-factor, 1) * 9px) calc(var(--ig-elevation-factor, 1) * 11px) calc(var(--ig-elevation-factor, 1) * -5px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 18px) calc(var(--ig-elevation-factor, 1) * 28px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 7px) calc(var(--ig-elevation-factor, 1) * 34px) calc(var(--ig-elevation-factor, 1) * 6px) rgba(0, 0, 0, 0.08);
  --ig-elevation-19: 0 calc(var(--ig-elevation-factor, 1) * 9px) calc(var(--ig-elevation-factor, 1) * 12px) calc(var(--ig-elevation-factor, 1) * -6px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 19px) calc(var(--ig-elevation-factor, 1) * 29px) calc(var(--ig-elevation-factor, 1) * 2px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 7px) calc(var(--ig-elevation-factor, 1) * 36px) calc(var(--ig-elevation-factor, 1) * 6px) rgba(0, 0, 0, 0.08);
  --ig-elevation-20: 0 calc(var(--ig-elevation-factor, 1) * 10px) calc(var(--ig-elevation-factor, 1) * 13px) calc(var(--ig-elevation-factor, 1) * -6px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 20px) calc(var(--ig-elevation-factor, 1) * 31px) calc(var(--ig-elevation-factor, 1) * 3px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 38px) calc(var(--ig-elevation-factor, 1) * 7px) rgba(0, 0, 0, 0.08);
  --ig-elevation-21: 0 calc(var(--ig-elevation-factor, 1) * 10px) calc(var(--ig-elevation-factor, 1) * 13px) calc(var(--ig-elevation-factor, 1) * -6px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 21px) calc(var(--ig-elevation-factor, 1) * 33px) calc(var(--ig-elevation-factor, 1) * 3px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 40px) calc(var(--ig-elevation-factor, 1) * 7px) rgba(0, 0, 0, 0.08);
  --ig-elevation-22: 0 calc(var(--ig-elevation-factor, 1) * 10px) calc(var(--ig-elevation-factor, 1) * 14px) calc(var(--ig-elevation-factor, 1) * -6px) rgba(0, 0, 0, 0.26), 0 calc(var(--ig-elevation-factor, 1) * 22px) calc(var(--ig-elevation-factor, 1) * 35px) calc(var(--ig-elevation-factor, 1) * 3px) rgba(0, 0, 0, 0.12), 0 calc(var(--ig-elevation-factor, 1) * 8px) calc(var(--ig-elevation-factor, 1) * 42px) calc(var(--ig-elevation-factor, 1) * 7px) rgba(0, 0, 0, 0.08);
  --ig-elevation-23: 0 0 calc(var(--ig-elevation-factor, 1) * 16px) 0 rgba(0, 0, 0, 0.3);
  --ig-elevation-24: 0 0 calc(var(--ig-elevation-factor, 1) * 16px) 0 rgba(36, 37, 44, 0.4);
}
