@use '../../functions' as *;

$green-palette: palette(
    $primary: #09f,
    $secondary: #72da67,
    $surface: #fff
);
$purple-palette: palette(
    $primary: #00b4d6,
    $secondary: #514590,
    $surface: #fff
);
