@use '../../functions' as *;

/**
 * @sass-export-section="light-fluent"
 */
/// Generates the light fluent palette.
/// @type Map
/// @access public
/// @group palettes
/// @name light-fluent-palette
/// @prop {Color} primary [#0078d4] - The primary color
/// @prop {Color} secondary [#0078d4] - The secondary color
/// @prop {Color} gray [#000] - The gray color
/// @prop {Color} surface [#fff] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$palette: palette(
    $primary: #0078d4,
    $secondary: #0078d4,
    $surface: #fff,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent'
);

/// Generates the light fluent word palette.
/// @type Map
/// @access public
/// @group palettes
/// @name light-fluent-word-palette
/// @prop {Color} primary [#2b579a] - The primary color
/// @prop {Color} secondary [#2b579a] - The secondary color
/// @prop {Color} gray [#000] - The gray color
/// @prop {Color} surface [#fff] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$word-palette: palette(
    $primary: #2b579a,
    $secondary: #2b579a,
    $surface: #fff,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent'
);

/// Generates the dark green palette.
/// @type Map
/// @access public
/// @group palettes
/// @name light-fluent-excel-palette
/// @prop {Color} primary [#217346] - The primary color
/// @prop {Color} secondary [#217346] - The secondary color
/// @prop {Color} gray [#000] - The gray color
/// @prop {Color} surface [#fff] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$excel-palette: palette(
    $primary: #217346,
    $secondary: #217346,
    $surface: #fff,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent'
);
