@use '../../functions' as *;

$palette: palette(
    $primary: #0078d4,
    $secondary: #0078d4,
    $surface: #fff,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent'
);
