@use '../../functions' as *;

$palette: palette(
    $primary: #09f,
    $secondary: #e41c77,
    $surface: white,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #faa419,
    $error: #ff134a,
    $variant: 'material'
);
