.h0 {
  l: 0.6477037682;
  c: 0.2625732422;
}

.h60 {
  l: 0.756451357;
  c: 0.1773965836;
}

.h120 {
  l: 0.9395631224;
  c: 0.2230670929;
}

.h210 {
  l: 0.8413263903;
  c: 0.1455053329;
}

.h250 {
  l: 0.6613947535;
  c: 0.1872121811;
}

.h270 {
  l: 0.4649192077;
  c: 0.3046937943;
}

.h315 {
  l: 0.6199188155;
  c: 0.3053684235;
}

.h330 {
  l: 0.6972909907;
  c: 0.3178344727;
}
