.gamut-relative {
  --ig-primary-50: oklch(from var(--ig-primary-seed) 0.9402 min(c * 0.1264, 0.0332) h);
  --ig-primary-50-contrast: hsla(from color(from var(--ig-primary-50) var(--y-contrast)) h 0 l/1);
  --ig-primary-100: oklch(from var(--ig-primary-seed) 0.844 min(c * 0.3941, 0.0862) h);
  --ig-primary-100-contrast: hsla(from color(from var(--ig-primary-100) var(--y-contrast)) h 0 l/1);
  --ig-primary-200: oklch(from var(--ig-primary-seed) 0.7551 min(c * 0.6602, 0.1303) h);
  --ig-primary-200-contrast: hsla(from color(from var(--ig-primary-200) var(--y-contrast)) h 0 l/1);
  --ig-primary-300: oklch(from var(--ig-primary-seed) 0.6742 min(c * 0.8212, 0.1538) h);
  --ig-primary-300-contrast: hsla(from color(from var(--ig-primary-300) var(--y-contrast)) h 0 l/1);
  --ig-primary-400: oklch(from var(--ig-primary-seed) 0.5973 min(c * 0.8367, 0.1539) h);
  --ig-primary-400-contrast: hsla(from color(from var(--ig-primary-400) var(--y-contrast)) h 0 l/1);
  --ig-primary-500: oklch(from var(--ig-primary-seed) 0.5244 min(c * 0.7664, 0.1409) h);
  --ig-primary-500-contrast: hsla(from color(from var(--ig-primary-500) var(--y-contrast)) h 0 l/1);
  --ig-primary-600: oklch(from var(--ig-primary-seed) 0.4535 min(c * 0.6602, 0.1236) h);
  --ig-primary-600-contrast: hsla(from color(from var(--ig-primary-600) var(--y-contrast)) h 0 l/1);
  --ig-primary-700: oklch(from var(--ig-primary-seed) 0.3818 min(c * 0.5301, 0.1046) h);
  --ig-primary-700-contrast: hsla(from color(from var(--ig-primary-700) var(--y-contrast)) h 0 l/1);
  --ig-primary-800: oklch(from var(--ig-primary-seed) 0.3034 min(c * 0.3808, 0.0833) h);
  --ig-primary-800-contrast: hsla(from color(from var(--ig-primary-800) var(--y-contrast)) h 0 l/1);
  --ig-primary-900: oklch(from var(--ig-primary-seed) 0.1995 min(c * 0.2097, 0.0548) h);
  --ig-primary-900-contrast: hsla(from color(from var(--ig-primary-900) var(--y-contrast)) h 0 l/1);
  --ig-primary-seed: #09f;
  --ig-primary-seed-contrast: hsla(from color(from var(--ig-primary-seed) var(--y-contrast)) h 0 l/1);
  --ig-primary-A100: oklch(from var(--ig-primary-seed) 0.8905 min(c * 0.3309, 0.0608) h);
  --ig-primary-A100-contrast: hsla(from color(from var(--ig-primary-A100) var(--y-contrast)) h 0 l/1);
  --ig-primary-A200: oklch(from var(--ig-primary-seed) 0.7075 min(c * 0.8606, 0.1581) h);
  --ig-primary-A200-contrast: hsla(from color(from var(--ig-primary-A200) var(--y-contrast)) h 0 l/1);
  --ig-primary-A400: oklch(from var(--ig-primary-seed) 0.5847 min(c * 0.8681, 0.1595) h);
  --ig-primary-A400-contrast: hsla(from color(from var(--ig-primary-A400) var(--y-contrast)) h 0 l/1);
  --ig-primary-A700: oklch(from var(--ig-primary-seed) 0.4923 min(c * 0.7355, 0.1351) h);
  --ig-primary-A700-contrast: hsla(from color(from var(--ig-primary-A700) var(--y-contrast)) h 0 l/1);
  --ig-secondary-50: oklch(from var(--ig-secondary-seed) 0.9439 min(c * 0.1274, 0.0414) h);
  --ig-secondary-50-contrast: hsla(from color(from var(--ig-secondary-50) var(--y-contrast)) h 0 l/1);
  --ig-secondary-100: oklch(from var(--ig-secondary-seed) 0.8609 min(c * 0.3781, 0.1024) h);
  --ig-secondary-100-contrast: hsla(from color(from var(--ig-secondary-100) var(--y-contrast)) h 0 l/1);
  --ig-secondary-200: oklch(from var(--ig-secondary-seed) 0.7822 min(c * 0.6467, 0.158) h);
  --ig-secondary-200-contrast: hsla(from color(from var(--ig-secondary-200) var(--y-contrast)) h 0 l/1);
  --ig-secondary-300: oklch(from var(--ig-secondary-seed) 0.7011 min(c * 0.8788, 0.2039) h);
  --ig-secondary-300-contrast: hsla(from color(from var(--ig-secondary-300) var(--y-contrast)) h 0 l/1);
  --ig-secondary-400: oklch(from var(--ig-secondary-seed) 0.6267 min(c * 0.9712, 0.2212) h);
  --ig-secondary-400-contrast: hsla(from color(from var(--ig-secondary-400) var(--y-contrast)) h 0 l/1);
  --ig-secondary-500: oklch(from var(--ig-secondary-seed) 0.5522 min(c * 0.9342, 0.2128) h);
  --ig-secondary-500-contrast: hsla(from color(from var(--ig-secondary-500) var(--y-contrast)) h 0 l/1);
  --ig-secondary-600: oklch(from var(--ig-secondary-seed) 0.4784 min(c * 0.8203, 0.1903) h);
  --ig-secondary-600-contrast: hsla(from color(from var(--ig-secondary-600) var(--y-contrast)) h 0 l/1);
  --ig-secondary-700: oklch(from var(--ig-secondary-seed) 0.402 min(c * 0.6615, 0.1617) h);
  --ig-secondary-700-contrast: hsla(from color(from var(--ig-secondary-700) var(--y-contrast)) h 0 l/1);
  --ig-secondary-800: oklch(from var(--ig-secondary-seed) 0.3181 min(c * 0.4739, 0.1284) h);
  --ig-secondary-800-contrast: hsla(from color(from var(--ig-secondary-800) var(--y-contrast)) h 0 l/1);
  --ig-secondary-900: oklch(from var(--ig-secondary-seed) 0.2075 min(c * 0.2592, 0.0838) h);
  --ig-secondary-900-contrast: hsla(from color(from var(--ig-secondary-900) var(--y-contrast)) h 0 l/1);
  --ig-secondary-seed: #df1b74;
  --ig-secondary-seed-contrast: hsla(from color(from var(--ig-secondary-seed) var(--y-contrast)) h 0 l/1);
  --ig-secondary-A100: oklch(from var(--ig-secondary-seed) 0.8961 min(c * 0.2738, 0.0766) h);
  --ig-secondary-A100-contrast: hsla(from color(from var(--ig-secondary-A100) var(--y-contrast)) h 0 l/1);
  --ig-secondary-A200: oklch(from var(--ig-secondary-seed) 0.7419 min(c * 0.8339, 0.1897) h);
  --ig-secondary-A200-contrast: hsla(from color(from var(--ig-secondary-A200) var(--y-contrast)) h 0 l/1);
  --ig-secondary-A400: oklch(from var(--ig-secondary-seed) 0.616 min(c * 1.053, 0.2396) h);
  --ig-secondary-A400-contrast: hsla(from color(from var(--ig-secondary-A400) var(--y-contrast)) h 0 l/1);
  --ig-secondary-A700: oklch(from var(--ig-secondary-seed) 0.5201 min(c * 0.9218, 0.2097) h);
  --ig-secondary-A700-contrast: hsla(from color(from var(--ig-secondary-A700) var(--y-contrast)) h 0 l/1);
  --ig-gray-50: oklch(from var(--ig-gray-seed) 0.9404 0 0);
  --ig-gray-50-contrast: hsla(from color(from var(--ig-gray-50) var(--y-contrast)) h 0 l/1);
  --ig-gray-100: oklch(from var(--ig-gray-seed) 0.8448 0 0);
  --ig-gray-100-contrast: hsla(from color(from var(--ig-gray-100) var(--y-contrast)) h 0 l/1);
  --ig-gray-200: oklch(from var(--ig-gray-seed) 0.7562 0 0);
  --ig-gray-200-contrast: hsla(from color(from var(--ig-gray-200) var(--y-contrast)) h 0 l/1);
  --ig-gray-300: oklch(from var(--ig-gray-seed) 0.6749 0 0);
  --ig-gray-300-contrast: hsla(from color(from var(--ig-gray-300) var(--y-contrast)) h 0 l/1);
  --ig-gray-400: oklch(from var(--ig-gray-seed) 0.598 0 0);
  --ig-gray-400-contrast: hsla(from color(from var(--ig-gray-400) var(--y-contrast)) h 0 l/1);
  --ig-gray-500: oklch(from var(--ig-gray-seed) 0.5248 0 0);
  --ig-gray-500-contrast: hsla(from color(from var(--ig-gray-500) var(--y-contrast)) h 0 l/1);
  --ig-gray-600: oklch(from var(--ig-gray-seed) 0.4539 0 0);
  --ig-gray-600-contrast: hsla(from color(from var(--ig-gray-600) var(--y-contrast)) h 0 l/1);
  --ig-gray-700: oklch(from var(--ig-gray-seed) 0.3822 0 0);
  --ig-gray-700-contrast: hsla(from color(from var(--ig-gray-700) var(--y-contrast)) h 0 l/1);
  --ig-gray-800: oklch(from var(--ig-gray-seed) 0.304 0 0);
  --ig-gray-800-contrast: hsla(from color(from var(--ig-gray-800) var(--y-contrast)) h 0 l/1);
  --ig-gray-900: oklch(from var(--ig-gray-seed) 0.1999 0 0);
  --ig-gray-900-contrast: hsla(from color(from var(--ig-gray-900) var(--y-contrast)) h 0 l/1);
  --ig-gray-seed: #333;
  --ig-gray-seed-contrast: hsla(from color(from var(--ig-gray-seed) var(--y-contrast)) h 0 l/1);
  --ig-surface-50: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 1.78));
  --ig-surface-50-contrast: hsla(from color(from var(--ig-surface-50) var(--y-contrast)) h 0 l/1);
  --ig-surface-100: hsl(from var(--ig-surface-500) h calc(s * 0.8) calc(l * 1.66));
  --ig-surface-100-contrast: hsla(from color(from var(--ig-surface-100) var(--y-contrast)) h 0 l/1);
  --ig-surface-200: hsl(from var(--ig-surface-500) h calc(s * 0.64) calc(l * 1.43));
  --ig-surface-200-contrast: hsla(from color(from var(--ig-surface-200) var(--y-contrast)) h 0 l/1);
  --ig-surface-300: hsl(from var(--ig-surface-500) h calc(s * 0.73) calc(l * 1.19));
  --ig-surface-300-contrast: hsla(from color(from var(--ig-surface-300) var(--y-contrast)) h 0 l/1);
  --ig-surface-400: hsl(from var(--ig-surface-500) h calc(s * 0.875) calc(l * 1.08));
  --ig-surface-400-contrast: hsla(from color(from var(--ig-surface-400) var(--y-contrast)) h 0 l/1);
  --ig-surface-500: #fff;
  --ig-surface-500-contrast: hsla(from color(from var(--ig-surface-500) var(--y-contrast)) h 0 l/1);
  --ig-surface-600: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.89));
  --ig-surface-600-contrast: hsla(from color(from var(--ig-surface-600) var(--y-contrast)) h 0 l/1);
  --ig-surface-700: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.81));
  --ig-surface-700-contrast: hsla(from color(from var(--ig-surface-700) var(--y-contrast)) h 0 l/1);
  --ig-surface-800: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.73));
  --ig-surface-800-contrast: hsla(from color(from var(--ig-surface-800) var(--y-contrast)) h 0 l/1);
  --ig-surface-900: hsl(from var(--ig-surface-500) h calc(s * 1.26) calc(l * 0.64));
  --ig-surface-900-contrast: hsla(from color(from var(--ig-surface-900) var(--y-contrast)) h 0 l/1);
  --ig-surface-seed: #fff;
  --ig-surface-seed-contrast: hsla(from color(from var(--ig-surface-seed) var(--y-contrast)) h 0 l/1);
  --ig-surface-A100: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 1.34));
  --ig-surface-A100-contrast: hsla(from color(from var(--ig-surface-A100) var(--y-contrast)) h 0 l/1);
  --ig-surface-A200: hsl(from var(--ig-surface-500) h calc(s * 1.22) calc(l * 1.16));
  --ig-surface-A200-contrast: hsla(from color(from var(--ig-surface-A200) var(--y-contrast)) h 0 l/1);
  --ig-surface-A400: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 0.91));
  --ig-surface-A400-contrast: hsla(from color(from var(--ig-surface-A400) var(--y-contrast)) h 0 l/1);
  --ig-surface-A700: hsl(from var(--ig-surface-500) h calc(s * 1.23) calc(l * 0.65));
  --ig-surface-A700-contrast: hsla(from color(from var(--ig-surface-A700) var(--y-contrast)) h 0 l/1);
  --ig-info-50: oklch(from var(--ig-info-seed) 0.9403 min(c * 0.1374, 0.0328) h);
  --ig-info-50-contrast: hsla(from color(from var(--ig-info-50) var(--y-contrast)) h 0 l/1);
  --ig-info-100: oklch(from var(--ig-info-seed) 0.8445 min(c * 0.4283, 0.0851) h);
  --ig-info-100-contrast: hsla(from color(from var(--ig-info-100) var(--y-contrast)) h 0 l/1);
  --ig-info-200: oklch(from var(--ig-info-seed) 0.7562 min(c * 0.7275, 0.1305) h);
  --ig-info-200-contrast: hsla(from color(from var(--ig-info-200) var(--y-contrast)) h 0 l/1);
  --ig-info-300: oklch(from var(--ig-info-seed) 0.6761 min(c * 0.9394, 0.1599) h);
  --ig-info-300-contrast: hsla(from color(from var(--ig-info-300) var(--y-contrast)) h 0 l/1);
  --ig-info-400: oklch(from var(--ig-info-seed) 0.5996 min(c * 0.999, 0.167) h);
  --ig-info-400-contrast: hsla(from color(from var(--ig-info-400) var(--y-contrast)) h 0 l/1);
  --ig-info-500: oklch(from var(--ig-info-seed) 0.5266 min(c * 0.937, 0.1566) h);
  --ig-info-500-contrast: hsla(from color(from var(--ig-info-500) var(--y-contrast)) h 0 l/1);
  --ig-info-600: oklch(from var(--ig-info-seed) 0.4555 min(c * 0.8148, 0.1387) h);
  --ig-info-600-contrast: hsla(from color(from var(--ig-info-600) var(--y-contrast)) h 0 l/1);
  --ig-info-700: oklch(from var(--ig-info-seed) 0.3833 min(c * 0.6562, 0.1177) h);
  --ig-info-700-contrast: hsla(from color(from var(--ig-info-700) var(--y-contrast)) h 0 l/1);
  --ig-info-800: oklch(from var(--ig-info-seed) 0.3045 min(c * 0.4716, 0.0937) h);
  --ig-info-800-contrast: hsla(from color(from var(--ig-info-800) var(--y-contrast)) h 0 l/1);
  --ig-info-900: oklch(from var(--ig-info-seed) 0.2 min(c * 0.2596, 0.0616) h);
  --ig-info-900-contrast: hsla(from color(from var(--ig-info-900) var(--y-contrast)) h 0 l/1);
  --ig-info-seed: #1377d5;
  --ig-info-seed-contrast: hsla(from color(from var(--ig-info-seed) var(--y-contrast)) h 0 l/1);
  --ig-info-A100: oklch(from var(--ig-info-seed) 0.8875 min(c * 0.3701, 0.0618) h);
  --ig-info-A100-contrast: hsla(from color(from var(--ig-info-A100) var(--y-contrast)) h 0 l/1);
  --ig-info-A200: oklch(from var(--ig-info-seed) 0.7102 min(c * 0.9445, 0.1577) h);
  --ig-info-A200-contrast: hsla(from color(from var(--ig-info-A200) var(--y-contrast)) h 0 l/1);
  --ig-info-A400: oklch(from var(--ig-info-seed) 0.5873 min(c * 1.0634, 0.1775) h);
  --ig-info-A400-contrast: hsla(from color(from var(--ig-info-A400) var(--y-contrast)) h 0 l/1);
  --ig-info-A700: oklch(from var(--ig-info-seed) 0.4945 min(c * 0.9117, 0.1522) h);
  --ig-info-A700-contrast: hsla(from color(from var(--ig-info-A700) var(--y-contrast)) h 0 l/1);
  --ig-success-50: oklch(from var(--ig-success-seed) 0.9325 min(c * 0.4533, 0.1325) h);
  --ig-success-50-contrast: hsla(from color(from var(--ig-success-50) var(--y-contrast)) h 0 l/1);
  --ig-success-100: oklch(from var(--ig-success-seed) 0.8312 min(c * 0.9418, 0.2294) h);
  --ig-success-100-contrast: hsla(from color(from var(--ig-success-100) var(--y-contrast)) h 0 l/1);
  --ig-success-200: oklch(from var(--ig-success-seed) 0.7415 min(c * 0.9822, 0.2159) h);
  --ig-success-200-contrast: hsla(from color(from var(--ig-success-200) var(--y-contrast)) h 0 l/1);
  --ig-success-300: oklch(from var(--ig-success-seed) 0.6595 min(c * 0.9259, 0.1932) h);
  --ig-success-300-contrast: hsla(from color(from var(--ig-success-300) var(--y-contrast)) h 0 l/1);
  --ig-success-400: oklch(from var(--ig-success-seed) 0.584 min(c * 0.8359, 0.1713) h);
  --ig-success-400-contrast: hsla(from color(from var(--ig-success-400) var(--y-contrast)) h 0 l/1);
  --ig-success-500: oklch(from var(--ig-success-seed) 0.5124 min(c * 0.7337, 0.1503) h);
  --ig-success-500-contrast: hsla(from color(from var(--ig-success-500) var(--y-contrast)) h 0 l/1);
  --ig-success-600: oklch(from var(--ig-success-seed) 0.4435 min(c * 0.6237, 0.1301) h);
  --ig-success-600-contrast: hsla(from color(from var(--ig-success-600) var(--y-contrast)) h 0 l/1);
  --ig-success-700: oklch(from var(--ig-success-seed) 0.3739 min(c * 0.4991, 0.1097) h);
  --ig-success-700-contrast: hsla(from color(from var(--ig-success-700) var(--y-contrast)) h 0 l/1);
  --ig-success-800: oklch(from var(--ig-success-seed) 0.2979 min(c * 0.3588, 0.0874) h);
  --ig-success-800-contrast: hsla(from color(from var(--ig-success-800) var(--y-contrast)) h 0 l/1);
  --ig-success-900: oklch(from var(--ig-success-seed) 0.1966 min(c * 0.1983, 0.0577) h);
  --ig-success-900-contrast: hsla(from color(from var(--ig-success-900) var(--y-contrast)) h 0 l/1);
  --ig-success-seed: #4eb862;
  --ig-success-seed-contrast: hsla(from color(from var(--ig-success-seed) var(--y-contrast)) h 0 l/1);
  --ig-success-A100: oklch(from var(--ig-success-seed) 0.8646 min(c * 1.5195, 0.239) h);
  --ig-success-A100-contrast: hsla(from color(from var(--ig-success-A100) var(--y-contrast)) h 0 l/1);
  --ig-success-A200: oklch(from var(--ig-success-seed) 0.6871 min(c * 1.282, 0.2016) h);
  --ig-success-A200-contrast: hsla(from color(from var(--ig-success-A200) var(--y-contrast)) h 0 l/1);
  --ig-success-A400: oklch(from var(--ig-success-seed) 0.5678 min(c * 1.0593, 0.1666) h);
  --ig-success-A400-contrast: hsla(from color(from var(--ig-success-A400) var(--y-contrast)) h 0 l/1);
  --ig-success-A700: oklch(from var(--ig-success-seed) 0.4777 min(c * 0.8913, 0.1402) h);
  --ig-success-A700-contrast: hsla(from color(from var(--ig-success-A700) var(--y-contrast)) h 0 l/1);
  --ig-warn-50: oklch(from var(--ig-warn-seed) 0.946 min(c * 0.1898, 0.0446) h);
  --ig-warn-50-contrast: hsla(from color(from var(--ig-warn-50) var(--y-contrast)) h 0 l/1);
  --ig-warn-100: oklch(from var(--ig-warn-seed) 0.8514 min(c * 0.5993, 0.1174) h);
  --ig-warn-100-contrast: hsla(from color(from var(--ig-warn-100) var(--y-contrast)) h 0 l/1);
  --ig-warn-200: oklch(from var(--ig-warn-seed) 0.7625 min(c * 0.8418, 0.1487) h);
  --ig-warn-200-contrast: hsla(from color(from var(--ig-warn-200) var(--y-contrast)) h 0 l/1);
  --ig-warn-300: oklch(from var(--ig-warn-seed) 0.6821 min(c * 0.8564, 0.1436) h);
  --ig-warn-300-contrast: hsla(from color(from var(--ig-warn-300) var(--y-contrast)) h 0 l/1);
  --ig-warn-400: oklch(from var(--ig-warn-seed) 0.6046 min(c * 0.7864, 0.1295) h);
  --ig-warn-400-contrast: hsla(from color(from var(--ig-warn-400) var(--y-contrast)) h 0 l/1);
  --ig-warn-500: oklch(from var(--ig-warn-seed) 0.5307 min(c * 0.6932, 0.1142) h);
  --ig-warn-500-contrast: hsla(from color(from var(--ig-warn-500) var(--y-contrast)) h 0 l/1);
  --ig-warn-600: oklch(from var(--ig-warn-seed) 0.4588 min(c * 0.5893, 0.0988) h);
  --ig-warn-600-contrast: hsla(from color(from var(--ig-warn-600) var(--y-contrast)) h 0 l/1);
  --ig-warn-700: oklch(from var(--ig-warn-seed) 0.3861 min(c * 0.4709, 0.0832) h);
  --ig-warn-700-contrast: hsla(from color(from var(--ig-warn-700) var(--y-contrast)) h 0 l/1);
  --ig-warn-800: oklch(from var(--ig-warn-seed) 0.3066 min(c * 0.3375, 0.0661) h);
  --ig-warn-800-contrast: hsla(from color(from var(--ig-warn-800) var(--y-contrast)) h 0 l/1);
  --ig-warn-900: oklch(from var(--ig-warn-seed) 0.2013 min(c * 0.1855, 0.0434) h);
  --ig-warn-900-contrast: hsla(from color(from var(--ig-warn-900) var(--y-contrast)) h 0 l/1);
  --ig-warn-seed: #faa419;
  --ig-warn-seed-contrast: hsla(from color(from var(--ig-warn-seed) var(--y-contrast)) h 0 l/1);
  --ig-warn-A100: oklch(from var(--ig-warn-seed) 0.8951 min(c * 0.5269, 0.0867) h);
  --ig-warn-A100-contrast: hsla(from color(from var(--ig-warn-A100) var(--y-contrast)) h 0 l/1);
  --ig-warn-A200: oklch(from var(--ig-warn-seed) 0.716 min(c * 0.9343, 0.1537) h);
  --ig-warn-A200-contrast: hsla(from color(from var(--ig-warn-A200) var(--y-contrast)) h 0 l/1);
  --ig-warn-A400: oklch(from var(--ig-warn-seed) 0.5917 min(c * 0.7753, 0.1275) h);
  --ig-warn-A400-contrast: hsla(from color(from var(--ig-warn-A400) var(--y-contrast)) h 0 l/1);
  --ig-warn-A700: oklch(from var(--ig-warn-seed) 0.4975 min(c * 0.6519, 0.1072) h);
  --ig-warn-A700-contrast: hsla(from color(from var(--ig-warn-A700) var(--y-contrast)) h 0 l/1);
  --ig-error-50: oklch(from var(--ig-error-seed) 0.9437 min(c * 0.1091, 0.0389) h);
  --ig-error-50-contrast: hsla(from color(from var(--ig-error-50) var(--y-contrast)) h 0 l/1);
  --ig-error-100: oklch(from var(--ig-error-seed) 0.8569 min(c * 0.3324, 0.0989) h);
  --ig-error-100-contrast: hsla(from color(from var(--ig-error-100) var(--y-contrast)) h 0 l/1);
  --ig-error-200: oklch(from var(--ig-error-seed) 0.7808 min(c * 0.5577, 0.1498) h);
  --ig-error-200-contrast: hsla(from color(from var(--ig-error-200) var(--y-contrast)) h 0 l/1);
  --ig-error-300: oklch(from var(--ig-error-seed) 0.6973 min(c * 0.7678, 0.1957) h);
  --ig-error-300-contrast: hsla(from color(from var(--ig-error-300) var(--y-contrast)) h 0 l/1);
  --ig-error-400: oklch(from var(--ig-error-seed) 0.6245 min(c * 0.8568, 0.2144) h);
  --ig-error-400-contrast: hsla(from color(from var(--ig-error-400) var(--y-contrast)) h 0 l/1);
  --ig-error-500: oklch(from var(--ig-error-seed) 0.5505 min(c * 0.8337, 0.2087) h);
  --ig-error-500-contrast: hsla(from color(from var(--ig-error-500) var(--y-contrast)) h 0 l/1);
  --ig-error-600: oklch(from var(--ig-error-seed) 0.477 min(c * 0.7366, 0.1877) h);
  --ig-error-600-contrast: hsla(from color(from var(--ig-error-600) var(--y-contrast)) h 0 l/1);
  --ig-error-700: oklch(from var(--ig-error-seed) 0.4009 min(c * 0.5955, 0.1599) h);
  --ig-error-700-contrast: hsla(from color(from var(--ig-error-700) var(--y-contrast)) h 0 l/1);
  --ig-error-800: oklch(from var(--ig-error-seed) 0.3173 min(c * 0.427, 0.1271) h);
  --ig-error-800-contrast: hsla(from color(from var(--ig-error-800) var(--y-contrast)) h 0 l/1);
  --ig-error-900: oklch(from var(--ig-error-seed) 0.207 min(c * 0.2336, 0.083) h);
  --ig-error-900-contrast: hsla(from color(from var(--ig-error-900) var(--y-contrast)) h 0 l/1);
  --ig-error-seed: #ff134a;
  --ig-error-seed-contrast: hsla(from color(from var(--ig-error-seed) var(--y-contrast)) h 0 l/1);
  --ig-error-A100: oklch(from var(--ig-error-seed) 0.8969 min(c * 0.2421, 0.0714) h);
  --ig-error-A100-contrast: hsla(from color(from var(--ig-error-A100) var(--y-contrast)) h 0 l/1);
  --ig-error-A200: oklch(from var(--ig-error-seed) 0.7402 min(c * 0.7178, 0.1794) h);
  --ig-error-A200-contrast: hsla(from color(from var(--ig-error-A200) var(--y-contrast)) h 0 l/1);
  --ig-error-A400: oklch(from var(--ig-error-seed) 0.6138 min(c * 0.9349, 0.2337) h);
  --ig-error-A400-contrast: hsla(from color(from var(--ig-error-A400) var(--y-contrast)) h 0 l/1);
  --ig-error-A700: oklch(from var(--ig-error-seed) 0.5186 min(c * 0.8298, 0.2074) h);
  --ig-error-A700-contrast: hsla(from color(from var(--ig-error-A700) var(--y-contrast)) h 0 l/1);
}

lands-on {
  primary: "300";
  secondary: "A400";
}
