.a {
  --ig-primary-seed: #09f;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9402 min(c * 0.1264, 0.0232) calc(h + 6.804));
  --raw-50: rgb(225, 236, 251);
  --expr-100: oklch(from var(--ig-primary-seed) 0.844 min(c * 0.3941, 0.0724) calc(h + 4.879));
  --raw-100: rgb(171, 207, 251);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7551 min(c * 0.6602, 0.1213) calc(h + 3.103));
  --raw-200: rgb(116, 180, 250);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6742 min(c * 0.8212, 0.1508) calc(h + 1.484));
  --raw-300: rgb(67, 155, 239);
  --expr-400: oklch(from var(--ig-primary-seed) 0.5973 min(c * 0.8367, 0.1537) h);
  --raw-400: rgb(27, 131, 214);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5244 min(c * 0.7664, 0.1408) h);
  --raw-500: rgb(9, 109, 183);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4535 min(c * 0.6602, 0.1213) h);
  --raw-600: rgb(7, 89, 150);
  --expr-700: oklch(from var(--ig-primary-seed) 0.3818 min(c * 0.5301, 0.0974) h);
  --raw-700: rgb(11, 69, 116);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3034 min(c * 0.3808, 0.0699) h);
  --raw-800: rgb(12, 48, 80);
  --expr-900: oklch(from var(--ig-primary-seed) 0.2004 min(c * 0.2097, 0.0385) h);
  --raw-900: rgb(7, 23, 39);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.889 min(c * 0.3037, 0.0558) calc(h + 2.817));
  --raw-A100: rgb(192, 222, 255);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.7075 min(c * 0.8606, 0.1581) calc(h + 2.149));
  --raw-A200: rgb(74, 165, 255);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.5847 min(c * 0.8681, 0.1595) h);
  --raw-A400: rgb(4, 127, 213);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.4923 min(c * 0.7355, 0.1351) h);
  --raw-A700: rgb(0, 100, 169);
}

.b {
  --ig-primary-seed: #df1b74;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9439 min(c * 0.1274, 0.029) h);
  --raw-50: rgb(254, 229, 235);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8579 min(c * 0.3639, 0.0828) calc(h - 0.806));
  --raw-100: rgb(255, 186, 205);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7764 min(c * 0.6247, 0.1421) calc(h - 0.949));
  --raw-200: rgb(255, 141, 177);
  --expr-300: oklch(from var(--ig-primary-seed) 0.7011 min(c * 0.8788, 0.1999) h);
  --raw-300: rgb(253, 93, 150);
  --expr-400: oklch(from var(--ig-primary-seed) 0.6267 min(c * 0.9712, 0.221) h);
  --raw-400: rgb(233, 52, 127);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5522 min(c * 0.9342, 0.2125) h);
  --raw-500: rgb(203, 23, 105);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4784 min(c * 0.8203, 0.1866) h);
  --raw-600: rgb(169, 13, 86);
  --expr-700: oklch(from var(--ig-primary-seed) 0.402 min(c * 0.6615, 0.1505) h);
  --raw-700: rgb(131, 16, 66);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3181 min(c * 0.4739, 0.1078) h);
  --raw-800: rgb(91, 17, 46);
  --expr-900: oklch(from var(--ig-primary-seed) 0.2085 min(c * 0.2592, 0.059) h);
  --raw-900: rgb(44, 10, 22);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.9072 min(c * 0.231, 0.0526) calc(h + 356.496));
  --raw-A100: rgb(255, 211, 224);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.7302 min(c * 0.7981, 0.1816) calc(h - 1.535));
  --raw-A200: rgb(255, 111, 163);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.616 min(c * 1.053, 0.2396) h);
  --raw-A400: rgb(236, 25, 123);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.5201 min(c * 0.9218, 0.2097) h);
  --raw-A700: rgb(191, 1, 96);
}

.c {
  --ig-primary-seed: #faa419;
  --expr-50: oklch(from var(--ig-primary-seed) 0.946 min(c * 0.1898, 0.0312) h);
  --raw-50: rgb(251, 234, 215);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8514 min(c * 0.5993, 0.0986) h);
  --raw-100: rgb(247, 196, 134);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7625 min(c * 0.8418, 0.1385) h);
  --raw-200: rgb(233, 161, 64);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6821 min(c * 0.8564, 0.1409) h);
  --raw-300: rgb(207, 136, 24);
  --expr-400: oklch(from var(--ig-primary-seed) 0.6046 min(c * 0.7864, 0.1294) h);
  --raw-400: rgb(177, 114, 4);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5307 min(c * 0.6932, 0.114) h);
  --raw-500: rgb(149, 95, 1);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4588 min(c * 0.5893, 0.0969) h);
  --raw-600: rgb(121, 77, 4);
  --expr-700: oklch(from var(--ig-primary-seed) 0.3861 min(c * 0.4709, 0.0775) h);
  --raw-700: rgb(94, 60, 9);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3066 min(c * 0.3375, 0.0555) h);
  --raw-800: rgb(65, 42, 11);
  --expr-900: oklch(from var(--ig-primary-seed) 0.2023 min(c * 0.1855, 0.0305) h);
  --raw-900: rgb(31, 20, 6);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.8928 min(c * 0.5171, 0.0851) calc(h + 1.537));
  --raw-A100: rgb(255, 211, 157);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.716 min(c * 0.9343, 0.1537) h);
  --raw-A200: rgb(222, 144, 4);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.5917 min(c * 0.7753, 0.1275) h);
  --raw-A400: rgb(172, 110, 0);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.4975 min(c * 0.6519, 0.1072) h);
  --raw-A700: rgb(136, 86, 0);
}

.d {
  --ig-primary-seed: #ffe9b0;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9401 min(c * 0.6808, 0.0522) h);
  --raw-50: rgb(249, 234, 196);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8453 min(c * 1.6622, 0.1273) h);
  --raw-100: rgb(237, 200, 98);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7574 min(c * 1.8285, 0.1401) h);
  --raw-200: rgb(211, 171, 49);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6762 min(c * 1.7413, 0.1334) h);
  --raw-300: rgb(184, 146, 21);
  --expr-400: oklch(from var(--ig-primary-seed) 0.5992 min(c * 1.5749, 0.1207) h);
  --raw-400: rgb(157, 123, 7);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5259 min(c * 1.383, 0.1059) h);
  --raw-500: rgb(131, 103, 5);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4548 min(c * 1.1747, 0.09) h);
  --raw-600: rgb(106, 83, 7);
  --expr-700: oklch(from var(--ig-primary-seed) 0.3829 min(c * 0.9388, 0.0719) h);
  --raw-700: rgb(82, 65, 11);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3043 min(c * 0.6733, 0.0516) h);
  --raw-800: rgb(57, 45, 12);
  --expr-900: oklch(from var(--ig-primary-seed) 0.201 min(c * 0.3707, 0.0284) h);
  --raw-900: rgb(27, 22, 7);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.887 min(c * 1.8368, 0.1407) h);
  --raw-A100: rgb(255, 213, 97);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.7096 min(c * 1.8927, 0.145) h);
  --raw-A200: rgb(197, 156, 0);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.5864 min(c * 1.5641, 0.1198) h);
  --raw-A400: rgb(152, 120, 0);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.4936 min(c * 1.3166, 0.1009) h);
  --raw-A700: rgb(120, 94, 0);
}

.e {
  --ig-primary-seed: #141225;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9452 min(c * 0.2038, 0.0077) calc(h + 13.042));
  --raw-50: rgb(237, 236, 241);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8463 min(c * 0.6855, 0.0258) calc(h + 9.779));
  --raw-100: rgb(206, 201, 220);
  --expr-200: oklch(from var(--ig-primary-seed) 0.759 min(c * 1.1884, 0.0448) calc(h + 6.898));
  --raw-200: rgb(178, 172, 203);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6794 min(c * 1.6473, 0.0621) calc(h + 4.27));
  --raw-300: rgb(152, 146, 188);
  --expr-400: oklch(from var(--ig-primary-seed) 0.6023 min(c * 2.0078, 0.0757) calc(h + 1.727));
  --raw-400: rgb(127, 122, 172);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5299 min(c * 2.1791, 0.0821) h);
  --raw-500: rgb(105, 100, 153);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4595 min(c * 2.1031, 0.0793) h);
  --raw-600: rgb(85, 80, 130);
  --expr-700: oklch(from var(--ig-primary-seed) 0.3869 min(c * 1.7868, 0.0674) h);
  --raw-700: rgb(66, 62, 102);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3074 min(c * 1.3116, 0.0494) h);
  --raw-800: rgb(46, 44, 71);
  --expr-900: oklch(from var(--ig-primary-seed) 0.2027 min(c * 0.7261, 0.0274) h);
  --raw-900: rgb(22, 21, 35);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.8949 min(c * 1.5789, 0.0595) calc(h + 12.128));
  --raw-A100: rgb(225, 212, 255);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.7203 min(c * 4.2713, 0.161) calc(h + 6.223));
  --raw-A200: rgb(170, 142, 255);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.6077 min(c * 6.0798, 0.2292) calc(h + 2.297));
  --raw-A400: rgb(134, 92, 255);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.5244 min(c * 7.1002, 0.2676) h);
  --raw-A700: rgb(109, 46, 247);
}

.f {
  --ig-primary-seed: #00ff00;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9305 min(c * 0.3595, 0.106) h);
  --raw-50: rgb(191, 251, 185);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8227 min(c * 0.7525, 0.2219) h);
  --raw-100: rgb(93, 231, 85);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7358 min(c * 0.784, 0.2312) h);
  --raw-200: rgb(47, 203, 42);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6543 min(c * 0.7392, 0.2179) h);
  --raw-300: rgb(17, 175, 14);
  --expr-400: oklch(from var(--ig-primary-seed) 0.5793 min(c * 0.6674, 0.1968) h);
  --raw-400: rgb(1, 149, 1);
  --expr-500: oklch(from var(--ig-primary-seed) 0.5083 min(c * 0.5858, 0.1727) h);
  --raw-500: rgb(1, 124, 0);
  --expr-600: oklch(from var(--ig-primary-seed) 0.4397 min(c * 0.4977, 0.1467) h);
  --raw-600: rgb(5, 101, 4);
  --expr-700: oklch(from var(--ig-primary-seed) 0.371 min(c * 0.3987, 0.1175) h);
  --raw-700: rgb(11, 78, 9);
  --expr-800: oklch(from var(--ig-primary-seed) 0.2958 min(c * 0.2868, 0.0846) h);
  --raw-800: rgb(13, 55, 11);
  --expr-900: oklch(from var(--ig-primary-seed) 0.1964 min(c * 0.1586, 0.0468) h);
  --raw-900: rgb(7, 26, 6);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.8632 min(c * 0.9255, 0.2729) h);
  --raw-A100: rgb(58, 251, 52);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.686 min(c * 0.7917, 0.2334) h);
  --raw-A200: rgb(0, 187, 0);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.5668 min(c * 0.6542, 0.1929) h);
  --raw-A400: rgb(0, 144, 0);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.4769 min(c * 0.5504, 0.1623) h);
  --raw-A700: rgb(0, 114, 0);
}

.g {
  --ig-primary-seed: #a99bb0;
  --expr-50: oklch(from var(--ig-primary-seed) 0.9458 min(c * 0.2673, 0.0091) calc(h + 6.917));
  --raw-50: rgb(240, 235, 241);
  --expr-100: oklch(from var(--ig-primary-seed) 0.8503 min(c * 0.8851, 0.0301) calc(h + 5.006));
  --raw-100: rgb(215, 200, 218);
  --expr-200: oklch(from var(--ig-primary-seed) 0.7632 min(c * 1.5308, 0.052) calc(h + 3.263));
  --raw-200: rgb(192, 168, 200);
  --expr-300: oklch(from var(--ig-primary-seed) 0.6828 min(c * 2.0471, 0.0695) calc(h + 1.655));
  --raw-300: rgb(170, 140, 182);
  --expr-400: oklch(from var(--ig-primary-seed) 0.6055 min(c * 2.2731, 0.0772) calc(h + 0.11));
  --raw-400: rgb(147, 116, 162);
  --expr-500: oklch(from var(--ig-primary-seed) 0.533 min(c * 2.1964, 0.0746) h);
  --raw-500: rgb(125, 95, 139);
  --expr-600: oklch(from var(--ig-primary-seed) 0.461 min(c * 1.935, 0.0657) h);
  --raw-600: rgb(102, 77, 114);
  --expr-700: oklch(from var(--ig-primary-seed) 0.3879 min(c * 1.5661, 0.0532) h);
  --raw-700: rgb(79, 60, 88);
  --expr-800: oklch(from var(--ig-primary-seed) 0.3081 min(c * 1.127, 0.0383) h);
  --raw-800: rgb(55, 42, 61);
  --expr-900: oklch(from var(--ig-primary-seed) 0.2031 min(c * 0.6201, 0.0211) h);
  --raw-900: rgb(26, 20, 29);
  --expr-A100: oklch(from var(--ig-primary-seed) 0.8992 min(c * 2.3677, 0.0804) calc(h + 5.985));
  --raw-A100: rgb(247, 205, 255);
  --expr-A200: oklch(from var(--ig-primary-seed) 0.7351 min(c * 6.2159, 0.211) calc(h + 2.701));
  --raw-A200: rgb(221, 119, 255);
  --expr-A400: oklch(from var(--ig-primary-seed) 0.6216 min(c * 8.2185, 0.279) calc(h + 0.431));
  --raw-A400: rgb(194, 45, 246);
  --expr-A700: oklch(from var(--ig-primary-seed) 0.5279 min(c * 7.6261, 0.2589) h);
  --raw-A700: rgb(159, 4, 206);
}
