@use 'sass:map';
@use '../sass/color' as *;
$seeds: ('a': #09f, 'b': #df1b74, 'c': #faa419, 'd': #ffe9b0, 'e': #141225, 'f': #00ff00, 'g': #a99bb0);
@each $k, $seed in $seeds {
  $p: palette($primary: $seed, $secondary: $seed, $surface: #fff, $variant: 't');
  $shades: map.get($p, 'primary');
  .#{$k} {
    --ig-primary-seed: #{$seed};
    @each $v in ('50','100','200','300','400','500','600','700','800','900','A100','A200','A400','A700') {
      --expr-#{$v}: #{map.get($shades, $v)};
      --raw-#{$v}: #{map.get($shades, '#{$v}-raw')};
    }
  }
}
