$_variable-prefix: null !default;
$_element-prefix: null !default;

@mixin configure-variable-prefix($value) {
    @if $value {
        $_prefix: $value !global;
    }
}

@mixin configure-element-prefix($value) {
    @if $value {
        $_prefix: $value !global;
    }
}

@function variable-prefix() {
    @return $_variable-prefix or 'igx';
}

@function element-prefix() {
    @return $_element-prefix or 'igx';
}
