////
/// @package theming
/// @group Typography
////

/// A list consisting of 13 different category type styles
/// @type List
/// @access private
$ITypeScale: (h1, h2, h3, h4, h5, h6, subtitle-1, subtitle-2, body-1, body-2, button, caption, overline);

/// A set of style rules for all categories
/// @type Map
/// @access private
$ITypeStyle: (
    font-family: inherit,
    font-size: null,
    font-weight: normal,
    font-style: normal,
    line-height: normal,
    letter-spacing: normal,
    text-transform: none,
    margin-top: 0,
    margin-bottom: 0,
);

/// A list of all category type styles that can be maped to native elements
/// @type Map
/// @access private
$IElementCategories: (
    h1: 'h1',
    h2: 'h2',
    h3: 'h3',
    h4: 'h4',
    h5: 'h5',
    h6: 'h6',
    body-1: 'p',
);
