@use 'sass:map';
@use '../../config';
@use '../../functions' as *;
@use '../../schemas/' as *;
@use '../../../utils/map' as *;
@use '../../../color/functions' as *;
@use '../../../elevations/' as *;

////
/// @group themes
/// @package theming
/// @access public
/// @author <a href="https://github.com/simeonoff" target="_blank">Simeon Simeonoff</a>
////

/// @param {Map} $schema [$light-material-schema] - The schema used as basis for styling the component.
@function pivot-data-selector-theme($schema: $light-material-schema, $background: null) {
    $selector: '.igx-pivot-data-selector';
    $pivot-data-selector-schema: ();

    @if map.has-key($schema, 'pivot-data-selector') {
        $pivot-data-selector-schema: map.get($schema, 'pivot-data-selector');
    } @else {
        $pivot-data-selector-schema: $schema;
    }

    $theme: digest-schema($pivot-data-selector-schema);

    @return extend(
        $theme,
        (
            selector: $selector,
        )
    );
}
