@use "sass:color";
a {
  --g1: #{oklch(70% 0.15 250)};
  --g3: #{color(display-p3 1 0 0)};
  --g4: #{lab(50% 40 -30)};
  --g5: #{lch(50% 40 250)};
  --g6: #{oklab(0.7 0.1 -0.1)};
  --g7: #{hwb(120 20% 30%)};
}
