@use "sass:color";
@use "sass:math";
@use "sass:meta";
@use "sass:list";

$c: #3f51b5;
a {
  --space: #{color.space($c)};
  --to-oklch: #{color.to-space($c, oklch)};
  --l: #{color.channel($c, "lightness", $space: oklch)};
  --c: #{color.channel($c, "chroma", $space: oklch)};
  --h: #{color.channel($c, "hue", $space: oklch)};
  --lab-a: #{color.channel($c, "a", $space: oklab)};
  --xyz: #{color.to-space($c, xyz)};
  --xyzd65: #{color.to-space($c, xyz-d65)};
  --xyzd50: #{color.to-space($c, xyz-d50)};
  --p3: #{color.to-space($c, display-p3)};
  --a98: #{color.to-space($c, a98-rgb)};
  --rec: #{color.to-space($c, rec2020)};
  --prophoto: #{color.to-space($c, prophoto-rgb)};
  --srgb-lin: #{color.to-space($c, srgb-linear)};
  --hwb: #{color.to-space($c, hwb)};
  --lch: #{color.to-space($c, lch)};
  --legacy: #{color.is-legacy($c)};
  --legacy2: #{color.is-legacy(color.to-space($c, oklch))};
  --raw-oklch: #{oklch(70% 0.2 250)};
  --ingamut: #{color.is-in-gamut(oklch(70% 0.4 250), srgb)};
  --gamut-minde: #{color.to-gamut(oklch(70% 0.4 250), srgb, local-minde)};
  --gamut-clip: #{color.to-gamut(oklch(70% 0.4 250), srgb, clip)};
  --mix-oklch: #{color.mix(red, blue, 50%, oklch)};
  --mix-legacy: #{color.mix(red, blue, 50%)};
  --scale: #{color.scale($c, $lightness: 20%, $space: oklch)};
  --adjust: #{color.adjust($c, $chroma: 0.05, $space: oklch)};
  --change: #{color.change($c, $lightness: 0.8, $space: oklch)};
}
