////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} picker-elevation [24] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
$material-elevation-color-picker: (
    picker-elevation: 24,
);

/// @type Map
/// @prop {Number} picker-elevation [24] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
$fluent-elevation-color-picker: (
    picker-elevation: 24,
);

/// @type Map
/// @prop {Number} picker-elevation [0] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
$bootstrap-elevation-color-picker: (
    picker-elevation: 0,
);

/// @type Map
/// @prop {Number} picker-elevation [24] - The elevation level, between 0-24, to be used for the color picker dropdown shadow.
$indigo-elevation-color-picker: (
    picker-elevation: 2,
);
