@use 'sass:map';
@use 'charts';
@use 'components';

$light-material-schema: map.merge(charts.$light-material-schema, components.$light-material-schema);
$light-bootstrap-schema: map.merge(charts.$light-bootstrap-schema, components.$light-bootstrap-schema);
$light-fluent-schema: map.merge(charts.$light-fluent-schema, components.$light-fluent-schema);
$light-indigo-schema: map.merge(charts.$light-indigo-schema, components.$light-indigo-schema);
$dark-material-schema: map.merge(charts.$dark-material-schema, components.$dark-material-schema);
$dark-bootstrap-schema: map.merge(charts.$dark-bootstrap-schema, components.$dark-bootstrap-schema);
$dark-fluent-schema: map.merge(charts.$dark-fluent-schema, components.$dark-fluent-schema);
$dark-indigo-schema: map.merge(charts.$dark-indigo-schema, components.$dark-indigo-schema);
