@use '../../functions' as *;

////
/// @package theming
/// @group palettes
/// @access public
////

/// Generates the dark green palette.
/// @type Map
/// @name dark-green-palette
/// @prop {Color} primary [#09f] - The primary color
/// @prop {Color} secondary [#72da67] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#222] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#4eb862] - The success color
/// @prop {Color} warn [#fbb13c] - The warn color
/// @prop {Color} error [#ff134a] - The error color
$green-palette: palette(
    $primary: #09f,
    $secondary: #72da67,
    $surface: #222,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);

/// Generates the dark purple palette.
/// @type Map
/// @name dark-purple-palette
/// @prop {Color} primary [#00b4d6] - The primary color
/// @prop {Color} secondary [#514590] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#333] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#4eb862] - The success color
/// @prop {Color} warn [#fbb13c] - The warn color
/// @prop {Color} error [#ff134a] - The error color
$purple-palette: palette(
    $primary: #00b4d6,
    $secondary: #514590,
    $surface: #333,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);
