@use '../../functions' as *;

$green-palette: palette(
    $primary: #09f,
    $secondary: #72da67,
    $surface: #222,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);
$purple-palette: palette(
    $primary: #00b4d6,
    $secondary: #514590,
    $surface: #333,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #fbb13c,
    $error: #ff134a,
);
