@use '../../functions' as *;

////
/// @package theming
/// @group palettes
/// @access public
////

/// Generates the dark fluent palette.
/// @type Map
/// @name dark-fluent-palette
/// @prop {Color} primary [#0078d4] - The primary color
/// @prop {Color} secondary [#2b88d8] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#1b1b1b] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$palette: palette(
    $primary: #0078d4,
    $secondary: #2b88d8,
    $surface: #1b1b1b,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent',
);

/// Generates the dark fluent word palette.
/// @type Map
/// @name dark-fluent-word-palette
/// @prop {Color} primary [#2b579a] - The primary color
/// @prop {Color} secondary [#2b579a] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#1b1b1b] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$word-palette: palette(
    $primary: #2b579a,
    $secondary: #2b579a,
    $surface: #1b1b1b,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent',
);

/// Generates the dark fluent excel palette.
/// @type Map
/// @name dark-fluent-excel-palette
/// @prop {Color} primary [#217346] - The primary color
/// @prop {Color} secondary [#217346] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#1b1b1b] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#107c10] - The success color
/// @prop {Color} warn [#797673] - The warn color
/// @prop {Color} error [#a80000] - The error color
$excel-palette: palette(
    $primary: #217346,
    $secondary: #217346,
    $surface: #1b1b1b,
    $info: #1377d5,
    $success: #107c10,
    $warn: #797673,
    $error: #a80000,
    $variant: 'fluent',
);
