@use '../../functions' as *;

////
/// @package theming
/// @group palettes
/// @access public
////

/// Generates the dark material palette.
/// @type Map
/// @name dark-material-palette
/// @prop {Color} primary [#09f] - The primary color
/// @prop {Color} secondary [#df1b74] - The secondary color
/// @prop {Color} gray [#fff] - The gray color
/// @prop {Color} surface [#222] - The surface color
/// @prop {Color} info [#1377d5] - The info color
/// @prop {Color} success [#4eb862] - The success color
/// @prop {Color} warn [#faa419] - The warn color
/// @prop {Color} error [#ff134a] - The error color
$palette: palette(
    $primary: #09f,
    $secondary: #df1b74,
    $surface: #222,
    $info: #1377d5,
    $success: #4eb862,
    $warn: #faa419,
    $error: #ff134a,
    $variant: 'material',
);
