////
/// @package theming
/// @group schemas
/// @access public
////

/// @type Map
/// @prop {Number} elevation [0] - The elevation level, between 0-24, to be used for the tooltip.
$default-elevation-tooltip: (
    elevation: 0,
);

/// @type Map
/// @prop {Number} elevation [8] - The elevation level, between 0-24, to be used for the tooltip.
$indigo-elevation-tooltip: (
    elevation: 8,
);

/// @type Map
/// @prop {Number} elevation [9] - The elevation level, between 0-24, to be used for the tooltip.
$dark-indigo-elevation-tooltip: (
    elevation: 9,
);
