@use '../../functions' as *;
@use '../../types';

////
/// @package theming
/// @group palettes
/// @access public
////

$color-shades: types.$IColorShades;
$surface-shades: shades('surface', #f8f8fa, $color-shades);

/// Generates the light indigo palette.
/// @type Map
/// @name light-indigo-palette
/// @prop {Color} primary [#3f51b5] - The 500 variant of the primary color.
/// @prop {Color} secondary [#3f51b5] - The 500 variant of the secondary color.
/// @prop {Color} gray [#9a9da2] - The 500 variant of the gray color.
/// @prop {Color} info [#9c27b0] - The 500 variant of the info color.
/// @prop {Color} success [#689f38] - The 500 variant of the success color.
/// @prop {Color} warn [#f56b1d] - The 500 variant of the warn color.
/// @prop {Color} error [#cf1a2b] - The 500 variant of the error color.
/// @prop {Color} surface [#f8f8fa] - The surface color.
$palette: (
    'primary': (
        '50': #c5cdff,
        '50-contrast': black,
        '100': #a3aff6,
        '100-contrast': black,
        '200': #8293f8,
        '200-contrast': black,
        '300': #7385f4,
        '300-contrast': black,
        '400': #5468d9,
        '400-contrast': black,
        '500': #3f51b5,
        '500-contrast': white,
        '600': #39479c,
        '600-contrast': white,
        '700': #333d83,
        '700-contrast': white,
        '800': #2e3172,
        '800-contrast': white,
        '900': #262851,
        '900-contrast': white,
        'A100': #39479c,
        'A100-contrast': white,
        'A200': #333d83,
        'A200-contrast': white,
        'A400': #2e3172,
        'A400-contrast': white,
        'A700': #262851,
        'A700-contrast': white,
    ),
    'secondary': (
        '50': #c5cdff,
        '50-contrast': black,
        '100': #a3aff6,
        '100-contrast': black,
        '200': #8293f8,
        '200-contrast': black,
        '300': #7385f4,
        '300-contrast': black,
        '400': #5468d9,
        '400-contrast': black,
        '500': #3f51b5,
        '500-contrast': white,
        '600': #39479c,
        '600-contrast': white,
        '700': #333d83,
        '700-contrast': white,
        '800': #2e3172,
        '800-contrast': white,
        '900': #262851,
        '900-contrast': white,
        'A100': #39479c,
        'A100-contrast': white,
        'A200': #333d83,
        'A200-contrast': white,
        'A400': #2e3172,
        'A400-contrast': white,
        'A700': #262851,
        'A700-contrast': white,
    ),
    'gray': (
        '50': #fcfcfd,
        '50-contrast': black,
        '100': #f8f8fa,
        '100-contrast': black,
        '200': #ebedf2,
        '200-contrast': black,
        '300': #d6d8dc,
        '300-contrast': black,
        '400': #c3c4c7,
        '400-contrast': black,
        '500': #9a9da2,
        '500-contrast': black,
        '600': #6c707a,
        '600-contrast': white,
        '700': #545762,
        '700-contrast': white,
        '800': #3b3d47,
        '800-contrast': white,
        '900': #24252c,
        '900-contrast': white,
    ),
    'info': (
        '50': #f1c3ff,
        '50-contrast': black,
        '100': #e89eff,
        '100-contrast': black,
        '200': #dd71ff,
        '200-contrast': black,
        '300': #da64ff,
        '300-contrast': black,
        '400': #bc34d3,
        '400-contrast': white,
        '500': #9c27b0,
        '500-contrast': white,
        '600': #8c16a0,
        '600-contrast': white,
        '700': #7f1192,
        '700-contrast': white,
        '800': #6f0a80,
        '800-contrast': white,
        '900': #5c056b,
        '900-contrast': white,
        'A100': #8c16a0,
        'A100-contrast': white,
        'A200': #7f1192,
        'A200-contrast': white,
        'A400': #6f0a80,
        'A400-contrast': white,
        'A700': #5c056b,
        'A700-contrast': white,
    ),
    'success': (
        '50': #edf3e7,
        '50-contrast': black,
        '100': #d2e2c3,
        '100-contrast': black,
        '200': #b4cf9c,
        '200-contrast': black,
        '300': #95bc74,
        '300-contrast': black,
        '400': #7fad56,
        '400-contrast': black,
        '500': #689f38,
        '500-contrast': black,
        '600': #5a912a,
        '600-contrast': black,
        '700': #4e8222,
        '700-contrast': white,
        '800': #3d7012,
        '800-contrast': white,
        '900': #316109,
        '900-contrast': white,
        'A100': #5a912a,
        'A100-contrast': black,
        'A200': #4e8222,
        'A200-contrast': white,
        'A400': #3d7012,
        'A400-contrast': white,
        'A700': #316109,
        'A700-contrast': white,
    ),
    'warn': (
        '50': #fed7b7,
        '50-contrast': black,
        '100': #ffc696,
        '100-contrast': black,
        '200': #ffad67,
        '200-contrast': black,
        '300': #fb8f32,
        '300-contrast': black,
        '400': #fa7b0e,
        '400-contrast': black,
        '500': #f56b1d,
        '500-contrast': black,
        '600': #f05a2b,
        '600-contrast': black,
        '700': #ec4820,
        '700-contrast': black,
        '800': #df370e,
        '800-contrast': black,
        '900': #d22900,
        '900-contrast': white,
        'A100': #f05a2b,
        'A100-contrast': black,
        'A200': #ec4820,
        'A200-contrast': black,
        'A400': #df370e,
        'A400-contrast': black,
        'A700': #d22900,
        'A700-contrast': white,
    ),
    'error': (
        '50': #ffebf0,
        '50-contrast': black,
        '100': #ffb0b7,
        '100-contrast': black,
        '200': #fc7f8a,
        '200-contrast': black,
        '300': #ec5461,
        '300-contrast': black,
        '400': #dd3544,
        '400-contrast': black,
        '500': #cf1a2b,
        '500-contrast': white,
        '600': #c31223,
        '600-contrast': white,
        '700': #b90415,
        '700-contrast': white,
        '800': #ae0111,
        '800-contrast': white,
        '900': #9f000f,
        '900-contrast': white,
        'A100': #c31223,
        'A100-contrast': white,
        'A200': #b90415,
        'A200-contrast': white,
        'A400': #ae0111,
        'A400-contrast': white,
        'A700': #9f000f,
        'A700-contrast': white,
    ),
    'surface': $surface-shades,
    _meta: (
        variant: 'indigo',
    ),
);
